.footer {
  background: $beige-bg;
  @include vw-convert-pc(padding, (60, 60, 40, 60));

  .box_brand {
    @include vw-convert-pc(padding-top, 20)
  }

  .slogan {
    color: $beige;
    font-family: 'Intrinseca', sans-serif;
    @include vw-convert-pc(margin-top, 30);
    @include vw-font-style-pc(70, 300, 1.1);
  }

  .logo {
    &:before {
      content: '';
      display: block;
      @include useSvg-icons('logo', 98px);
    }
  }
  .footer_info {
    @include vw-convert-pc(padding-right, 152);
    @include vw-convert-pc(min-width, 432);
  }
  .list_notice {
    display: flex;
    flex-direction: column;
    @include vw-convert-pc(gap, 12);
    .item_notice {
      display: flex;
      @include vw-convert-pc(gap, 25);
    }
    .notice_title {
      color: $font-gray;
      @include vw-font-style-pc(13, 700, 1.5);

      &:not(:first-child) {
        position: relative;
      }

      &:not(:first-child):before {
        position: absolute;
        display: block;
        top: 50%;
        background: $light-gray;
        transform: translateY(-50%);
        content: '';
        @include vw-convert-pc(left, -12);
        @include vw-convert-pc(width, 1);
        @include vw-convert-pc(height, 12);
      }
    }
    .notice_desc {
      color: $font-gray;
      @include vw-font-style-pc(12, 500, 1.5);
    }
  }
  .list_footer_link {
    display: flex;
    @include vw-convert-pc(gap, 24);
    .footer_link {
      color: $font-gray;
      @include vw-font-style-pc(12, 500, 1.5);
    }
  }

  .footer_bottom {
    @include vw-convert-pc(margin-top, 160);
  }

  .box_etc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include vw-convert-pc(margin-top, 24);
  }
  .copyright {
    color: $font-gray;
    @include vw-font-style-pc(12, 500, 1.5);
  }
}

@include breakpoint(mobile) {
  .footer {
    position: relative;
    padding: 60px 20px;

    .box_brand{
      padding-top: 0;
    }

    .slogan {
      width: 100%;
      margin-top: 16px;
      letter-spacing: -0.04em;
      font-size: calc(40 * 100 /  360 * 1vw);
    }

    .logo {
      &:before {
        @include useSvg-icons-mo('logo', 78px);
      }
    }

    .list_notice {
      gap: 12px;
      .item_notice {
        flex-direction: column;
        gap: 4px;
      }
      .notice_title {
        font-size: 13px;

        &:not(:first-child):before {
          display: none;
        }
      }
      .notice_desc {
        font-size: 12px;
      }
    }

    .list_footer_link {
      gap: 24px;
      .footer_link {
        font-size: 12px;
      }
    }

    .footer_info {
      margin-top: 60px;
      padding: 0;
      min-width: 0;
    }
    .footer_bottom {
      flex-direction: column-reverse;
      margin-top: 40px;
      .box_text {
        width: 100%;
      }
    }

    .box_etc {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 24px;
    }
    .copyright {
      margin-top: 12px;
      font-size: 12px;
    }
  }
}
