$screen-xsm: 320px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1366px;
$screen-xlg: 1920px;

$black: #000;
$white: #fff;
$beige-bg: #f2f0eb;
$light-gray: #b9b9b9;
$dark-gray: #444;
$primary-light: #faf9f7;
$primary-color: #7A3420;

$font-black: #212121;
$font-black2: #222;
