<!DOCTYPE html>
<html lang="ko">

<%-include('./include/layout/head.ejs',{
  "title": "IPARK | Sub Layout", 
  "listTitle": "Sub Layout : Common",
  "metaDesc":"IPARK 분양사이트 템플릿",
  "ogTitle":"IPARK | Sub Layout",
  "ogDesc":"IPARK 분양사이트 템플릿",
  "ogImage":"../img/common/ipark-og-image.jpg",
  })%>
<body>
<%-include('./include/layout/skipnavigation.ejs')%>
  <div class="wrap">
    <!-- Header -->
    <%-include('./include/layout/header.ejs')%>
    <!-- //Header -->
    <!-- Contents -->
    <main class="container" id="content">
    <%-include('./include/sub/sec_sub_kv.ejs', {
        breadcrumb: ['HOME', 'SUB'],
        title: `SUB <br class="only_mo">LAYOUT`,
        imgs: ['../img/sub/01/img_kv_01_01.jpg', '../img/sub/01/img_kv_01_02.jpg'],
        subTitle: '서브 페이지 공통 레이아웃',
        desc: `서브 페이지에서 사용하는 공통 헤더, KV, 푸터 레이아웃입니다.`,
      })%>
    </main>
    <!-- // Contents -->
    <!-- Footer -->
    <%-include('./include/layout/footer.ejs')%>
    <!-- //Footer -->
  </div>
<%-include('./include/layout/script.ejs')%>
</body>
</html>
