<!DOCTYPE html>
<html lang="ko">

<%-include('./include/layout/head.ejs',{
  "title": "IPARK | 주거를 넘어 삶을 설계하는 브랜드", 
  "listTitle": "검색 결과 : 메인",
  "metaDesc":"IPARK는 주거를 넘어 삶의 경험을 연결하며, 삶의 방식을 설계하는 라이프스타일 플랫폼 브랜드입니다.",
  "ogTitle":"IPARK | 주거를 넘어 삶을 설계하다",
  "ogDesc":"IPARK는 공간을 넘어 삶의 경험을 연결하며, 라이프스타일의 미래 비전을 제안합니다.",
  "ogImage":"../img/common/ipark-og-image.jpg",
  })%>
<body>
<%-include('./include/layout/skipnavigation.ejs')%>
  <div class="wrap">
    <!-- Header -->
    <%-include('./include/layout/header.ejs',{
      status:'login'
    })%>
    <!-- //Header -->
    <!-- Contents -->
    <main class="container" id="content">
      <section class="sec_search">
        <h1 class="title">검색 결과</h1>
        <div class="box_search_input">
          <input type="text" class="input" placeholder="지역명이나 단지명을 입력해 주세요." value="청라 국제도시 아이파크">
          <button type="button" class="btn_search">
            <span class="blind">검색</span>
          </button>
        </div>
        <p class="search_result"><em class="keyword">청라 국제도시 아이파크</em>(으)로 검색하신 결과는 <em class="highlight">총 1건</em> 입니다.</p>
        <div class="box_content">
          <strong class="content_title">단지정보(3건)</strong>
          <ul class="list_product type_link">
            <li class="item_product">
              <a href="#" class="link_product">
                <div class="box_thumb">
                  <span class="badge_interest">관심단지</span>
                  <img src="../img/main/img_project_01.jpg" alt="">
                  <dl class="list_info">
                    <div class="item_info">
                      <dt class="item_title">유형</dt>
                      <dd class="item_desc">오피스텔</dd>
                    </div>
                    <div class="item_info">
                      <dt class="item_title">위치</dt>
                      <dd class="item_desc">충남 천안시 서북구 부대동 409-1 일원충남 천안시 서북구 부대동 409-1 일원</dd>
                    </div>
                    <div class="item_info">
                      <dt class="item_title">세대수</dt>
                      <dd class="item_desc">총 1,222세대</dd>
                    </div>
                    <div class="item_info">
                      <dt class="item_title">분양시기</dt>
                      <dd class="item_desc">2025-08</dd>
                    </div>
                  </dl>
                </div>
                <div class="box_text">
                  <div class="box_badge">
                    <span class="badge">
                      분양중
                    </span>
                    <span class="badge">
                      공사중
                    </span>
                  </div>
                  <strong class="name">천안 아이파트 시티 2단지</strong>
                  <p class="desc">새로운 청라를 사는 가장 높은 자부심</p>
                </div>
              </a>
              <button type="button" class="btn_interest type_remove">
                관심단지 해제
              </button>
            </li>
            <li class="item_product">
              <a href="#" class="link_product">
                <div class="box_thumb">
                  <img src="../img/main/img_project_01.jpg" alt="">
                  <dl class="list_info">
                    <div class="item_info">
                      <dt class="item_title">유형</dt>
                      <dd class="item_desc">오피스텔</dd>
                    </div>
                    <div class="item_info">
                      <dt class="item_title">위치</dt>
                      <dd class="item_desc">충남 천안시 서북구 부대동 409-1 일원충남 천안시 서북구 부대동 409-1 일원</dd>
                    </div>
                    <div class="item_info">
                      <dt class="item_title">세대수</dt>
                      <dd class="item_desc">총 1,222세대</dd>
                    </div>
                    <div class="item_info">
                      <dt class="item_title">분양시기</dt>
                      <dd class="item_desc">2025-08</dd>
                    </div>
                  </dl>
                </div>
                <div class="box_text">
                  <div class="box_badge">
                    <span class="badge type_gray">
                      분양완료
                    </span>
                  </div>
                  <strong class="name">대구 범어 2차 아이파크</strong>
                  <p class="desc">범어에서 완성되는 가치, 새로운 프리미엄의 시작 범어에서
                    완성되는 가치, 범어에서 완성되는 가치, 범어에서 완성되는 가범어에서 완성되는 가치, 새로운 프리미엄의 시작 범어에서
                    완성되는 가치, 범어에서 완성되는 가치, 범어에서 완성되는 가</p>
                </div>
              </a>
              <button type="button" class="btn_interest">
                관심단지 등록
              </button>
            </li>
            <li class="item_product">
              <a href="#" class="link_product">
                <div class="box_thumb">
                  <img src="../img/main/img_project_01.jpg" alt="">
                  <dl class="list_info">
                    <div class="item_info">
                      <dt class="item_title">유형</dt>
                      <dd class="item_desc">오피스텔</dd>
                    </div>
                    <div class="item_info">
                      <dt class="item_title">위치</dt>
                      <dd class="item_desc">충남 천안시 서북구 부대동 409-1 일원충남 천안시 서북구 부대동 409-1 일원</dd>
                    </div>
                    <div class="item_info">
                      <dt class="item_title">세대수</dt>
                      <dd class="item_desc">총 1,222세대</dd>
                    </div>
                    <div class="item_info">
                      <dt class="item_title">분양시기</dt>
                      <dd class="item_desc">2025-08</dd>
                    </div>
                  </dl>
                </div>
                <div class="box_text">
                  <div class="box_badge">
                    <span class="badge type_gray">
                      분양완료
                    </span>
                  </div>
                  <strong class="name">강릉 오션시티 아이파크</strong>
                  <p class="desc">범어에서 완성되는 가치, 새로운 프리미엄의 시작 범어에서
                    완성되는 가치, 범어에서 완성되는 가치, 범어에서 완성되는 가범어에서 완성되는 가치, 새로운 프리미엄의 시작 범어에서
                    완성되는 가치, 범어에서 완성되는 가치, 범어에서 완성되는 가</p>
                </div>
              </a>
              <button type="button" class="btn_interest">
                관심단지 등록
              </button>
            </li>
            <li class="item_product">
              <a href="#" class="link_product">
                <div class="box_thumb">
                  <img src="../img/main/img_project_01.jpg" alt="">
                  <dl class="list_info">
                    <div class="item_info">
                      <dt class="item_title">유형</dt>
                      <dd class="item_desc">오피스텔</dd>
                    </div>
                    <div class="item_info">
                      <dt class="item_title">위치</dt>
                      <dd class="item_desc">충남 천안시 서북구 부대동 409-1 일원충남 천안시 서북구 부대동 409-1 일원</dd>
                    </div>
                    <div class="item_info">
                      <dt class="item_title">세대수</dt>
                      <dd class="item_desc">총 1,222세대</dd>
                    </div>
                    <div class="item_info">
                      <dt class="item_title">분양시기</dt>
                      <dd class="item_desc">2025-08</dd>
                    </div>
                  </dl>
                </div>
                <div class="box_text">
                  <div class="box_badge">
                    <span class="badge">
                      분양중
                    </span>
                    <span class="badge">
                      공사중
                    </span>
                  </div>
                  <strong class="name">천안 아이파트 시티 2단지</strong>
                  <p class="desc">새로운 청라를 사는 가장 높은 자부심</p>
                </div>
              </a>
              <button type="button" class="btn_interest">
                관심단지 등록
              </button>
            </li>
            <li class="item_product">
              <a href="#" class="link_product">
                <div class="box_thumb">
                  <img src="../img/main/img_project_01.jpg" alt="">
                  <dl class="list_info">
                    <div class="item_info">
                      <dt class="item_title">유형</dt>
                      <dd class="item_desc">오피스텔</dd>
                    </div>
                    <div class="item_info">
                      <dt class="item_title">위치</dt>
                      <dd class="item_desc">충남 천안시 서북구 부대동 409-1 일원충남 천안시 서북구 부대동 409-1 일원</dd>
                    </div>
                    <div class="item_info">
                      <dt class="item_title">세대수</dt>
                      <dd class="item_desc">총 1,222세대</dd>
                    </div>
                    <div class="item_info">
                      <dt class="item_title">입주시기</dt>
                      <dd class="item_desc">2025-08</dd>
                    </div>
                  </dl>
                </div>
                <div class="box_text">
                  <div class="box_badge">
                    <span class="badge type_gray">
                      분양완료
                    </span>
                  </div>
                  <strong class="name">대구 범어 2차 아이파크</strong>
                  <p class="desc">범어에서 완성되는 가치, 새로운 프리미엄의 시작 범어에서
                    완성되는 가치, 범어에서 완성되는 가치, 범어에서 완성되는 가범어에서 완성되는 가치, 새로운 프리미엄의 시작 범어에서
                    완성되는 가치, 범어에서 완성되는 가치, 범어에서 완성되는 가</p>
                </div>
              </a>
              <button type="button" class="btn_interest">
                관심단지 등록
              </button>
            </li>
            <li class="item_product">
              <a href="#" class="link_product">
                <div class="box_thumb">
                  <img src="../img/main/img_project_01.jpg" alt="">
                  <dl class="list_info">
                    <div class="item_info">
                      <dt class="item_title">유형</dt>
                      <dd class="item_desc">오피스텔</dd>
                    </div>
                    <div class="item_info">
                      <dt class="item_title">위치</dt>
                      <dd class="item_desc">충남 천안시 서북구 부대동 409-1 일원충남 천안시 서북구 부대동 409-1 일원</dd>
                    </div>
                    <div class="item_info">
                      <dt class="item_title">세대수</dt>
                      <dd class="item_desc">총 1,222세대</dd>
                    </div>
                    <div class="item_info">
                      <dt class="item_title">분양시기</dt>
                      <dd class="item_desc">2025-08</dd>
                    </div>
                  </dl>
                </div>
                <div class="box_text">
                  <div class="box_badge">
                    <span class="badge type_gray">
                      분양완료
                    </span>
                  </div>
                  <strong class="name">강릉 오션시티 아이파크</strong>
                  <p class="desc">범어에서 완성되는 가치, 새로운 프리미엄의 시작 범어에서
                    완성되는 가치, 범어에서 완성되는 가치, 범어에서 완성되는 가범어에서 완성되는 가치, 새로운 프리미엄의 시작 범어에서
                    완성되는 가치, 범어에서 완성되는 가치, 범어에서 완성되는 가</p>
                </div>
              </a>
              <button type="button" class="btn_interest">
                관심단지 등록
              </button>
            </li>
          </ul>
          <%- include('./include/button/btn_more.ejs') %>
        </div>
        <div class="box_content">
          <strong class="content_title">IPARK STORY(4건)</strong>
          <ul class="list_news">
            <li class="item_news">
              <a href="#">
                <div class="box_thumb">
                  <img src="../img/@tmp/@tmp_project_space2.jpg" alt="">
                </div>
                <span class="date">2030-12-31</span>
                <strong class="news_title">여기에 제목이 최대 2줄 들어갑니다. 여기에 제목이 최대 2줄 들어갑니다. 여기에 제목 여기에 제목이 최대 2줄 들어갑니다. 여기에 제목이 최대 2줄 들어갑니다. 여기에 제목 </strong>
              </a>
            </li>
            <li class="item_news">
              <a href="#">
                <div class="box_thumb">
                  <img src="../img/@tmp/@tmp_project_space2.jpg" alt="">
                </div>
                <span class="date">2030-12-31</span>
                <strong class="news_title">여기에 제목이 최대 2줄 들어갑니다. 여기에 제목이 최대 2줄 들어갑니다. 여기에 제목 여기에 제목이 최대 2줄 들어갑니다. 여기에 제목이 최대 2줄 들어갑니다. 여기에 제목 </strong>
              </a>
            </li>
            <li class="item_news">
              <a href="#">
                <div class="box_thumb">
                  <img src="../img/@tmp/@tmp_project_space2.jpg" alt="">
                </div>
                <span class="date">2030-12-31</span>
                <strong class="news_title">여기에 제목이 최대 2줄</strong>
              </a>
            </li>
            <li class="item_news">
              <a href="#">
                <div class="box_thumb">
                  <img src="../img/@tmp/@tmp_project_space2.jpg" alt="">
                </div>
                <span class="date">2030-12-31</span>
                <strong class="news_title">여기에 제목이 최대 2줄 들어갑니다. 여기에 제목이 최대 2줄 들어갑니다. 여기에 제목 여기에 제목이 최대 2줄 들어갑니다. 여기에 제목이 최대 2줄 들어갑니다. 여기에 제목 </strong>
              </a>
            </li>
            <li class="item_news">
              <a href="#">
                <div class="box_thumb">
                  <img src="../img/@tmp/@tmp_project_space2.jpg" alt="">
                </div>
                <span class="date">2030-12-31</span>
                <strong class="news_title">여기에 제목이 최대 2줄 들어갑니다. 여기에 제목이 최대 2줄 들어갑니다. 여기에 제목 여기에 제목이 최대 2줄 들어갑니다. 여기에 제목이 최대 2줄 들어갑니다. 여기에 제목 </strong>
              </a>
            </li>
            <li class="item_news">
              <a href="#">
                <div class="box_thumb">
                  <img src="../img/@tmp/@tmp_project_space2.jpg" alt="">
                </div>
                <span class="date">2030-12-31</span>
                <strong class="news_title">여기에 제목이 최대 2줄 들어갑니다. 여기에 제목이 최대 2줄 들어갑니다. 여기에 제목 여기에 제목이 최대 2줄 들어갑니다. 여기에 제목이 최대 2줄 들어갑니다. 여기에 제목 </strong>
              </a>
            </li>
          </ul>
          <%- include('./include/button/btn_more.ejs') %>
        </div>
      </section>
      
      
    </main>
    <!-- // Contents -->
    <!-- Footer -->
    <%-include('./include/layout/footer.ejs')%>
    <!-- //Footer -->
  </div>
<%-include('./include/layout/script.ejs')%>
</body>
</html>