<!DOCTYPE html>
<html lang="ko">

<%-include('./include/layout/head.ejs',{
  "title": "IPARK 디자인 | 감각이 완성하는 주거 경험", 
  "listTitle": "아이파크 디자인 : 프로젝트",
  "metaDesc":"IPARK 디자인은 감각적 공간과 기술의 조화를 통해 일상의 흐름을 주거 경험으로 완성합니다.",
  "ogTitle":"IPARK 디자인 | 감각이 완성하는 주거 경험",
  "ogDesc":"IPARK의 디자인 철학과 공간 구현, 그리고 기술이 만드는 새로운 주거 경험을 만나보세요.",
  "ogImage":"../img/common/ipark-og-image.jpg",
  })%>
<body>
<%-include('./include/layout/skipnavigation.ejs')%>
  <div class="wrap">
    <!-- Header -->
    <%-include('./include/layout/header.ejs')%>
    <!-- //Header -->
    <!-- Contents -->
    <main class="container" id="content">
      <%-include('./include/sub/sec_sub_kv.ejs', {
        breadcrumb: ['HOME', 'PROJECTS', 'IPARK 주거 디자인'],
        title: `IPARK <br class="only_mo">DESIGN`,
        subTitle: `공간에서 감각으로`,
        desc: `건축과 공간을 넘어 도시·문화·라이프스타일까지 <br class="only_mo">아우르는 통합적 디자인을 통해, <br>일상과 경험을 유기적으로 연결하는 <br class="only_mo">‘Creator of Life Space’로서 <br class="only_pc">아이파크의 <br class="only_mo">주거 라이프를 새로운 경험으로 완성합니다.`,
      })%>
      <div class="design_content">
        <section class="sec_design sec_design_philosophy">
          <div class="box_title_top">
            <div class="box_left animate_auto">
              <p class="eyebrow">Design Philosophy</p>
              <h2 class="title">IPARK에서 누리는 <br class="only_mo">일상의 순간,<br >
                IPARK에서 거니는 <br class="only_mo">공감의 여정</h2>
            </div>
            <p class="desc animate_auto type_delay">집 밖에서 집 안으로 이어지는 모든 여정을 하나의 공간 경험으로 설계합니다. <br>
              일상 속 특별한 순간들, PARK MOMENTS가 이어져 IPARK만의 PARK WAY를 <br class="only_pc">
              품격있게 완성합니다.
              
              </p>
          </div>
          <div class="box_img animate">
            <img src="../img/design/img_design_philosophy.jpg" alt="">
          </div>
        </section>
        <section class="sec_design_moments">
          <ul class="list_moments">
            <li class="item_moment">
              <div class="box_moment_title animate">
                <p class="moment_eyebrow">Moment 1</p>
                <h3 class="moment_title">도시를 사로잡는 상징적 풍경, <br class="only_pc">첫 인상을 완성하는 외관</h3>
                <p class="moment_desc">IPARK의 주동 디자인은 단순한 외관을 넘어 <br>
                  삶을 바라보는 새로운 시선을 제안합니다.</p>
                <p class="moment_desc"> 빛과 바람이 머무는 공간의 흐름을 열고, <br>
                  당신의 일상이 하나의 작품으로 보일 수 있는 <br>
                  감각적인 건축의 틀을 완성했습니다. </p>
                <p class="moment_desc">  정교하게 설계된 입면의 조형미는 <br>
                  단지의 품격을 세우고, <br>
                  매일 마주하는 건축의 선은 <br>
                  당신의 일상에 특별한 영감을 더합니다.</p>
              </div>
              <div class="box_moment_img animate">
                <img src="../img/design/img_design_moment_1.jpg" alt="">
              </div>
            </li>
            <li class="item_moment">
              <div class="box_moment_title animate">
                <p class="moment_eyebrow">Moment 2</p>
                <h3 class="moment_title">일상의 여정을 여는 첫 장면, <br class="only_pc">한 차원 높은 경험으로의 진입</h3>
                <p class="moment_desc">문주는 단순한 경계 요소를 넘어, <br>
                  단지의 품격과 정체성을 처음으로 마주하는 공간입니다. </p>
                <p class="moment_desc">수공간과 조경이 어우러진 진입 풍경 속에서 <br>
                  단지와 자연스럽게 이어지는 맞이 공간은 <br>
                  특별한 공간에 도착한 듯 환대받는 경험을 선사합니다. </p>
                <p class="moment_desc">단지로 들어서는 여정의 첫 순간부터, <br>
                  당신을 IPARK만의 특별한 경험으로 초대합니다.</p>
              </div>
              <div class="box_moment_img animate">
                <img src="../img/design/img_design_moment_2.jpg" alt="">
              </div>
            </li>
            <li class="item_moment">
              <div class="box_moment_title animate">
                <p class="moment_eyebrow">Moment 3</p>
                <h3 class="moment_title">자연과 연결된 흐름 속, <br class="only_pc">풍경을 품은 커뮤니티</h3>
                <p class="moment_desc">IPARK의 커뮤니티 센터는 <br>
                  단지의 지형과 주변 풍경을 자연스럽게 이어 <br>
                  실내와 외부가 유기적으로 연결되는 <br>
                  개방감 있는 공간을 제공합니다. </p>
                <p class="moment_desc">자연의 흐름을 따라 열린 공간 속에서 <br>
                  휴식과 소통의 순간은 더욱 깊어지고, <br>
                  일상의 시간은 더욱 여유로운 경험으로 확장됩니다. </p>
                <p class="moment_desc">풍경과 함께 머무는 커뮤니티 공간은 <br>
                  입주민의 일상에 새로운 활력을 더합니다.</p>
              </div>
              <div class="box_moment_img animate">
                <img src="../img/design/img_design_moment_3.jpg" alt="">
              </div>
            </li>
            <li class="item_moment">
              <div class="box_moment_title animate">
                <p class="moment_eyebrow">Moment 4</p>
                <h3 class="moment_title">삶의 균형을 찾아가는 <br class="only_pc">사색의 여정, 사유의 정원</h3>
                <p class="moment_desc">IPARK의 야외공간은 단순히 공간을 만드는 것을 넘어,<br>
                  주거의 본질을 새롭게 정의합니다.</p>
                <p class="moment_desc">이곳에서 당신의 사색은 삶의 균형을 찾아가는 여정이 되고, <br>
                  자연, 그리고 사람과의 교류를 통해<br>
                  새로운 삶의 활력이 재탄생됩니다.</p>
                <p class="moment_desc">바쁜 일상 속에서 단순히 몸을 뉘는 장소가 아닌, <br>
                  삶의 본질적인 의미를 발견하는 정신적 휴식처, <br>
                  그것이 IPARK가 새롭게 선사하는 사유의 정원입니다.</p>
              </div>
              <div class="box_moment_img animate">
                <img src="../img/design/img_design_moment_4.jpg" alt="">
              </div>
            </li>
            <li class="item_moment">
              <div class="box_moment_title animate">
                <p class="moment_eyebrow">Moment 5</p>
                <h3 class="moment_title">발걸음이 모이는 중심 풍경, <br class="only_pc">휴식과 이야기가 머무는 <br class="only_pc">티하우스</h3>
                <p class="moment_desc">티 하우스는 입주민의 일상 속에서 잠시 머물며 <br>
                  휴식과 재충전을 누릴 수 있는 공간입니다. 
                  </p>
                <p class="moment_desc">조경과 풍경을 가까이에서 즐기는 <br>
                  열린 공간 속에서 머무는 시간은 <br>
                  더욱 깊은 휴식으로 이어지고 <br>
                  자연스럽게 사람들의 이야기가 흘러갑니다. 
                  </p>
                <p class="moment_desc">단지의 중심에서 사람들의 발걸음이 모이는 이곳은 <br>
                  모두의 일상이 교차하는 공간이자 <br>
                  IPARK의 상징적인 풍경으로 자리합니다.</p>
              </div>
              <div class="box_moment_img animate">
                <img src="../img/design/img_design_moment_5.jpg" alt="">
              </div>
            </li>
            <li class="item_moment">
              <div class="box_moment_title animate">
                <p class="moment_eyebrow">Moment 6</p>
                <h3 class="moment_title">하늘 위로 확장된 일상, <br class="only_pc">새로운 시선이 열리는 <br class="only_pc">스카이 라운지</h3>
                <p class="moment_desc">단지의 가장 높은 곳에서 <br>
                  도심의 풍경과 하늘이 맞닿는 공간.
                  </p>
                <p class="moment_desc">루프탑 조경과 열린 조망이 어우러져 <br>
                  일상의 시간은 한층 넓은 풍경으로 확장되고, <br>
                  다양한 프로그램과 감각적인 공간 경험이 <br>
                  머무는 순간을 더욱 특별하게 만듭니다.</p>
                <p class="moment_desc">이곳은 입주민의 자부심이 되는 <br>
                  IPARK만의 스카이라운지입니다.
                  </p>
              </div>
              <div class="box_moment_img animate">
                <img src="../img/design/img_design_moment_6.jpg" alt="">
              </div>
            </li>
            <li class="item_moment">
              <div class="box_moment_title animate">
                <p class="moment_eyebrow">Moment 7</p>
                <h3 class="moment_title">하루의 여정이 머무는 <br class="only_pc">동 출입구, 집으로 이어지는 <br class="only_pc">환대의 순간</h3>
                <p class="moment_desc">동 출입구는 하루의 여정 끝에서 <br>
                  집으로 이어지는 마지막 공간입니다. 
                  </p>
                <p class="moment_desc">단지로 이어지는 흐름 속에서 <br>
                  상징적인 진입 공간과 섬세한 디테일이 어우러져 <br>
                  집으로 향하는 순간에 깊은 인상을 더합니다. 
                  </p>
                <p class="moment_desc">따뜻한 분위기와 감각적인 공간 연출은 <br>
                  집으로 돌아오는 매일의 발걸음을 <br>
                  환대의 경험으로 완성합니다.
                  </p>
              </div>
              <div class="box_moment_img animate">
                <img src="../img/design/img_design_moment_7.jpg" alt="">
              </div>
            </li>
          </ul>
        </section>
        <section class="sec_design sec_design_master">
          <div class="inner">
            <p class="eyebrow animate">IPARK Masterpiece</p>
            <h3 class="title animate">철학이 공간으로 <br class="only_mo">이어지는 방식</h3>
            <ul class="list_master animate">
              <li class="item_master">
                <button type="button" class="btn_master" data-item="0">
                  <img src="../img/design/img_design_master_thumb_2.jpg" alt="">
                </button>
              </li>
              <li class="item_master">
                <button type="button" class="btn_master" data-item="1">
                  <img src="../img/design/img_design_master_1.jpg" alt="">
                </button>
              </li>
              <li class="item_master">
                <button type="button" class="btn_master" data-item="2">
                  <img src="../img/design/img_design_master_3.jpg" alt="">
                </button>
              </li>
              <li class="item_master" style="display: none">
                <button type="button" class="btn_master" data-item="3">
                  <img src="../img/design/img_design_master_thumb_4.jpg" alt="">
                </button>
              </li>
              <li class="item_master" style="display: none">
                <button type="button" class="btn_master" data-item="4">
                  <img src="../img/design/img_design_master_5.jpg" alt="">
                </button>
              </li>
              
            </ul>
            <%- include('./include/button/btn_more.ejs') %>
          </div>
        </section>
      </div>
    </main>
    <!-- // Contents -->
    <!-- Footer -->
    <%-include('./include/layout/footer.ejs')%>
    <!-- //Footer -->
  </div>
  <div class="layer_master">
    <div class="layer_master_inner">
      <div class="layer_master_content">
      <div class="box_text">
        <strong class="title">도심속의 보석 URBAN GEM <a href="https://hdc-dvp.com/newsroom/view.do?search=true&searchOption=&searchInput=%EC%A0%95%EC%9B%90&idx=5728
          " target="_blank" class="link_news"><span class="blind">뉴스 보기</span></a></strong>
          <p class="desc">서울국제정원박람회에서 선보인 아이파크 가든은 도심 한가운데 숨겨진 자연의 가치를 보석처럼 빛내는 정원 프로젝트입니다.
            아이파크의 간결하고 모던한 디자인 언어 위에, 숲과 유리 블록이 어우러진 미래지향적 자연을 구현했습니다. 주·야간의 감상 포인트를 달리해 24시간
            지속 가능한 경관 경험을 완성했으며, 시민과 함께하는 ESG 정원으로 조성되어, 브랜드 가치와 지역사회 공공성을 동시에 담아낸 공간입니다.</p>
      </div>
      <div class="box_img">
        <img src="../img/design/img_design_master_2.jpg" alt="">
      </div>
      </div>
      <button type="button" class="btn_close">
        <span class="blind">닫기</span>
      </button>
    </div>
  </div>
  <div class="layer_master">
    <div class="layer_master_inner">
      <div class="layer_master_content">
      <div class="box_text">
        <strong class="title">시그니처 파크 (디에이치 퍼스티어 아이파크) <a href="https://hdc-dvp.com/newsroom/view.do?search=true&searchOption=&searchInput=%ED%8D%BC%EC%8A%A4%ED%8B%B0%EC%96%B4&idx=5775
          " target="_blank" class="link_news"><span class="blind">뉴스 보기</span></a></strong>
          <p class="desc">두 개의 대규모 시그니처파크와 다섯 개의 테마정원을 통해 도심 한가운데에서 초대형 단지만이 구현할 수 있는 스케일의 자연을 완성한 조경 공간입니다. 
            수경시설과 아트, 입주민을 위한 커뮤니티 프로그램이 어우러져 자연과 사람이 연결되는 장면을 만들며, 계절의 변화를 담아내는 입체적 식재 계획으로 다양한 휴식과 활동을 지원합니다. 2024년 굿디자인어워드(GD) 환경디자인 부문 우수디자인 상품에 선정되며 공간의 완성도를 인정받았습니다.</p>
      </div>
      <div class="box_img">
        <img src="../img/design/img_design_master_1.jpg" alt="">
      </div>
      </div>
      <button type="button" class="btn_close">
        <span class="blind">닫기</span>
      </button>
    </div>
  </div>
  
  <div class="layer_master">
    <div class="layer_master_inner">
      <div class="layer_master_content">
      <div class="box_text">
        <strong class="title">아이파크 워터 오브제 (수원 센트럴 아이파크 자이)
          <a href="https://hdc-dvp.com/newsroom/view.do?search=true&searchOption=&searchInput=%EC%88%98%EC%9B%90&idx=5588
          " target="_blank" class="link_news"><span class="blind">뉴스 보기</span></a></strong>
          <p class="desc">물과 화강석이 만들어내는 유연한 흐름을 통해, 공간 속에 리듬과 깊이를 더한 아이파크 워터 오브제는 다양한 각도에서 변화하는 형태를 감상하도록 설계해, 단순한 조형물을 넘어 ‘경험하는 경관’을 구현했습니다. 
            데크로드를 연결해 물의 흐름 속으로 자연스럽게 스며들 수 있도록 구성함으로써, 머무르고 사색하는 외부 공간을 완성하며, 건축과 조경이 하나의 파노라마로 이어지도록 통합 디자인하여 단지의 콘셉트를 입체적으로 드러냅니다.
            2023년 굿디자인어워드(GD) 공간·환경디자인 부문 우수디자인 상품으로 선정되며, 조경 디자인의 완성도를 인정받았습니다.
          </p>
      </div>
      <div class="box_img">
        <img src="../img/design/img_design_master_3.jpg" alt="">
      </div>
      </div>
      <button type="button" class="btn_close">
        <span class="blind">닫기</span>
      </button>
    </div>
  </div>
  <div class="layer_master">
    <div class="layer_master_inner">
      <div class="layer_master_content">
      <div class="box_text">
        <strong class="title">자연과 한국적 선의 조화 (해운대 아이파크)</strong>
          <p class="desc">해운대 아이파크는 부산 해운대의 상징적 랜드마크로 자리한 세계적 복합 주거·업무·쇼핑 공간입니다. <br>파도의 우아함과 힘, 동백꽃의 독특한 구성, 바람을 머금은 돛의 형상에서 영감을 받아 유기적인 스카이라인을 완성하고, 한국 전통 사찰과 주거 건축에서 나타나는 섬세하고 아름다운 곡선을 현대적으로 재해석해, 부드러우면서도 강인한 입면을 구현했습니다.<br>해운대 아이파크는 자연 모티브를 건축 언어로 승화시킨, 아이파크 디자인 철학을 상징적으로 드러내는 마스터피스 입니다.</p>
      </div>
      <div class="box_img">
        <img src="../img/design/img_design_master_4.jpg" alt="">
      </div>
      </div>
      <button type="button" class="btn_close">
        <span class="blind">닫기</span>
      </button>
    </div>
  </div>
  <div class="layer_master">
    <div class="layer_master_inner">
      <div class="layer_master_content">
      <div class="box_text">
        <strong class="title">자연을 반영한 하나의 도시 (수원 아이파크 시티)</strong>
          <p class="desc">수원 아이파크 시티는 IPARK의 건축 철학이 깃든 ‘디자인 명품도시’로, 자연과 도시가 조화롭게 어우러진 친환경 미래 주거 공간입니다. <br>숲·대지·물 등 자연에서 추출한 5가지 디자인 모티프가 건물과 외부 공간 전반에 생명력 있게 반영되어, 각 구조물 자체가 하나의 작품처럼 살아 있으며, <br>두 개의 자연형 하천과 다양한 친수 시설, 근린공원이 연결되며 친환경 생태 도시로서의 라이프스타일을 완성합니다.</p>
      </div>
      <div class="box_img">
        <img src="../img/design/img_design_master_5.jpg" alt="">
      </div>
      </div>
      <button type="button" class="btn_close">
        <span class="blind">닫기</span>
      </button>
    </div>
  </div>
<%-include('./include/layout/script.ejs')%>
</body>
</html>