<!DOCTYPE html>
<html lang="ko">

<%-include('./include/layout/head.ejs',{
  "title": "IPARK | 주거를 넘어 삶을 설계하는 브랜드", 
  "listTitle": "1:1 문의등록 : 마이 아이파크",
  "metaDesc":"IPARK는 주거를 넘어 삶의 경험을 연결하며, 삶의 방식을 설계하는 라이프스타일 플랫폼 브랜드입니다.",
  "ogTitle":"IPARK | 주거를 넘어 삶을 설계하다",
  "ogDesc":"IPARK는 공간을 넘어 삶의 경험을 연결하며, 라이프스타일의 미래 비전을 제안합니다.",
  "ogImage":"../img/common/ipark-og-image.jpg",
  })%>
<body>
<%-include('./include/layout/skipnavigation.ejs')%>
  <div class="wrap">
    <!-- Header -->
    <%-include('./include/layout/header.ejs',{
      status:'login'
    })%>
    <!-- //Header -->
    <!-- Contents -->
    <main class="container" id="content">
      <%-include('./include/sub/sec_sub_kv.ejs', {
        breadcrumb: ['HOME', 'MY IPARK', '1:1 문의'],
        title: `MY IPARK`,
      })%>
      <%-include('./include/sub/tab.ejs', {
        listTab: ['나의 정보 조회', '나의 관심 단지', '1:1 문의', '회원 정보 수정'],
        selectBtn: '1:1 문의',
      })%>
      <%-include('./include/sub/tab_detail.ejs', {
        listTab: ['1:1 문의등록', '1:1 문의내역'],
        selectBtn: '1:1 문의등록',
        activeIndex: 0,
      })%>
      <div class="my_content">
        <section class="sec_my sec_my_inquiry_submit">
          <h2 class="title">1:1 문의</h2>
          <p class="required_desc">항목은 필수 입력 항목입니다. </p>
          <div class="box_content box_layout_right">
            <div class="box_row type_column">
              <span class="label is_required">문의 유형</span>
              <div class="box_inquiry_type">
                <%-include('./include/select/select.ejs', {
                  selectText: '대분류',
                  selectList: ['하자', '문의 유형'],
                })%>
                <span class="arrow"></span>
                <%-include('./include/select/select.ejs', {
                  selectText: '중분류',
                  selectList: ['중분류1', '중분류2', '중분류3', '중분류4', '중분류5', '중분류6', '중분류7', '중분류8', '중분류9', '중분류10'],
                })%>
                <span class="arrow"></span>
                <%-include('./include/select/select.ejs', {
                  selectText: '소분류',
                  selectList: ['소분류1', '소분류2', '소분류3', '소분류4', '소분류5', '소분류6', '소분류7', '소분류8', '소분류9', '소분류10'],
                })%>
              </div>
            </div>
            <div class="box_row">
              <div class="box_input">
                <label for="inquiry_name" class="label">단지 선택</label>
                <input type="text" id="inquiry_name" class="input" placeholder="단지명이나 지역을 검색해 보세요." />
                <!-- [D] 검색 시 btn_clear에 is_show 추가 -->
                <button type="button" class="btn_clear">
                  <span class="blind">검색 초기화</span>
                </button>
                <button type="button" class="btn_search">
                  <span class="blind">검색</span>
                </button>
                <!-- [D] 검색시 list_select_box 추가 -->
                <ul class="list_select_box">
                  <li class="item_select_box">
                    <button type="button" class="btn_select_item">갈매역 IPARK</button>
                  </li>
                  <li class="item_select_box">
                    <button type="button" class="btn_select_item">강남역 IPARK</button>
                  </li>
                  <li class="item_select_box">
                    <button type="button" class="btn_select_item">단지명</button>
                  </li>
                  <li class="item_select_box">
                    <button type="button" class="btn_select_item">단지명</button>
                  </li>
                  <li class="item_select_box">
                    <button type="button" class="btn_select_item">단지명</button>
                  </li>
                  <li class="item_select_box">
                    <button type="button" class="btn_select_item">단지명</button>
                  </li>
                </ul>
              </div>
            </div>
            <div class="box_row">
              <%-include('./include/input/input.ejs', {
                className: 'is_required',
                type: 'text',
                id: 'inquiry_title',
                name: 'inquiry_title',
                label:'문의 제목',
                placeholder: '제목을 입력해주세요.',
              })%>
            </div>
            <div class="box_row type_column">
              <label for="inquiry_content" class="label is_required">문의 내용</label>
              <textarea id="inquiry_content" class="textarea" placeholder="문의 내용을 입력해 주세요. "></textarea>
            </div>
            <div class="box_row type_column">
              <span class="label is_required">파일 첨부</span>
              <div class="box_file box_input">
                <input type="file" id="inquiry_file1" class="blind">
                <label for="inquiry_file1" class="label_file">
                  <span class="input">선택된 파일이 없습니다.
                  </span>
                  <span class="btn_rounded">파일 찾아보기</span>
                </label>
                <button type="button" class="btn_delete">
                  <span class="blind">파일 선택 취소</span>
                </button>
              </div>
              <div class="box_file box_input">
                <input type="file" id="inquiry_file2" class="blind">
                <label for="inquiry_file2" class="label_file">
                  <span class="input">선택된 파일이 없습니다.
                  </span>
                  <span class="btn_rounded">파일 찾아보기</span>
                </label>
                <button type="button" class="btn_delete">
                  <span class="blind">파일 선택 취소</span>
                </button>
              </div>
              <div class="box_file box_input">
                <input type="file" id="inquiry_file3" class="blind">
                <label for="inquiry_file3" class="label_file">
                  <span class="input">선택된 파일이 없습니다.
                  </span>
                  <span class="btn_rounded">파일 찾아보기</span>
                </label>
                <button type="button" class="btn_delete">
                  <span class="blind">파일 선택 취소</span>
                </button>
              </div>
              <p class="notice_desc">* 각 파일은 5mb를 초과할 수 없으며 최대 3개까지 첨부 가능합니다.</p>

            </div>
            <div class="box_btn">
              <%-include('./include/button/btn.ejs', {
                className: 'type_secondary',
                text: '초기화',
              })%>
              <%-include('./include/button/btn.ejs', {
                text: '문의 제출하기',
              })%>
            </div>
          </div>
        </section>
      </div>
    </main>
    <!-- // Contents -->
    <!-- Footer -->
    <%-include('./include/layout/footer.ejs')%>
    <!-- //Footer -->
  </div>
<%-include('./include/layout/script.ejs')%>
<!-- [D] 마크업 검수용, 개발제외 -->
<style>
  .caseview{
    position: fixed; right: 0; bottom: 0;background: rgba(0,0,0,0.5);
    z-index: 10000;
  }
  .btn_caseview{
    font-size: 14px; color: yellow;padding: 10px;width: 100%;
  }
  .list_caseview{
    display: none; flex-direction: column; gap: 10px;text-align: left;align-items: flex-start;padding: 10px;
  }
  .list_caseview.is_show{
    display: flex;
  }
  .btn_caseview_item{
    font-size: 14px; color: #fff;width: 100%;
    text-align: left;
  }
 </style>
<div class="caseview">
  <button type="button" class="btn_caseview">Caseview Toogle</button>
  <div class="list_caseview">
    <button type="button" class="btn_caseview_item" onClick="document.querySelector('.box_input .list_select_box').style.display = 'block';document.querySelector('.box_input .btn_clear').classList.add('is_show');">단지 선택 검색 시</button>
  </div>
</div>
<script>
   document.querySelector('.btn_caseview').addEventListener('click', function() {
    document.querySelector('.list_caseview').classList.toggle('is_show');
  });

</script>
<!-- // [D] 마크업 검수용, 개발제외 -->
</body>
</html>