b<!DOCTYPE html>
<html lang="ko">

<%-include('./include/layout/head.ejs',{
  "title": "IPARK | 주거를 넘어 삶을 설계하는 브랜드", 
  "listTitle": "1:1 문의등록 - 완료 : 마이 아이파크",
  "metaDesc":"IPARK는 주거를 넘어 삶의 경험을 연결하며, 삶의 방식을 설계하는 라이프스타일 플랫폼 브랜드입니다.",
  "ogTitle":"IPARK | 주거를 넘어 삶을 설계하다",
  "ogDesc":"IPARK는 공간을 넘어 삶의 경험을 연결하며, 라이프스타일의 미래 비전을 제안합니다.",
  "ogImage":"../img/common/ipark-og-image.jpg",
  })%>
<body>
<%-include('./include/layout/skipnavigation.ejs')%>
  <div class="wrap">
    <!-- Header -->
    <%-include('./include/layout/header.ejs',{
      status:'login'
    })%>
    <!-- //Header -->
    <!-- Contents -->
    <main class="container" id="content">
      <%-include('./include/sub/sec_sub_kv.ejs', {
        breadcrumb: ['HOME', 'MY IPARK', '회원 정보 수정'],
        title: `MY IPARK`,
      })%>
      <%-include('./include/sub/tab.ejs', {
        listTab: ['나의 정보 조회', '나의 관심 단지', '1:1 문의', '회원 정보 수정'],
        selectBtn: '1:1 문의',
      })%>
      <div class="my_content">
        <section class="sec_my sec_my_edit">
          <div class="box_edit_confirm">
            <p class="confirm_desc">1:1 문의가 성공적으로 등록되었습니다.</p>
              <%-include('./include/button/btn.ejs', {
                text: '1:1 문의내역 보러가기',
              })%>
          </div>
        </section>
      </div>
    </main>
    <!-- // Contents -->
    <!-- Footer -->
    <%-include('./include/layout/footer.ejs')%>
    <!-- //Footer -->
  </div>
<%-include('./include/layout/script.ejs')%>
</body>
</html>