<!DOCTYPE html>
<html lang="ko">

<%-include('./include/layout/head.ejs',{
  "title": "IPARK | 주거를 넘어 삶을 설계하는 브랜드", 
  "listTitle": "나의 정보 조회 - 분양대금 조회 : 마이 아이파크",
  "metaDesc":"IPARK는 주거를 넘어 삶의 경험을 연결하며, 삶의 방식을 설계하는 라이프스타일 플랫폼 브랜드입니다.",
  "ogTitle":"IPARK | 주거를 넘어 삶을 설계하다",
  "ogDesc":"IPARK는 공간을 넘어 삶의 경험을 연결하며, 라이프스타일의 미래 비전을 제안합니다.",
  "ogImage":"../img/common/ipark-og-image.jpg",
  })%>
<body>
<%-include('./include/layout/skipnavigation.ejs')%>
  <div class="wrap">
    <!-- Header -->
    <%-include('./include/layout/header.ejs',{
      status:'login'
    })%>
    <!-- //Header -->
    <!-- Contents -->
    <main class="container" id="content">
      <%-include('./include/sub/sec_sub_kv.ejs', {
        breadcrumb: ['HOME', 'MY IPARK', '나의 정보 조회'],
        title: `MY IPARK`,
      })%>
      <%-include('./include/sub/tab.ejs', {
        listTab: ['나의 정보 조회', '나의 관심 단지', '1:1 문의', '회원 정보 수정'],
        selectBtn: '나의 정보 조회',
      })%>
      <%-include('./include/sub/tab_detail.ejs', {
        listTab: ['계약 안내', '분양대금 조회', '연체·할인 계산기',  '입주안내'],
        selectBtn: '분양대금 조회',
        activeIndex: 1,
      })%>
      <div class="my_content">
        <section class="sec_my sec_my_payment_list">
          <h2 class="title type_small"><em class="highlight">정아이</em>님의 <br class="only_mo">분양대금 <em class="highlight">납입 현황</em>을 알려드립니다.</h2>
          <div class="box_content">
            <%-include('./include/select/select_my.ejs', {
              label: '단지명',
              selectText: '꿀단지0101동 0501호',
              selectList: ['꿀단지0101동 0501호', '꿀단지0101동 0502호', '꿀단지0101동 0503호'],
            })%>
            <%-include('./include/select/select_my.ejs', {
              label: '금액구분',
              selectText: '분양',
              selectList: ['분양', '옵션'],
            })%>
          </div>
        </section>
        <section class="sec_my sec_my_payment_info">
          <h2 class="title">납입내역</h2>
          <div class="box_content">
            <div class="only_pc">
              <div class="box_table">
                <table class="table_my">
                  <caption class="blind">분양대금 납입 현황</caption>
                  <thead>
                    <tr>
                      <th colspan="3">공급금액</th>
                      <th colspan="2">납입금액</th>
                      <th colspan="4">납입방법</th>
                    </tr>
                    <tr class="title_row">
                      <th>구분</th>
                      <th>약정일</th>
                      <th>약정금액</th>
                      <th>입금일</th>
                      <th>실입금액</th>
                      <th>할인료</th>
                      <th>연체료</th>
                      <th>입금금액</th>
                      <th>전체미수금</th>
                    </tr>                
                  </thead>
                  <tbody>
                    <tr>
                      <td>계약금1차</td>
                      <td>2023-11-23</td>
                      <td>10,000,000</td>
                      <td>2023-11-23</td>
                      <td>10,000,000</td>
                      <td>0</td>
                      <td>0</td>
                      <td>10,000,000</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>계약금2차</td>
                      <td>2019-02-01</td>
                      <td>14,100,000</td>
                      <td>-</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>14,100,000</td>
                    </tr>
                    <tr>
                      <td>중도금1차</td>
                      <td>2019-05-01</td>
                      <td>24,100,000</td>
                      <td>-</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>24,100,000</td>
                    </tr>
                    <tr>
                      <td>중도금2차</td>
                      <td>2019-05-01</td>
                      <td>24,100,000</td>
                      <td>-</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>24,100,000</td>
                    </tr>
                    <tr>
                      <td>중도금3차</td>
                      <td>2019-05-01</td>
                      <td>24,100,000</td>
                      <td>-</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>24,100,000</td>
                    </tr>
                    <tr>
                      <td>중도금4차</td>
                      <td>2020-03-02</td>
                      <td>24,100,000</td>
                      <td>-</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>24,100,000</td>
                    </tr>
                    <tr>
                      <td>잔금</td>
                      <td>2022-08-01</td>
                      <td>120,500,000</td>
                      <td>-</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>120,500,000</td>
                    </tr>
                    <tr class="total">
                      <td>합계</td>
                      <td></td>
                      <td>241,000,000</td>
                      <td></td>
                      <td>10,000,000</td>
                      <td>0</td>
                      <td>0</td>
                      <td>10,000,000</td>
                      <td>120,500,000</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="only_mo">
              <div class="box_table">
                <table class="table_my">
                  <caption class="blind">분양대금 납입 현황</caption>
                  <thead>
                    <tr>
                      <th colspan="3">공급금액</th>
                    </tr>
                    <tr class="title_row">
                      <th>구분</th>
                      <th>약정일</th>
                      <th>약정금액</th>
                    </tr>                
                  </thead>
                  <tbody>
                    <tr>
                      <td>계약금1차</td>
                      <td>2023-11-23</td>
                      <td>10,000,000</td>
                    </tr>
                    <tr>
                      <td>계약금2차</td>
                      <td>2019-02-01</td>
                      <td>14,100,000</td>
                    </tr>
                    <tr>
                      <td>중도금1차</td>
                      <td>2019-05-01</td>
                      <td>24,100,000</td>
                    </tr>
                    <tr>
                      <td>중도금2차</td>
                      <td>2019-05-01</td>
                      <td>24,100,000</td>
                    </tr>
                    <tr>
                      <td>중도금3차</td>
                      <td>2019-05-01</td>
                      <td>24,100,000</td>
                    </tr>
                    <tr>
                      <td>중도금4차</td>
                      <td>2020-03-02</td>
                      <td>24,100,000</td>
                    </tr>
                    <tr>
                      <td>잔금</td>
                      <td>2022-08-01</td>
                      <td>120,500,000</td>
                    </tr>
                    <tr class="total">
                      <td>합계</td>
                      <td></td>
                      <td>241,000,000</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="box_table">
                <table class="table_my" >
                  <caption class="blind">분양대금 납입 현황</caption>
                  <thead>
                    <tr>
                      <th colspan="3">계약자 실입금액</th>
                    </tr>
                    <tr class="title_row">
                      <th>구분</th>
                      <th>입금일</th>
                      <th>실입금액</th>
                    </tr>                
                  </thead>
                  <tbody>
                    <tr>
                      <td>계약금1차</td>
                      <td>2023-11-23</td>
                      <td>10,000,000</td>
                    </tr>
                    <tr>
                      <td>계약금2차</td>
                      <td>-</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>중도금1차</td>
                      <td>-</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>중도금2차</td>
                      <td>-</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>중도금3차</td>
                      <td>-</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>중도금4차</td>
                      <td>-</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>잔금</td>
                      <td>-</td>
                      <td>0</td>
                    </tr>
                    <tr class="total">
                      <td>합계</td>
                      <td></td>
                      <td>10,000,000</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="box_table">
                <table class="table_my" >
                  <caption class="blind">분양대금 납입 현황</caption>
                  <thead>
                    <tr>
                      <th colspan="4">납입 처리 결과</th>
                    </tr>
                    <tr class="title_row">
                      <th>구분</th>
                      <th>할인료</th>
                      <th>연체료</th>
                      <th>전체미수금</th>
                    </tr>                
                  </thead>
                  <tbody>
                    <tr>
                      <td>계약금1차</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>계약금2차</td>
                      <td>0</td>
                      <td>0</td>
                      <td>14,100,000</td>
                    </tr>
                    <tr>
                      <td>중도금1차</td>
                      <td>0</td>
                      <td>0</td>
                      <td>24,100,000</td>
                    </tr>
                    <tr>
                      <td>중도금2차</td>
                      <td>0</td>
                      <td>0</td>
                      <td>24,100,000</td>
                    </tr>
                    <tr>
                      <td>중도금3차</td>
                      <td>0</td>
                      <td>0</td>
                      <td>24,100,000</td>
                    </tr>
                    <tr>
                      <td>중도금4차</td>
                      <td>0</td>
                      <td>0</td>
                      <td>24,100,000</td>
                    </tr>
                    <tr>
                      <td>잔금</td>
                      <td>0</td>
                      <td>0</td>
                      <td>120,500,000</td>
                    </tr>
                    <tr class="total">
                      <td>합계</td>
                      <td>10,000,000,000</td>
                      <td>10,000,000,000</td>
                      <td>10,000,000,000</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>


          </div>
        </section>
        <%-include('./include/banner/banner_app.ejs')%>

      </div>
      
    </main>
    <!-- // Contents -->
    <!-- Footer -->
    <%-include('./include/layout/footer.ejs')%>
    <!-- //Footer -->
  </div>
<%-include('./include/layout/script.ejs')%>
</body>
</html>