b<!DOCTYPE html>
<html lang="ko">

<%-include('./include/layout/head.ejs',{
  "title": "IPARK | 주거를 넘어 삶을 설계하는 브랜드",
  "listTitle": "회원 정보 수정 - 회원 정보 수정 : 마이 아이파크",
  "metaDesc":"IPARK는 주거를 넘어 삶의 경험을 연결하며, 삶의 방식을 설계하는 라이프스타일 플랫폼 브랜드입니다.",
  "ogTitle":"IPARK | 주거를 넘어 삶을 설계하다",
  "ogDesc":"IPARK는 공간을 넘어 삶의 경험을 연결하며, 라이프스타일의 미래 비전을 제안합니다.",
  "ogImage":"../img/common/ipark-og-image.jpg",
  })%>
<body>
<%-include('./include/layout/skipnavigation.ejs')%>
  <div class="wrap">
    <!-- Header -->
    <%-include('./include/layout/header.ejs',{
      status:'login'
    })%>
    <!-- //Header -->
    <!-- Contents -->
    <main class="container" id="content">
      <%-include('./include/sub/sec_sub_kv.ejs', {
        breadcrumb: ['HOME', 'MY IPARK', '회원 정보 수정'],
        title: `MY IPARK`,
      })%>
      <%-include('./include/sub/tab.ejs', {
        listTab: ['나의 정보 조회', '나의 관심 단지', '1:1 문의', '회원 정보 수정'],
        selectBtn: '회원 정보 수정',
      })%>
      <div class="my_content">
        <section class="sec_my sec_my_edit">
          <h2 class="title type_medium">
            <em class="highlight">회원 정보 수정</em>을 <br>간편하고 쉽게 <br class="only_mo">수정해 보세요.
          </h2>
          <div class="box_content box_layout_right">
            <div class="box_user_info">
              <strong class="edit_title">기본정보</strong>
              <dl class="list_user_info">
                <div class="item_user_info">
                  <dt class="item_title">이름</dt>
                  <dd class="item_desc">정아이</dd>
                </div>
                <div class="item_user_info">
                  <dt class="item_title">성별</dt>
                  <dd class="item_desc">여자</dd>
                </div>
                <div class="item_user_info">
                  <dt class="item_title">아이디</dt>
                  <dd class="item_desc">123456</dd>
                </div>
                <div class="item_user_info">
                  <dt class="item_title">생년월일</dt>
                  <dd class="item_desc">1990-01-01</dd>
                </div>
              </dl>
            </div>
            <div class="box_user_form">
              <div class="box_title">
                <strong class="edit_title">회원정보</strong> <p class="required_desc">필수 입력</p>
              </div>
              <div class="box_row type_column">
                <span class="label is_required">휴대폰 번호</span>
                <div class="box_phone_input">
                  <%-include('./include/input/input.ejs', {
                    type: 'number',
                    id: 'phone_first',
                    name: 'phone_first',
                    value: '010',
                    readonly: true,
                  })%>
                  <%-include('./include/input/input.ejs', {
                    type: 'number',
                    id: 'phone_middle',
                    name: 'phone_middle',
                    value: '1234',
                    readonly: true,
                  })%>
                  <%-include('./include/input/input.ejs', {
                    type: 'number',
                    id: 'phone_last',
                    name: 'phone_last',
                    value: '5678',
                    readonly: true,
                  })%>
                  <%-include('./include/button/btn_rounded.ejs', {
                    text: '휴대폰 인증',
                  })%>
                </div>
              </div>
              <div class="box_row box_password">
                <%-include('./include/input/input.ejs', {
                  className: 'is_required',
                  label:'비밀번호',
                  type: 'password',
                  id: 'password',
                  name: 'password',
                  placeholder: '변경할 비밀번호를 입력해 주세요.',
                })%>
                <p class="notice_desc">* 8~12자리, 영문 대/소문자 구분</p>
              </div>
              <div class="box_row">
                <%-include('./include/input/input.ejs', {
                  className: 'is_required',
                  label:'비밀번호 확인',
                  type: 'password',
                  id: 'password_check',
                  name: 'password_check',
                  placeholder: '변경 비밀번호를 다시 입력해 주세요.',
                })%>
              </div>
              <div class="box_row type_column">
                <span class="label is_required">이메일 주소</span>
                <div class="box_email_input">
                  <%-include('./include/input/input.ejs', {
                    type: 'text',
                    id: 'email',
                    name: 'email',
                  })%>
                  <%-include('./include/input/input.ejs', {
                    type: 'text',
                    id: 'email_domain',
                    name: 'email',
                  })%>
                  <%-include('./include/select/select.ejs', {
                    selectText: '직접입력',
                    selectList: ['직접입력', 'naver.com', 'daum.net', 'gmail.com', 'nate.com', 'yahoo.com', 'hotmail.com', 'outlook.com', 'icloud.com', 'kakao.com'],
                  })%>
                </div>
              </div>
              <div class="box_row type_column">
                <span class="label is_required">주소</span>
                <div class="box_address">
                  <div class="box_postcode">
                    <%-include('./include/input/input.ejs', {
                      type: 'text',
                      id: 'postcode',
                      name: 'postcode',
                      value:"21400" ,
                      readonly: true,
                    })%>
                    <%- include('./include/button/btn_rounded.ejs', {
                      text: '우편번호 검색',
                    }) %>
                  </div>
                  <%-include('./include/input/input.ejs', {
                    type: 'text',
                    id: 'address',
                    name: 'address',
                    value:"서울 용산구 한강로3가 40-999",
                    readonly: true,
                    className: 'type_address',
                  })%>
                  <%-include('./include/input/input.ejs', {
                    type: 'text',
                    id: 'detail_address',
                    name: 'detail_address',
                    placeholder: '나머지 주소를 입력해 주세요.',
                  })%>
                </div>
              </div>
              <p class="cs_info">홈페이지 및 모바일앱 내 회원 정보만 변경되며 계약 정보 변경을 원하시면 <br class="only_mo">고객센터(1670-1144)로 연락 바랍니다.</p>
              <div class="box_btn_area">
                <a href="#" class="link_text">회원 탈퇴하기</a>
                <div class="box_btn">
                  <%-include('./include/button/btn.ejs', {
                    className: 'type_secondary',
                    text: '취소',
                  })%>
                  <%-include('./include/button/btn.ejs', {
                    text: '수정하기',
                  })%>
                </div>
              </div>

            </div>
          </div>

        </section>
      </div>
    </main>
    <!-- // Contents -->
    <!-- Footer -->
    <%-include('./include/layout/footer.ejs')%>
    <!-- //Footer -->
  </div>
<%-include('./include/layout/script.ejs')%>
<!-- [D] 마크업 검수용, 개발제외 -->
<style>
  .caseview{
    position: fixed; right: 0; bottom: 0;background: rgba(0,0,0,0.5);
    z-index: 10000;
  }
  .btn_caseview{
    font-size: 14px; color: yellow;padding: 10px;width: 100%;
  }
  .list_caseview{
    display: none; flex-direction: column; gap: 10px;text-align: left;align-items: flex-start;padding: 10px;
  }
  .list_caseview.is_show{
    display: flex;
  }
  .btn_caseview_item{
    font-size: 14px; color: #fff;width: 100%;
    text-align: left;
  }
 </style>
<div class="caseview">
  <button type="button" class="btn_caseview">Caseview Toogle</button>
  <div class="list_caseview">
    <button type="button" class="btn_caseview_item" onClick="document.querySelectorAll('.sec_my_inquiry_list')[0].style.display = 'none';document.querySelectorAll('.sec_my_inquiry_list')[1].style.display = 'block';">문의 내역 없음</button>
  </div>
</div>
<script>
   document.querySelector('.btn_caseview').addEventListener('click', function() {
    document.querySelector('.list_caseview').classList.toggle('is_show');
  });

</script>
<!-- // [D] 마크업 검수용, 개발제외 -->
</body>
</html>
