<!DOCTYPE html>
<html lang="ko">
  <%-include('./include/layout/head.ejs',{
  "title": "아이파크 공지사항 | 공식 안내 및 소식",
  "listTitle": "공지사항 : 고객센터",
  "metaDesc": "아이파크의 주요 공지사항과 공식 안내 소식을 확인하실 수 있습니다.",
  "ogTitle": "아이파크 공지사항 | 공식 안내 및 소식",
  "ogDesc": "아이파크의 공식 공지사항과 주요 안내 소식을 한 곳에서 확인하세요.",
  "ogImage":"../img/common/ipark-og-image.jpg",
  })%>
<body>
<%-include('./include/layout/skipnavigation.ejs')%>
  <div class="wrap">
    <!-- Header -->
    <%-include('./include/layout/header.ejs',{
      status:'login'
    })%>
    <!-- //Header -->
    <!-- Contents -->
    <main class="container" id="content">
    <%-include('./include/sub/sec_sub_kv.ejs', {
        breadcrumb: ['HOME', 'CONTACT', '공지사항'],
        title: `CONTACT`,
      })%>
      <%-include('./include/sub/tab.ejs', {
        listTab: ['고객센터 안내', '자주묻는 질문', 'A/S 안내', '공지사항'],
        selectBtn: '공지사항',
      })%>
      <div class="contact_content">
        <section class="sec_contact sec_contact_notice">
          <h2 class="title">아이파크 관련<br>
            공지사항 목록</h2>
          <div class="box_notice">
            <ul class="list_notice">
              <li class="item_notice item_notice_head">
                <span class="number">번호</span>
                <div class="box_title">
                  <span class="title">제목</span>
                  <span class="date">등록일</span>
                </div>
              </li>
              <li class="item_notice">
                <a href="#">
                  <span class="number">01</span>
                  <div class="box_title">
                    <p class="title">[잠실 래미안 아이파크] 실내 공기질 측정 입회 신청인 모집</p>
                    <span class="date">2026.01.30</span>
                  </div>
                </a>
              </li>
              <li class="item_notice">
                <a href="#">
                  <span class="number">02</span>
                  <div class="box_title">
                    <p class="title">텍스트는 한줄 말줄임 처리됩니다. 텍스트는 한줄 말줄임 처리됩니다. 텍스트는 한줄 말줄임 처리됩니다. 텍스트는 한줄 말줄임 처리됩니다. 텍스트는 한줄 말줄임 처리됩니다. 텍스트는 한줄 말줄임 처리됩니다. 텍스트는 한줄 말줄임 처리됩니다. 텍스트는 한줄 말줄임 처리됩니다.</p>
                    <span class="date">2026.01.30</span>
                  </div>
                </a>
              </li>
              <li class="item_notice">
                <a href="#">
                  <span class="number">03</span>
                  <div class="box_title">
                    <p class="title">[광명센트럴아이파크] 관심고객 4차 발표 안내</p>
                    <span class="date">2026.01.30</span>
                  </div>
                </a>
              </li>
              <li class="item_notice">
                <a href="#">
                  <span class="number">04</span>
                  <div class="box_title">
                    <p class="title">IPARK 개인정보처리방침 개정 안내</p>
                    <span class="date">2026.01.30</span>
                  </div>
                </a>
              </li>
              <li class="item_notice">
                <a href="#">
                  <span class="number">05</span>
                  <div class="box_title">
                    <p class="title">[잠실 래미안 아이파크] 실내 공기질 측정 입회 신청인 모집</p>
                    <span class="date">2026.01.30</span>
                  </div>
                </a>
              </li>
              <li class="item_notice">
                <a href="#">
                  <span class="number">06</span>
                  <div class="box_title">
                    <p class="title">[잠실 래미안 아이파크] 실내 공기질 측정 입회 신청인 모집</p>
                    <span class="date">2026.01.30</span>
                  </div>
                </a>
              </li>
              <li class="item_notice">
                <a href="#">
                  <span class="number">07</span>
                  <div class="box_title">
                    <p class="title">[잠실 래미안 아이파크] 실내 공기질 측정 입회 신청인 모집</p>
                    <span class="date">2026.01.30</span>
                  </div>
                </a>
              </li>
              <li class="item_notice">
                <a href="#">
                  <span class="number">08</span>
                  <div class="box_title">
                    <p class="title">[잠실 래미안 아이파크] 실내 공기질 측정 입회 신청인 모집</p>
                    <span class="date">2026.01.30</span>
                  </div>
                </a>
              </li>
              <li class="item_notice">
                <a href="#">
                  <span class="number">09</span>
                  <div class="box_title">
                    <p class="title">[잠실 래미안 아이파크] 실내 공기질 측정 입회 신청인 모집</p>
                    <span class="date">2026.01.30</span>
                  </div>
                </a>
              </li>
              <li class="item_notice">
                <a href="#">
                  <span class="number">10</span>
                  <div class="box_title">
                    <p class="title">[잠실 래미안 아이파크] 실내 공기질 측정 입회 신청인 모집</p>
                    <span class="date">2026.01.30</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <%-include('./include/pagination.ejs')%>
        </section>
      </div>
    </main>
    <!-- // Contents -->
    <!-- Footer -->
    <%-include('./include/layout/footer.ejs')%>
    <!-- //Footer -->
  </div>

<%-include('./include/layout/script.ejs')%>
</body>
</html>
