<!DOCTYPE html>
<html lang="ko">
<%-include('./include/layout/head.ejs',{
  "title": "아이파크 | 삶을 설계하는 라이프스타일 브랜드",
  "listTitle": "사이트맵 : 기타페이지",
  "metaDesc":"아이파크는 주거를 넘어 도시·레저·리테일까지, 삶의 흐름을 설계합니다.",
  "ogTitle":"아이파크 | 삶을 설계하는 라이프스타일 브랜드",
  "ogDesc":"아이파크는 주거를 넘어 도시·레저·리테일까지, 삶의 흐름을 설계하는 라이프스타일 브랜드입니다.",
  "ogImage":"../img/common/ipark-og-image.jpg",
  })%>
<body>
<%-include('./include/layout/skipnavigation.ejs')%>
  <div class="wrap">
    <!-- Header -->
    <%-include('./include/layout/header.ejs', {
      type: 'type_login'
    })%>
    <!-- //Header -->
    <!-- Contents -->
    <main class="container" id="content">
      <nav class="breadcrumb" aria-label="breadcrumb">
        <ol class="list_breadcrumb">
          <li class="item_breadcrumb">HOME</li>
          <li class="item_breadcrumb" aria-current="page">SITEMAP</li>
        </ol>
      </nav>
      <section class="sec_terms">
        <div class="inner">
          <h1 class="title">사이트맵</h1>
          <ul class="list_sitemap">
            <li class="item_sitemap">
              <h2 class="menu_name">BRANDS</h2>
              <div class="box_link">
                <h3><a href="#" class="link_text">브랜드 스토리</a></h3>
                <h3><a href="#" class="link_text">브랜드 디자인</a></h3>
              </div>
            </li>
            <li class="item_sitemap">
              <h2 class="menu_name">PROJECTS</h2>
              <div class="box_link">
                <h3><a href="#" class="link_text">주거 프로젝트 </a></h3>
                <h3><a href="#" class="link_text">IPARK 주거 디자인</a></h3>
                <h3><a href="#" class="link_text">IPARK 주거 상품</a></h3>
              </div>
            </li>
            <li class="item_sitemap">
              <h2 class="menu_name">CONTACT</h2>
              <div class="box_link">
                <h3><a href="#" class="link_text">고객센터 안내</a></h3>
                <h3><a href="#" class="link_text">공지사항</a></h3>
                <h3><a href="#" class="link_text">자주 묻는 질문</a></h3>
                <h3><a href="#" class="link_text">A/S 안내</a></h3>
              </div>
            </li>
            <li class="item_sitemap">
              <h2 class="menu_name">MY IPARK</h2>
              <div class="box_link">
                <h3><a href="#" class="link_text">나의 정보 조회</a></h3>
                <h3><a href="#" class="link_text">나의 관심 단지</a></h3>
                <h3><a href="#" class="link_text">1:1문의</a></h3>
                <h3><a href="#" class="link_text">회원정보 수정</a></h3>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </main>
    <!-- // Contents -->
    <!-- Footer -->
    <%-include('./include/layout/footer.ejs')%>
    <!-- //Footer -->
  </div>

<%-include('./include/layout/script.ejs')%>

</body>
</html>
