<!DOCTYPE html>
<html lang="ko">
<%-include('./include/layout/head.ejs',{
  "title": "아이파크 | 삶을 설계하는 라이프스타일 브랜드",
  "listTitle": "회원가입 - 완료 : 기타페이지",
  "metaDesc":"아이파크는 주거를 넘어 도시·레저·리테일까지, 삶의 흐름을 설계합니다.",
  "ogTitle":"아이파크 | 삶을 설계하는 라이프스타일 브랜드",
  "ogDesc":"아이파크는 주거를 넘어 도시·레저·리테일까지, 삶의 흐름을 설계하는 라이프스타일 브랜드입니다.",
  "ogImage":"../img/common/ipark-og-image.jpg",
  })%>
<body>
<%-include('./include/layout/skipnavigation.ejs')%>
  <div class="wrap">
    <!-- Header -->
    <%-include('./include/layout/header.ejs', {
      type: 'type_login'
    })%>
    <!-- //Header -->
    <!-- Contents -->
    <main class="container" id="content">
      <div class="join_content">
        <section class="sec_join_complete">
          <h1 class="title type_medium">회원가입이 완료되었습니다.</h1>
          <p class="sub_desc"><em class="highlight">IPARK의 가족이 되신 것을 축하드립니다.</em><br> 언제나 고객님께 정성을 다하는 IPARK가 되겠습니다.</p>
          <div class="box_content">
            <div class="box_guide">
              <p class="item_desc">IPARK에 대해 <br><em class="highlight">다양한 정보</em>를 만나 보세요.</p>
              <%- include('./include/button/btn_link.ejs', {
                text: '메인으로 가기',
                href: '#',
              }) %>
            </div>
            <div class="box_guide">
              <p class="item_desc"><em class="highlight">중도금 안내</em>를 <br>편리하게 이용해보세요.</p>
              <%- include('./include/button/btn_link.ejs', {
                text: '중도금 안내',
                href: '#',
              }) %>
            </div>
          </div>
        </section>
      </div>
    </main>
    <!-- // Contents -->
    <!-- Footer -->
    <%-include('./include/layout/footer.ejs')%>
    <!-- //Footer -->
  </div>

<%-include('./include/layout/script.ejs')%>

</body>
</html>
