<!DOCTYPE html>
<html lang="ko">
<%-include('./include/layout/head.ejs',{
  "title": "아이파크 | 삶을 설계하는 라이프스타일 브랜드",
  "listTitle": "관심고객 등록 - 정보 수집 동의 : 기타페이지",
  "metaDesc":"아이파크는 주거를 넘어 도시·레저·리테일까지, 삶의 흐름을 설계합니다.",
  "ogTitle":"아이파크 | 삶을 설계하는 라이프스타일 브랜드",
  "ogDesc":"아이파크는 주거를 넘어 도시·레저·리테일까지, 삶의 흐름을 설계하는 라이프스타일 브랜드입니다.",
  "ogImage":"../img/common/ipark-og-image.jpg",
  })%>
<body>
<%-include('./include/layout/skipnavigation.ejs')%>
  <div class="wrap">
    <!-- Header -->
    <%-include('./include/layout/header.ejs', {
      type: 'type_login'
    })%>
    <!-- //Header -->
    <!-- Contents -->
    <main class="container" id="content">
      <div class="interest_content">
        <section class="sec_interest">
          <h1 class="title">관심고객 등록</h1>
          <div class="box_content box_layout_right">
            <div class="box_sub_title">
              <h2 class="sub_title">개포 디에이치 퍼스티어 아이파크</h2>
            </div>
            <div class="box_terms">
              <p class="term_info">$단지명$는 아래와 같이 귀하의 개인정보를 수집, 이용하고자 합니다.</p>
              <div class="terms_content">
                <!--[D] iframe 영역-->
                <iframe src="./99_privacy_content2.html"></iframe>
              </div>
              
              <div class="terms_checkbox">
                <%- include('./include/input/checkbox.ejs', {
                  id: 'terms',
                  name: 'terms',
                  value: 'terms',
                  label: '(필수) 위 개인정보의 수집에 동의합니다.',
                }) %>
              </div>
              <div class="box_btn_area">
                <div class="box_btn">
                  <%- include('./include/button/btn.ejs', {
                    text: '다음',
                  }) %>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <!-- // Contents -->
    <!-- Footer -->
    <%-include('./include/layout/footer.ejs')%>
    <!-- //Footer -->
  </div>

<%-include('./include/layout/script.ejs')%>

</body>
</html>
