<!DOCTYPE html>
<html lang="ko">
<%-include('./include/layout/head.ejs',{
  "title": "아이파크 | 삶을 설계하는 라이프스타일 브랜드",
  "listTitle": "개인정보처리방침 : 기타페이지",
  "metaDesc":"아이파크는 주거를 넘어 도시·레저·리테일까지, 삶의 흐름을 설계합니다.",
  "ogTitle":"아이파크 | 삶을 설계하는 라이프스타일 브랜드",
  "ogDesc":"아이파크는 주거를 넘어 도시·레저·리테일까지, 삶의 흐름을 설계하는 라이프스타일 브랜드입니다.",
  "ogImage":"../img/common/ipark-og-image.jpg",
  })%>
<body>
<%-include('./include/layout/skipnavigation.ejs')%>
  <div class="wrap">
    <!-- Header -->
    <%-include('./include/layout/header.ejs', {
      type: 'type_login'
    })%>
    <!-- //Header -->
    <!-- Contents -->
    <main class="container" id="content">
      <nav class="breadcrumb" aria-label="breadcrumb">
        <ol class="list_breadcrumb">
          <li class="item_breadcrumb">HOME</li>
          <li class="item_breadcrumb" aria-current="page">개인정보처리방침</li>
        </ol>
      </nav>
      <section class="sec_terms">
        <div class="inner">
          <h1 class="title">개인정보처리방침</h1>
          <div class="box_filter">
            <button type="button" class="btn_filter">2023년 12월 05일 개정</button>
            <ul class="list_filter">
              <li class="item_filter">
                <button type="button" class="btn_filter_item" data-version="231205">2023년 12월 05일 개정</button>
              </li>
              <li class="item_filter">
                <button type="button" class="btn_filter_item" data-version="220914">2022년 09월 14일 개정</button>
              </li>
              <li class="item_filter">
                <button type="button" class="btn_filter_item" data-version="220712">2022년 07월 12일 개정</button>
              </li>
              <li class="item_filter">
                <button type="button" class="btn_filter_item" data-version="200601">2020년 06월 01일 개정</button>
              </li>
              <li class="item_filter">
                <button type="button" class="btn_filter_item" data-version="190917">2019년 09월 17일 개정</button>
              </li>
              <li class="item_filter">
                <button type="button" class="btn_filter_item" data-version="181207">2018년 12월 07일 개정</button>
              </li>
            </ul>
          </div>
          <div class="box_iframe">
            <iframe src="./99_privacy_content231205.html" frameborder="0"></iframe>
          </div>
        </div>
      </section>
    </main>
    <!-- // Contents -->
    <!-- Footer -->
    <%-include('./include/layout/footer.ejs')%>
    <!-- //Footer -->
  </div>

<%-include('./include/layout/script.ejs')%>

</body>
</html>
