<!DOCTYPE html>
<html lang="ko">
<%-include('./include/layout/head.ejs',{
  "title": "아이파크 | 삶을 설계하는 라이프스타일 브랜드",
  "listTitle": "회원가입 - 정보 수집 동의 : 기타페이지",
  "metaDesc":"아이파크는 주거를 넘어 도시·레저·리테일까지, 삶의 흐름을 설계합니다.",
  "ogTitle":"아이파크 | 삶을 설계하는 라이프스타일 브랜드",
  "ogDesc":"아이파크는 주거를 넘어 도시·레저·리테일까지, 삶의 흐름을 설계하는 라이프스타일 브랜드입니다.",
  "ogImage":"../img/common/ipark-og-image.jpg",
  })%>
<body>
<%-include('./include/layout/skipnavigation.ejs')%>
  <div class="wrap">
    <!-- Header -->
    <%-include('./include/layout/header.ejs', {
      type: 'type_login'
    })%>
    <!-- //Header -->
    <!-- Contents -->
    <main class="container" id="content">
      <section class="sec_join">
        <div class="inner">
          <h1 class="title type_medium">회원가입</h1>
          <div class="box_info">
            <div class="terms_list">
              <div class="terms_item">
                <div class="terms_checkbox">
                  <%-include('./include/input/checkbox.ejs', {
                    id: 'option_all',
                    className: 'option_all',
                    name: 'option',
                    value:'전체약관 및 마케팅수신 동의 내용에 모두 동의합니다.',
                    label: '전체약관 및 마케팅수신 동의 내용에 모두 동의합니다.',
                  })%>
                </div>
              </div>
              <div class="terms_item">
                <div class="terms_checkbox">
                  <%-include('./include/input/checkbox.ejs', {
                    id: 'terms',
                    name: 'option',
                    value:'[필수] 이용약관 동의',
                    label: '[필수] 이용약관 동의',
                  })%>
                  <button type="button" class="btn_view_link">보기</button>
                </div>
                <div class="terms_content">
                  <!--[D] iframe 영역-->
                  <iframe src="./99_clause_content.html"></iframe>
                </div>
              </div>
              <div class="terms_item">
                <div class="terms_checkbox">
                  <%-include('./include/input/checkbox.ejs', {
                    id: 'privacy',
                    name: 'option',
                    value:'[필수] 개인정보수집이용 동의',
                    label: '[필수] 개인정보수집이용 동의',
                  })%>
                  <button type="button" class="btn_view_link">보기</button>
                </div>
                <div class="terms_content">
                  <iframe src="./99_privacy_content_personal_info.html"></iframe>
                </div>
              </div>
              <div class="terms_item">
                <div class="terms_checkbox">
                  <%-include('./include/input/checkbox.ejs', {
                    id: 'marketing',
                    name: 'option',
                    value:'[선택] 마케팅수신 동의',
                    label: '[선택] 마케팅수신 동의',
                  })%>
                  <button type="button" class="btn_view_link">보기</button>
                </div>
                <div class="terms_content">
                  <iframe src="./99_marketing_content.html"></iframe>
                </div>
              </div>
            </div>
          </div>
          <div class="box_btn">
            <%-include('./include/button/btn_rounded.ejs', {
              text: '아이핀 인증',
              className: 'type_full',
            })%>
            <%-include('./include/button/btn_rounded.ejs', {
              text: '휴대폰 인증',
              className: 'type_full type_primary',
            })%>
          </div>
        </div>
      </section>
    </main>
    <!-- // Contents -->
    <!-- Footer -->
    <%-include('./include/layout/footer.ejs')%>
    <!-- //Footer -->
  </div>

<%-include('./include/layout/script.ejs')%>

</body>
</html>
