<!DOCTYPE html>
<html lang="ko">
<%-include('./include/layout/head.ejs',{
  "title": "아이파크 | 삶을 설계하는 라이프스타일 브랜드",
  "listTitle": "이메일주소무단수집거부 : 기타페이지",
  "metaDesc":"아이파크는 주거를 넘어 도시·레저·리테일까지, 삶의 흐름을 설계합니다.",
  "ogTitle":"아이파크 | 삶을 설계하는 라이프스타일 브랜드",
  "ogDesc":"아이파크는 주거를 넘어 도시·레저·리테일까지, 삶의 흐름을 설계하는 라이프스타일 브랜드입니다.",
  "ogImage":"../img/common/ipark-og-image.jpg",
  })%>
<body>
<%-include('./include/layout/skipnavigation.ejs')%>
  <div class="wrap">
    <!-- Header -->
    <%-include('./include/layout/header.ejs', {
      type: 'type_login'
    })%>
    <!-- //Header -->
    <!-- Contents -->
    <main class="container" id="content">
      <nav class="breadcrumb" aria-label="breadcrumb">
        <ol class="list_breadcrumb">
          <li class="item_breadcrumb">HOME</li>
          <li class="item_breadcrumb" aria-current="page">이메일주소무단수집거부</li>
        </ol>
      </nav>
      <section class="sec_terms">
        <div class="inner">
          <h1 class="title">이메일주소무단수집거부</h1>
          <div class="box_email">
            <p class="email_desc">IPARK 회원에게 무차별적으로 보내지는 타사의 메일을 차단하기 위해 본 웹사이트에 게시된 <br class="only_pc">이메일 주소가 전자우편 수집 프로그램이나 그 밖의 기술적 장치를 이용하여 무단으로 수집되는 것을 거부하며 <br class="only_pc">이를 위반할 경우 정보통신망법에 의해 형사처벌됨을 유념하시기 바랍니다. </p>
            <p class="email_date">게시일 2010년 7월</p>
          </div>
        </div>
      </section>
    </main>
    <!-- // Contents -->
    <!-- Footer -->
    <%-include('./include/layout/footer.ejs')%>
    <!-- //Footer -->
  </div>

<%-include('./include/layout/script.ejs')%>

</body>
</html>
