<!DOCTYPE html>
<html lang="ko">
<%-include('./include/layout/head.ejs',{
  "title": "아이파크 | 삶을 설계하는 라이프스타일 브랜드",
  "listTitle": "개인정보처리방침 - 인포그래픽 : 기타페이지",
  "metaDesc":"아이파크는 주거를 넘어 도시·레저·리테일까지, 삶의 흐름을 설계합니다.",
  "ogTitle":"아이파크 | 삶을 설계하는 라이프스타일 브랜드",
  "ogDesc":"아이파크는 주거를 넘어 도시·레저·리테일까지, 삶의 흐름을 설계하는 라이프스타일 브랜드입니다.",
  "ogImage":"../img/common/ipark-og-image.jpg",
  })%>
<body>
<%-include('./include/layout/skipnavigation.ejs')%>
  <div class="wrap">
    <!-- Header -->
    <%-include('./include/layout/header.ejs', {
      type: 'type_login'
    })%>
    <!-- //Header -->
    <!-- Contents -->
    <main class="container" id="content">
      <nav class="breadcrumb" aria-label="breadcrumb">
        <ol class="list_breadcrumb">
          <li class="item_breadcrumb">HOME</li>
          <li class="item_breadcrumb" aria-current="page">개인정보처리방침</li>
        </ol>
      </nav>
      <section class="sec_terms">
        <div class="inner">
          <h1 class="title">개인정보처리방침</h1>
          <div class="box_filter">
            <button type="button" class="btn_filter">인포그래픽 Ver 1.0</button>
            <ul class="list_filter">
              <li class="item_filter">
                <button type="button" class="btn_filter_item">인포그래픽 Ver 1.0</button>
              </li>
            </ul>
          </div>
          <div class="box_content">
            <ul class="list_order">
              <li class="item_order">수집</li>
              <li class="item_order">이용</li>
              <li class="item_order">제공</li>
              <li class="item_order">관리</li>
              <li class="item_order">파기</li>
            </ul>
            <div class="box_intro">
              <h2 class="content_title">개인정보 보호법 준수</h2>
              <p class="content_desc">HDC현대산업개발은 고객의 정보를 안전하게 보호하기 위해 개인정보 Life Cycle에 따라 관리하고 있습니다. 어떠한 정보를 수집하고, 수집한 정보를 어떻게 이용하며, 필요에 따라 누구에게 제공 또는 위탁하고, 언제 · 어떻게 파기하는지 등 개인정보 처리 현황을 알기 쉽게 설명하기 위해 노력하고 있습니다.</p>
            </div>
            <div class="box_privacy box_collection">
              <h2 class="content_title">1. 개인정보의 수집</h2>
              <p class="content_desc">고객 개인정보의 수집은 4가지 경로에 따라 이뤄지며, 서비스 제공에 필요한 최소한의 정보만을 수집합니다.</p>
              <ul class="list_collection">
                <li class="item_collection">
                  <span class="case">Case.1</span>
                  <strong class="name">홈페이지</strong>
                  <p class="text">회원가입</p>
                </li>
                <li class="item_collection">
                  <span class="case">Case.2</span>
                  <strong class="name">고객 APP</strong>
                  <p class="text">회원가입</p>
                </li>
                <li class="item_collection">
                  <span class="case">Case.3</span>
                  <strong class="name">서면 양식</strong>
                  <p class="text">계약서 작성</p>
                </li>
                <li class="item_collection">
                  <span class="case">Case.4</span>
                  <strong class="name">전화</strong>
                  <p class="text">상담/예약</p>
                </li>
              </ul>
              <p class="collection_desc">성명, 생년월일, 연락처, 성별, 주소, 이메일, <br class="only_mo">계좌번호, SNS 아이디, 관심평형, 방문단지 등</p>
            </div>
            <div class="box_privacy box_use">
              <div class="box_text">
                <h2 class="content_title">2. 개인정보의 이용</h2>
                <p class="content_desc">
                  고객 개인정보의 수집은 4가지 경로에 따라 이뤄지며, <br>서비스 제공에 필요한 최소한의 정보만을 수집합니다.
                </p>
              </div>
              <ul class="list_use list_content">
                <li class="item_use item_content">
                  <div class="box_icon">
                    <img src="../img/terms/icon_use_1.svg" alt="">
                  </div>
                  <strong class="item_title">회원관리 서비스 제공</strong>
                  <ul class="list_depth">
                    <li> · 본인인증</li>
                    <li> · 홈페이지/App 이용</li>
                    <li> · 맞춤형 서비스</li>
                    <li> · 홍보 및 마케팅 활용</li>
                    <li> · 계약/입주 관련 서비스 제공</li>
                  </ul>
                </li>
                <li class="item_use item_content">
                  <div class="box_icon">
                    <img src="../img/terms/icon_use_2.svg" alt="">
                  </div>
                  <strong class="item_title">계약관리</strong>
                  <ul class="list_depth">
                    <li> · 분양 및 옵션 계약 체결</li>
                    <li> · 분양대금 납부 안내</li>
                    <li> · 부동산 거래 신고</li>
                    <li> · 입주자 사전점검 안내</li>
                    <li> · 전자세금계산서 발행 등</li>
                  </ul>
                </li>
                <li class="item_use item_content">
                  <div class="box_icon">
                    <img src="../img/terms/icon_use_3.svg" alt="">
                  </div>
                  <strong class="item_title">입주관리</strong>
                  <ul class="list_depth">
                    <li> · 입주안내문 제작 및 발송</li>
                    <li> · 입주증 발급 및 입주예약</li>
                    <li> · 키불출세대 출입대장 관리</li>
                    <li> · 시설물 인수인계 등</li>
                  </ul>
                </li>
                <li class="item_use item_content">
                  <div class="box_icon">
                    <img src="../img/terms/icon_use_4.svg" alt="">
                  </div>
                  <strong class="item_title">회원관리 서비스 제공</strong>
                  <ul class="list_depth">
                    <li> · 하자보수 안내</li>
                    <li> · 하자보수 접수 및 일정관리</li>
                    <li> · 완료 확인</li>
                    <li> · 사후만족도 확인</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="box_privacy box_offer">
              <h2 class="content_title">3. 개인정보 제공 및 위탁</h2>
              <p class="content_desc">HDC현대산업개발은 편리하고 더 나은 서비스를 제공하기 위해 업무 중 일부를 외부에 위탁하며, 이용자가 개인정보 제공에 동의한 경우에 한해서만 개인정보를 외부에 제공합니다. 또한 제공한 개인정보를 안전하게 처리하도록 수탁사를 관리·감독합니다.</p>
              <p class="content_notice">* 단 관계 법령에 따라 개인정보 제출 의무가 발생한 경우 또는 이용자의 생명이나 안전에 급박한 위험이 확인되어 이를 해소하기 위한 경우에도 개인정보가 제공될 수 있습니다.</p>
              <ul class="list_offer">
                <li class="item_offer">정보주체 동의</li>
                <li class="item_offer">개인정보 수집·이용·관리</li>
                <li class="item_offer">제 3자 또는 위탁 제공</li>
                <li class="item_offer">수탁사 관리</li>
              </ul>
              <strong class="sub_content_title">제공 및 위탁 목적</strong>
              <ul class="list_purpose list_content">
                <li class="item_content item_perpose">
                  <strong class="item_title">시스템 운영</strong>
                  <ul class="list_depth">
                    <li> · 고객 DB 관리</li>
                    <li> · 정보 전산 처리</li>
                    <li> · 고객정보 위탁</li>
                    <li> · 웹사이트 관리</li>
                  </ul>
                </li>
                <li class="item_content item_perpose">
                  <strong class="item_title">각종 관리 업무</strong>
                  <ul class="list_depth">
                    <li> · 계약 / 수금관리</li>
                    <li> · 콜센터 운영</li>
                    <li> · 입주 / 하자관리</li>
                    <li> · 임대관리</li>
                  </ul>
                </li>
                <li class="item_content item_perpose">
                  <strong class="item_title">대행 업무</strong>
                  <ul class="list_depth">
                    <li> · 광고 대행</li>
                    <li> · 입주 대행</li>
                    <li> · 분양 대행</li>
                    <li> · 안내문 발송 대행</li>
                  </ul>
                </li>   
              </ul>
            </div>
            <div class="box_privacy box_management">
              <h2 class="content_title">4. 개인정보의 관리</h2>
              <p class="content_desc">HDC현대산업개발은 고객 개인정보를 안전하게 관리하기 위한 여러 조치를 수행하고 있습니다.<br>IPARK 홈페이지와 고객 App 등 다양한 경로를 통해 수집한 고객 정보는 별도의 시스템에 보관하여 접근을 제한하고 있습니다. 그리고 고객 정보가 외부로 유출되지 않도록 상시 모니터링을 수행하고 있습니다. 뿐만 아니라 개인정보 보호에 대한 인식 제고를 위해 개인정보 취급자를 대상으로 개인정보보호 교육을 실시하여 정보 유출 사고 예방에 힘쓰고 있습니다.</p>
              <strong class="sub_content_title">개인정보 중점 관리사항</strong>
              <ul class="list_management list_content">
                <li class="item_management item_content">
                  <strong class="item_title">시스템 관리</strong>
                  <p class="item_desc">개인정보 시스템 접속 및 권한 관리</p>
                </li>
                <li class="item_management item_content">
                  <strong class="item_title">정보반출 모니터링</strong>
                  <p class="item_desc">개인정보 포함된 문서 반출현황 상시 점검</p>
                </li>
                <li class="item_management item_content">
                  <strong class="item_title">개인정보 보호 교육</strong>
                  <p class="item_desc">개인정보 취급자 연 1회 이상 교육 실시</p>
                </li>
              </ul>
            </div>
            <div class="box_privacy box_destroy">
              <h2 class="content_title">5. 개인정보의 파기</h2>
              <p class="content_desc">수집 및 이용 목적이 달성된 개인정보는 즉시 안전하게 파기합니다. 단, 관계 법령에서 일정 기간 보관 의무를 규정하고 있는 경우는 예외로 합니다.</p>
              <ul class="list_destroy list_content">
                <li class="item_destroy item_content">
                  <strong class="item_title">파기 방법</strong>
                  <ul class="list_depth_destroy">
                    <li>
                      <p class="destroy_title">기록물, 인쇄물, 서면, 기록매체</p>
                      <p class="destroy_desc">파쇄 · 소각하여 삭제</p>
                    </li>
                    <li>
                      <p class="destroy_title">전자문서 형태</p>
                      <p class="destroy_desc">복원이 불가능한 방법으로 영구 삭제</p>
                    </li>
                  </ul>
                  
                </li>
                <li class="item_destroy item_content">
                  <strong class="item_title">파기 절차</strong>
                  <ul class="list_depth_destroy">
                    <li>
                      <p class="destroy_title">개인정보처리자</p>
                      <p class="destroy_desc">개인정보의 파기에 관한 사항 기록/관리</p>
                    </li>
                    <li>
                      <p class="destroy_title">개인정보보호 책임자</p>
                      <p class="destroy_desc">개인정보 파기 시행 후 파기 결과 확인</p>
                    </li>
                  </ul>
                </li>
            </div>
            <%-include('./include/button/btn.ejs', {
              text:'상세 개인정보처리방침 보기',
              href:"#"
            })%>
          </div>
        </div>
      </section>
    </main>
    <!-- // Contents -->
    <!-- Footer -->
    <%-include('./include/layout/footer.ejs')%>
    <!-- //Footer -->
  </div>

<%-include('./include/layout/script.ejs')%>

</body>
</html>
