<!DOCTYPE html>
<html lang="ko">
<%-include('./include/layout/head.ejs',{
  "title": "아이파크 | 삶을 설계하는 라이프스타일 브랜드",
  "listTitle": "관심고객 등록 - 회원 정보 입력 : 기타페이지",
  "metaDesc":"아이파크는 주거를 넘어 도시·레저·리테일까지, 삶의 흐름을 설계합니다.",
  "ogTitle":"아이파크 | 삶을 설계하는 라이프스타일 브랜드",
  "ogDesc":"아이파크는 주거를 넘어 도시·레저·리테일까지, 삶의 흐름을 설계하는 라이프스타일 브랜드입니다.",
  "ogImage":"../img/common/ipark-og-image.jpg",
  })%>
<body>
<%-include('./include/layout/skipnavigation.ejs')%>
  <div class="wrap">
    <!-- Header -->
    <%-include('./include/layout/header.ejs', {
      type: 'type_login'
    })%>
    <!-- //Header -->
    <!-- Contents -->
    <main class="container" id="content">
      <div class="interest_content">
        <section class="sec_interest">
          <h1 class="title">관심고객 등록</h1>
          <div class="box_content box_layout_right">
            <div class="box_sub_title">
              <h2 class="sub_title">개포 디에이치 퍼스티어 아이파크</h2>
            </div>
            <form action="#">
              <div class="box_user_form">
                <div class="box_title">
                  <h2 class="edit_title">회원정보</h2> <p class="required_desc">필수 입력</p>
                </div>
                <fieldset>
                  <div class="box_row">
                    <%-include('./include/input/input.ejs', {
                      className: 'is_required',
                      type: 'text',
                      id: 'name',
                      name: 'name',
                      label:'이름',
                      placeholder: '이름을 입력해 주세요.',
                    })%>
                  </div>
                  <!--[D] 로그인 시-->
                  <div class="box_row type_column">
                    <span class="label is_required">이름</span>
                    <p class="info_desc">정아이</p>
                  </div>

                  <div class="box_row">
                    <%-include('./include/select/select.ejs', {
                      label: '관심평형',
                      selectText: '선택하세요',
                      selectList: ['39㎡', '43㎡', '59㎡', '72㎡', '84㎡'],
                    })%>
                  </div>
                  <div class="box_row type_column">
                    <span class="label is_required">휴대폰 번호</span>
                    <div class="box_phone_input">
                      <%-include('./include/select/select.ejs', {
                        selectText: '010',
                        selectList: ['010', '011', '016', '017', '018', '019'],
                      })%>
                      <%-include('./include/input/input.ejs', {
                        type: 'number',
                        id: 'phone_middle',
                        name: 'phone_middle',
                        value: '1234',
                      })%>
                      <%-include('./include/input/input.ejs', {
                        type: 'number',
                        id: 'phone_last',
                        name: 'phone_last',
                        value: '5678',
                      })%>
                    </div>
                  </div>
                  <!--[D] 로그인 시-->
                  <div class="box_row type_column">
                    <span class="label is_required">휴대폰 번호</span>
                    <p class="info_desc">01030883098</p>
                  </div>
                  <div class="box_row type_column">
                    <span class="label ">이메일 주소</span>
                    <div class="box_email_input">
                      <%-include('./include/input/input.ejs', {
                        type: 'text',
                        id: 'email',
                        name: 'email',
                        placeholder: 'ipark1234',
                      })%>
                      <%-include('./include/input/input.ejs', {
                        type: 'text',
                        id: 'email_domain',
                        name: 'email',
                        placeholder: 'gmail.com',
                      })%>
                      <%-include('./include/select/select.ejs', {
                        selectText: '직접입력',
                        selectList: ['직접입력', 'naver.com', 'daum.net', 'gmail.com', 'nate.com', 'yahoo.com', 'hotmail.com', 'outlook.com', 'icloud.com', 'kakao.com'],
                      })%>
                    </div>
                  </div>
                  <!--[D] 로그인 시-->
                  <div class="box_row type_column">
                    <span class="label">이메일 주소</span>
                    <p class="info_desc">1101413@hdc-dvp.com</p>
                  </div>
                  <div class="box_row type_column">
                    <span class="label is_required">주소</span>
                    <div class="box_address">
                      <div class="box_postcode">
                        <%-include('./include/input/input.ejs', {
                          type: 'text',
                          id: 'postcode',
                          name: 'postcode',
                          value:"21400" ,
                          readonly: true,
                        })%>
                        <%- include('./include/button/btn_rounded.ejs', {
                          text: '우편번호 검색',
                        }) %>
                      </div>
                      <%-include('./include/input/input.ejs', {
                        type: 'text',
                        id: 'address',
                        name: 'address',
                        value:"서울 용산구 한강로3가 40-999",
                        readonly: true,
                        className: 'type_address',
                      })%>
                      <%-include('./include/input/input.ejs', {
                        type: 'text',
                        id: 'detail_address',
                        name: 'detail_address',
                        placeholder: '나머지 주소를 입력해 주세요.',
                      })%>
                    </div>
                  </div>
                  <!--[D] 로그인 시-->
                  <div class="box_row type_column">
                    <span class="label is_required">주소</span>
                    <p class="info_desc">21408 서울 용산구 한강로3가 40-999 9층 HDC현대산업개발</p>
                  </div>
                  <div class="box_row box_account">
                    <div class="radio_group">
                      <span class="label">청약통장 유무</span>
                      <%-include('./include/input/radio.ejs', {
                        id: 'no_account',
                        name: 'account',
                        label: '청약통장 무',
                        checked: true,
                      })%>
                      <%-include('./include/input/radio.ejs', {
                        id: 'yes_account',
                        name: 'account',
                        label: '청약통장 유',
                      })%>
                    </div>
                    <%-include('./include/select/select.ejs', {
                      label: '청약통장 종류',
                      isRequired: false,
                      selectText: '선택',
                      selectList: ['부금', '예금', '저축', '종합저축', '없음'],
                    })%>
                  </div>
                  <div class="box_row box_account_info">
                    <div class="box_date">
                      <span class="label">가입연월</span>
                      <div class="select_group">
                        <%-include('./include/select/select.ejs', {
                          selectText: '년',
                          selectList: ['2026', '2025', '2024', '2023', '2022'],
                        })%>
                        <%-include('./include/select/select.ejs', {
                          selectText: '월',
                          selectList: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
                        })%>
                      </div>
                    </div>
                    <%-include('./include/input/input.ejs', {
                      label: '가입금액',
                      type: 'text',
                      id: 'join_amount',
                      name: 'join_amount',
                      placeholder: '가입금액을 입력해 주세요.',
                    })%>
                  </div>
                  <div class="box_guide">
                    <dl class="list_guide">
                      <div class="item_guide">
                        <dt class="item_title">청약부금</dt>
                        <dd class="item_desc">청약부금은 전용 25.7평 이하 민영주택과 민간건설 중형 국민주택(18평~25.7평)을 청약할 목적으로 가입하는 저축입니다.</dd>
                      </div>
                      <div class="item_guide">
                        <dt class="item_title">청약예금</dt>
                        <dd class="item_desc">청약예금은 민간 건설업체가 짓는 민영주택을 분양 받을 자격을 얻기 위해 가입하는 예금입니다.</dd>
                      </div>
                      <div class="item_guide">
                        <dt class="item_title">청약저축</dt>
                        <dd class="item_desc">청약저축은 전용 25.7평 이하 규모로 국민주택기금의 지원을 받아 짓는 국민주택을 분양 또는 임대 받을 수 있는 통장입니다.</dd>
                      </div>
                      <div class="item_guide">
                        <dt class="item_title">종합저축</dt>
                        <dd class="item_desc">주택청약종합저축은 공공주택 청약이 가능한 청약저축에 민영주택 청약이 가능한 청약예금과 청약부금을 묶은 것으로  매월 약정한 날에 월 단위로 금액을 납입하는 적금식 상품입니다.</dd>
                      </div>
                    </dl>
                  </div>
                  <div class="box_row type_column">
                    <span class="label">Q1. 고객님께서는 분양정보를 주로 어디에서 얻으십니까? (2가지 선택)</span>
                    <div class="box_option">
                      <%-include('./include/input/checkbox.ejs', {
                        id: 'option_1',
                        name: 'option',
                        value: '모바일 구글광고',
                        label: '모바일 구글광고',
                      })%>
                      <%-include('./include/input/checkbox.ejs', {
                        id: 'option_2',
                        name: 'option',
                        value: '웹 인터넷 포털사이트 or 인터넷 광고',
                        label: '웹 인터넷 포털사이트 or 인터넷 광고',
                      })%>
                      <%-include('./include/input/checkbox.ejs', {
                        id: 'option_3',
                        name: 'option',
                        value: '블로그/카페',
                        label: '블로그/카페',
                      })%>
                      <%-include('./include/input/checkbox.ejs', {
                        id: 'option_4',
                        name: 'option',
                        value: '부동산114',
                        label: '부동산114',
                      })%>
                      <%-include('./include/input/checkbox.ejs', {
                        id: 'option_5',
                        name: 'option',
                        value: 'IPARK 홈페이지',
                        label: 'IPARK 홈페이지',
                      })%>
                      <%-include('./include/input/checkbox.ejs', {
                        id: 'option_6',
                        name: 'option',
                        value: 'TV / 라디오 광고',
                        label: 'TV / 라디오 광고',
                      })%>
                      <%-include('./include/input/checkbox.ejs', {
                        id: 'option_7',
                        name: 'option',
                        value: '인쇄물(전단/DM)',
                        label: '인쇄물(전단/DM)',
                      })%>
                    </div>
                  </div>
                  <div class="box_row type_column">
                    <span class="label">Q2. 아이파크 청약 시 가장 중요하게 고려하시는 부분은 무엇입니까? (2가지 선택)</span>
                    <div class="box_option">
                      <%-include('./include/input/checkbox.ejs', {
                        id: 'option_2_1',
                        name: 'option',
                        value: '분양가',
                        label: '분양가',
                      })%>
                      <%-include('./include/input/checkbox.ejs', {
                        id: 'option_2_2',
                        name: 'option',
                        value: '투자가치',
                        label: '투자가치',
                      })%>
                      <%-include('./include/input/checkbox.ejs', {
                        id: 'option_2_3',
                        name: 'option',
                        value: '교통/교육',
                        label: '교통/교육',
                      })%>
                      <%-include('./include/input/checkbox.ejs', {
                        id: 'option_2_4',
                        name: 'option',
                        value: '생활편의시설',
                        label: '생활편의시설',
                      })%>
                      <%-include('./include/input/checkbox.ejs', {
                        id: 'option_2_5',
                        name: 'option',
                        value: '마감재',
                        label: '마감재',
                      })%>
                      <%-include('./include/input/checkbox.ejs', {
                        id: 'option_2_6',
                        name: 'option',
                        value: '조망권',
                        label: '조망권',
                      })%>
                      <%-include('./include/input/checkbox.ejs', {
                        id: 'option_2_7',
                        name: 'option',
                        value: '단지규모',
                        label: '단지규모',
                      })%>
                    </div>
                  </div>
                  <div class="box_btn_area">
                    <div class="box_btn">
                      <%-include('./include/button/btn.ejs', {
                        className: 'type_secondary',
                        text: '취소',
                      })%>
                      <%-include('./include/button/btn.ejs', {
                        text: '등록하기',
                      })%>
                    </div>
                  </div>
                </fieldset>
              </div>
            </form>
          </div>
        </section>
      </div>
    </main>
    <!-- // Contents -->
    <!-- Footer -->
    <%-include('./include/layout/footer.ejs')%>
    <!-- //Footer -->
  </div>

<%-include('./include/layout/script.ejs')%>

</body>
</html>
