<!DOCTYPE html>
<html lang="ko">
<%-include('./include/layout/head.ejs',{
  "title": "아이파크 | 삶을 설계하는 라이프스타일 브랜드",
  "listTitle": "회원약관 : 기타페이지",
  "metaDesc":"아이파크는 주거를 넘어 도시·레저·리테일까지, 삶의 흐름을 설계합니다.",
  "ogTitle":"아이파크 | 삶을 설계하는 라이프스타일 브랜드",
  "ogDesc":"아이파크는 주거를 넘어 도시·레저·리테일까지, 삶의 흐름을 설계하는 라이프스타일 브랜드입니다.",
  "ogImage":"../img/common/ipark-og-image.jpg",
  })%>
<body>
<%-include('./include/layout/skipnavigation.ejs')%>
  <div class="wrap">
    <!-- Header -->
    <%-include('./include/layout/header.ejs', {
      type: 'type_login'
    })%>
    <!-- //Header -->
    <!-- Contents -->
    <main class="container" id="content">
      <nav class="breadcrumb" aria-label="breadcrumb">
        <ol class="list_breadcrumb">
          <li class="item_breadcrumb">HOME</li>
          <li class="item_breadcrumb" aria-current="page">회원약관</li>
        </ol>
      </nav>
      <section class="sec_terms">
        <div class="inner">
          <h1 class="title">회원약관</h1>
          <div class="box_iframe">
            <iframe src="./99_clause_content.html" frameborder="0"></iframe>
          </div>
        </div>
      </section>
    </main>
    <!-- // Contents -->
    <!-- Footer -->
    <%-include('./include/layout/footer.ejs')%>
    <!-- //Footer -->
  </div>

<%-include('./include/layout/script.ejs')%>

</body>
</html>
