<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>개인정보처리방침(200601) : Iframe</title>
	<!-- Icon & Favicon -->
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
	<link rel="apple-touch-icon" href="../favicon-180x180.png">
	<!-- // Icon & Favicon -->
	<link rel="stylesheet" href="../css/terms.css">
</head>

<body>
	<div class="document">

		<h1>개인정보처리방침 개정(안)</h1>
		<div class="box_content">
			<h2>제1조 수집하는 개인정보 항목</h2>
			<ol class="list_number">
				<li>회사가 수집하는 개인정보 항목은 다음과 같습니다
					<div class="box_table">
						<table>
							<caption>개인정보 항목 제공</caption>
							<colgroup>
								<col width="30%">
								<col width="70%">
							</colgroup>
							<thead>
								<tr>
									<th class="center">구분</th>
									<th class="center">수집하는 개인정보 항목</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="center">홈페이지/고객용 모바일 어플리케이션</td>
									<td>
										<ol class="list_number">
											<li>회원가입(공통)
												<ul class="list_depth list_dot">
													<li>필수 수집항목 : 성명, 성별, 생년월일, 휴대폰번호, 주소, 이메일</li>
													<li>선택 수집항목 : 관심지역, 관심단지, 주거종류, 주거구분</li>
													<li>중복가입확인정보 : 생년월일, 휴대폰번호</li>
													<li>본인확인 : 휴대전화 또는 아이핀 인증시 수집되는 정보</li>
												</ul>
											</li>
											<li>분양대금 납입 확인(공통) : 계약자 성명, 계약단지명, 계약단지의 동/호수, 휴대폰전화번호 또는 이메일 주소</li>
											<li>1:1문의 / 개인정보수정(공통) : 회원가입정보</li>
											<li>입주 예약(공통) : 입주 단지명, 입주 단지의 동/호수, 계약자 성명, 계약자 휴대전화번호, 신청인 성명, 계약자와의 관계, 신청인
												연락처, 주거구분</li>
											<li>A/S접수(모바일 어플리케이션) : 입주 단지명, 입주 단지의 동/호수, 계약자 성명, 계약자 휴대전화번호, 신청인 성명, 계약자와의 관계,
												신청인 연락처, 주거구분</li>
											<li>입주자 사전점검 방문예약(모바일 어플리케이션) : 방문단지, 동/호수, 신청인 성명, 계약자와의 관계, 신청인 연락처, 계약자 성명, 계약자
												연락처</li>
										</ol>
									</td>
								</tr>
								<tr>
									<td class="center">분양 및 옵션계약</td>
									<td>
										<ol class="list_number">
											<li>입주관리
												<p class="small_desc">성명, 주민등록상 주소, 우편물 배송주소, 전화번호(휴대전화 또는 집전화), 생년월일, 성별, 주민등록번호(외국인등록번호),
													계좌번호(환불 발생시), 이메일</p>
											</li>
											<li>분양계약의 해제
												<p class="small_desc">성명, 생년월일, 주소, 연락처, (해당시 명의 변경내역, 분양대금 납입정보), 계좌번호 (환불시)</p>
											</li>
										</ol>
									</td>
								</tr>
								<tr>
									<td class="center">입주관리업무 및 하자보수</td>
									<td>
										<ol class="list_number">
											<li>입주관리
												<p class="small_desc">
													입주신청자 성명, 주소(단지명, 동호수), 전화번호, 휴대전화번호, 이메일주소, 입주예정일, 입주유형(본인 입주, 매매, 임대여부)</p>
											</li>
											<li>하자보수
												<p class="small_desc">
													입주 단지명, 입주 단지의 동/호수, 계약자 성명, 계약자 휴대전화번호, 신청인 성명, 계약자와의 관계, 신청인 연락처, 주거구분
												</p>
											</li>
											<li>만족도 조사
												<p class="small_desc">
													서비스 신청인 성명, 전화번호(휴대전화번호), 입주단지 주소, 동호수</p>
											</li>
										</ol>
									</td>
								</tr>
								<tr>
									<td class="center">고객센터</td>
									<td>
										상기 서비스의 원활한 제공을 위한 계약자 확인용 정보
										<p class="small_desc">생년월일, 성별</p>
									</td>
								</tr>
								<tr>
									<td class="center">SNS컨텐츠 제작 및 운영</td>
									<td>
										경품 행사
										<p class="small_desc">
											페이스북/인스타그램 아이디, 실명, 휴대폰 번호
										</p>
									</td>
								</tr>
								<tr>
									<td class="center">웹진 및 뉴스레터 컨텐츠 <br>제작 및 운영</td>
									<td>
										경품 행사
										<p class="small_desc">
											고객 이메일 주소, 실명, 휴대폰 번호
										</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</li>
				<li>
					회사는 다음과 같은 방법으로 개인정보를 수집합니다.
					<ul class="list_dot">
						<li>웹사이트(회원가입), 고객용 모바일 어플리케이션(회원가입), 단말기(스마트폰, 태블릿PC 등), 서면양식, 전화상담 ,이벤트 응모, 배송 요청, 특별공급 신청, 공급계약 체결</li>
					</ul>
				</li>
			</ol>
		</div>
		<div class="box_content">
			<h2>제2조 개인정보의 수집 및 이용 목적</h2>
			<ol class="list_number">
				<li>홈페이지/고객용 모바일 어플리케이션
					<ul class="list_depth">
						<li>① 회원 관리 및 서비스 제공
							<ul class="list_dot">
								<li>회원제 서비스 제공, 서비스 제공에 따른 본인확인, 가입의사 확인, 고지사항 전달, 불만의 처리</li>
								<li>정보의 통계/ 분석을 통한 서비스 개선</li>
							</ul>
						</li>
						<li>② 마케팅 및 광고에의 활용
							<ul class="list_dot">
								<li>신규 분양등 단지 안내 및 상담, 미분양주택 판매, 고객에 대한 판촉조사 및 시장조사, 이벤트등 광고성 정보 전달 및 참여기회제공, 뉴스레터 제공</li>
								<li>청구서 / 경품의 배송 및 관련 민원 처리</li>
							</ul>
						</li>
						<li>③ 기 타
							<ul class="list_dot">
								<li>이벤트 참여</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>분양 및 옵션 계약 <br>
					<ul class="list_depth">
						<li>
							① 분양 및 옵션 계약관리
							<ul class="list_dot">
								<li>분양 및 옵션 계약 체결, 부동산 거래신고, 분양대금 납부 안내, 옵션계약 안내, 계약의 이행 및 채권추심업무, 입주자사전점검 안내, 전자세금계산서 발행
								</li>
							</ul>
						</li>
						<li>
							② 마케팅 및 광고에의 활용
							<ul class="list_dot">
								<li>신규 분양등 단지 안내 및 상담, 미분양주택 판매, 고객에 대한 판촉조사 및 시장조사, 이벤트등 광고성 정보 전달 및 참여기회제공, 뉴스레터 제공</li>
								<li>청구서 / 경품의 배송 및 관련 민원 처리</li>
							</ul>
						</li>
						<li>
							③ 기 타
							<ul class="list_dot">
								<li>이벤트 참여 </li>
							</ul>
						</li>
					</ul>
				</li>
				<li>입주관리업무 및 하자보수<br>
					<ul class="list_depth">
						<li>
							① 입주증발급, 입주예약, 임시키불출세대 출입대장관리, 키반납확인, 시설물 인수인계등
						</li>
						<li>
							② 하자보수 : 하자보수 안내, 하자보수 접수 및 일정관리, 완료 확인, 기타 입주고객서비스
						</li>
						<li>
							③ 만족도 조사 : 사후만족도 확인 서비스(해피콜), 만족도 조사 통계
						</li>
					</ul>
				</li>
				<li>
					고객센터
					<p class="small_desc">서비스 제공을 위한 계약자 확인</p>

				</li>
				<li>
					SNS컨텐츠 제작 및 운영 / 웹진 및 뉴스레터 컨텐츠 제작 및 운영
					<p class="small_desc">경품발송을 위한 당첨자 연락 경로 확보</p>
				</li>
			</ol>
		</div>
		<div class="box_content">
			<h2>제3조 개인정보의 자동 수집 장치의 설치·운영 및 그 거부에 관한 사항</h2>
			<p class="desc">HDC현대산업개발(이하 “회사”)은 회원의 정보를 수시로 저장하고 찾아내는 ‘쿠키(cookie)’ 등을 운용합니다.
				쿠키란 회사의 웹사이트를 운영하는데 이용되는 서버가 회원의 브라우저에 보내는 아주 작은 텍스트 파일로서 고객의 단말기(PC/스마트폰/태플릿 PC 등)의 하드디스크에 저장됩니다.
				회사는 다음과 같은 목적을 위해 쿠키를 사용합니다.
			</p>
			<ol class="list_number">
				<li>쿠키 등 사용 목적 <br>
					<p class="small_desc">
						홈페이지 접속빈도 및 방문시간 분석, 고객의 관심분야 파악 및 분석, 각종 이벤트 참여 및 방문횟수 파악 등을 통한 타겟 마케팅 및 개인 맞춤 서비스 제공을 위해 쿠키 등을
						사용합니다.<br>
						단, 쿠키의 저장을 거부할 경우에는 일부 서비스는 이용할 수 없습니다.</p>
				</li>
				<li>쿠키 수집항목
					<p class="small_desc">
						쿠키는 서비스 이용 목적으로 저장되며, 거부 시 삭제됩니다.</p>
				</li>
				<li>쿠키 설정 거부 방법
					<ul class="list_depth">
						<li>
							① 회원은 쿠키 활용에 대한 선택권을 가지고 있습니다. 따라서, 회원은 웹 브라우저의 옵션을 선택함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치도록 하거나, 아니면
							모든
							쿠키의 저장을 거부할 수도 있습니다.
						</li>
						<li>
							② 설정방법 예(인터넷 익스플로러의 경우) : 웹 브라우저 상단의 도구 &gt; 인터넷옵션 &gt; 개인정보 &gt; 고급 &gt; “자동으로쿠키처리 안 함” 체크 &gt; 원하는 항목
							선택
							<p class="small_desc">
								(단, 쿠키의 저장을 거부할 경우 일부 서비스 이용에 어려움이 있을 수 있습니다.)
							</p>
						</li>
					</ul>
				</li>
			</ol>
			<p class="sub_desc">※ 회사는 웹사이트에 광고를 게재하는 배너에서도 광고주나 마케팅회사에 의해 쿠키가 사용되는 경우도 있음을 알려드립니다. <br>
				이 경우 해당 쿠키는 시스템 관리와 광고주에게 제공할 통계 집계 등을 위하여 회원들의 IP주소를 모으기도 합니다. 해당 쿠키가 수집하는 개인정보에 관한 사항은 광고주나 마케팅회사의 개인정보처리방침에
				따릅니다.
			</p>
		</div>
		<div class="box_content">
			<h2>제 4조 개인정보 보유 및 이용 기간에 관한 사항</h2>
			<p class="desc">
				회사가 개인정보를 수집하는 경우 개인정보의 처리목적이 달성되거나 이용자 및 정보주체의 동의를 받은 기간까지 보유하며, 관계법령(상법, 전자금융거래법, 신용정보의 이용 및 보호에 관한 법률,
				「정보통신망
				이용촉진 및 정보보호 등에 관한 법률」 등)에 의한 정보보호 사유 의무가 있는 경우에는 일정기간 동안 보유한 뒤 파기합니다.<br><br>
				회사는 개인정보를 보호하여 개인정보 유출로 인한 피해가 발생하지 않도록 하기 위하여 다음과 같은 방법을 통하여 개인정보를 파기합니다.
			</p>
			<ol class="list_number">
				<li>종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.
				</li>
				<li>전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.
				</li>
			</ol>
		</div>
		<div class="box_content">
			<h2>[법령 및 내부방침에 의한 보유 및 이용기간]</h2>
			<ol class="list_number">
				<li>홈페이지 회원에 관한 기록<br>
					<ul class="list_depth">
						<li>
							① 보유기간
							<ul class="list_depth list_dot">
								<li>회원 탈퇴 시 또는 회원에서 제명된 때 파기(제3자에게 제공된 개인정보 포함)</li>
							</ul>
						</li>
						<li>
							② 1년 동안 로그인 등 이용기록이 없는 회원 : 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 제29조에 따라 회원에게 사전 통지하고 개인정보를 즉시 파기
						</li>
					</ul>
				</li>
				<li>상담 고객에 관한 기간 : 수집 이후2년</li>
				<li>분양 관심 고객에 관한 기록 : 분양 완료 후 3개월 (고객 철회 요청 시 즉시 삭제)</li>
				<li>소비자의 불만 또는 분쟁처리에 관한 기록 : 분쟁 처리 후 3년</li>
				<li>계약 또는 청약철회 등에 관한 기록 : 5년</li>
				<li>대금결제 및 재화 등의 공급에 관한 기록 : 5년</li>
				<li>거래내역 및 증빙서류와 관련된 정보 : 5년</li>
				<li>입주 예약 : 입주 지정기간 종료 시</li>
				<li>이벤트 참여 : 이벤트 종료 시까지 (경품 발송 완료 시)</li>
				<li>회사 내부방침(부정이용 등에 관한 기록) : 10년</li>
				<li>SNS컨텐츠 제작 및 운영 / 웹진 및 뉴스레터 컨텐츠 제작 및 운영 : 경품 발송 후 30일</li>
				<li>기타<br>
					<ul class="list_depth">
						<li>① 관계 법령 위반에 따른 수사/조사 등이 진행 중인 경우에는 해당 수사/조사 종료 시까지</li>
						<li>② 서비스 이용에 따른 채권/채무관계 정산 시까지</li>
						<li>
							③ 개별적으로 이용자 및 정보주체의 동의를 받은 경우 : 동의 받은 기간
							<p class="small_desc"> 다만, 수집목적 또는 제공받은 목적이 달성된 경우에도 상법, 주택법, 주택공급에 관한규칙등 법령의 규정에 의하여 보존할 필요성이 있는 경우에는 이용자
								및
								정보주체의 개인정보를 보유할 수 있습니다.</p>
						</li>
					</ul>
				</li>
			</ol>
		</div>
		<div class="box_content">
			<h2>[고유식별정보 처리]</h2>
			<p class="desc">회사는 “개인정보보호법” 24조 1항에 의거하여 본인임을 확인하고 향후 원활한 서비스 제공을 위하여 아래와 같이 고유식별정보를 처리합니다.</p>
			<ol class="list_number">
				<li>수집•이용 목적 <br>
					<p class="small_desc">
						분양계약자의 본인식별, 계약의 이행 및 채권추심업무, 주택공급에 관한 규칙 제 23조(주택공급신청서교부 및 신청서류), 제24조(주택공급 신청 서류의 관리) 근거, 부동산 실거래신고,
						전자세금계산서
						발행, 취득세 과세기초자료작성
					</p>
				</li>
				<li>수집항목
					<p class="small_desc">
						주민등록번호 (외국인인 경우 외국인등록번호)
					</p>
				</li>
				<li>이용 및 보유기간
					<p class="small_desc">
						회사는 개인정보 수집 및 이용목적이 달성된 후에는 일정기간 이후 해당정보를 파기합니다.
					</p>
				</li>
			</ol>
			<p class="sub_desc">※ 고객께서는 고유식별정보 수집 및 이용에 따른 동의를 거부할 수 있으나 회사와의 분양계약 체결에 관한 서비스를 받을 수 없으며, 이와 관련된 불이익은 본인에게
				귀속됩니다.</p>
		</div>

		<div class="box_content">
			<h2>제 5조 개인정보 제3자 제공에 관한 사항</h2>
			<p class="desc">회사는 이용자 및 정보주체의 개인정보를 원칙적으로 외부에 제공하지 않습니다. 단, 아래의 경우에는 예외로 합니다</p>
			<ol class="list_number">
				<li>법률에 특별한 규정이 있거나 법령상 의무를 준수하기 위하여 불가피한 경우</li>
				<li>공공기관이 법령 등에서 정하는 소관 업무의 수행을 위하여 불가피한 경우<br>
					정보주체와의 계약의 체결 및 이행을 위하여 불가피하게 필요한 경우
				</li>
				<li>정보주체 또는 그 법정대리인이 의사표시를 할 수 없는 상태에 있거나 주소불명 등으로 사전 동의를 받을 수 없는 경우로서 명백히 정보주체 또는 제3자의 급박한 생명,
					신체, 재산의 이익을 위하여 필요하다고 인정되는 경우
				</li>
				<li>통계작성 및 학술연구 등의 목적을 위하여 필요한 경우로서 특정 개인을 알아볼 수 없는 형태로 개인정보를 제공하는 경우</li>
				<li>정보주체로부터 별도의 동의를 받은 경우</li>
			</ol>

			<p class="desc">회사는 이용자 및 정보주체의 동의가 있는 경우, 서비스 제공 및 상담 등의 원활한 이행을 위하여 관련된 이용자 및 정보주체 개인정보를 필요한 범위 내에서 아래와 같이
				제3자에게 제공합니다. 이용자 및 정보주체는 개인정보 수집 및 이용에 따른 동의를 거부할 수 있으나, 이와 관련된 불이익은 본인에게 귀속됩니다.</p>
			<div class="box_table">
				<table>
					<caption>개인정보 제공받는 자, 제공 정보, 제공 목적, 보유 및 이용기간 정보 제공</caption>
					<colgroup>
						<col width="30%">
						<col width="*">
					</colgroup>
					<tbody>
						<tr>
							<th>개인정보 제공받는자</th>
							<td>HDC㈜ 계열사(부동산114, HDC 아이파크몰등)</td>
						</tr>
						<tr>
							<th>제공정보</th>
							<td>이름, 성별, 생년월일, 휴대폰번호, 주소, 이메일, 주거종류, 주거구분, 사이트 이용기록</td>
						</tr>
						<tr>
							<th>제공목적</th>
							<td>서비스 내 맞춤형 추천 정보 제공, 시장조사, 서비스 개발 및 분석, 빅데이터 연구 </td>
						</tr>
						<tr>
							<th>제공받는 자의 보유 및 이용기간</th>
							<td>서비스 목적 달성 시. 단, 전자상거래 등에서의 소비자 보호에 관한 법률 및 관계 법령에 따른 보관 의무가 있을 경우 해당 기간 동안 보관함</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="box_content">
			<h2>제 6조 개인정보 처리 위탁 안내</h2>
			<p class="desc">회사는 보다 나은 서비스 제공과 고객편의 제공 등 업무 수행을 원활하게 하기 위하여 외부 전문업체에 이용자 및 정보주체의 개인정보에 대한 수집•보관•처리•이용•제공•관리•파기
				등 (이하 ‘처리’)을 위탁할 수 있습니다. 회사가 외부 전문 업체에 이용자 및 정보주체의 개인정보를 처리 위탁하는 경우 그 위탁업무의 내용, 수탁자는 다음과 같습니다.</p>
			<div class="box_table">
				<table>
					<caption>수탁업무 수탁사 정보 제공</caption>
					<colgroup>
						<col width="30%">
						<col width="70%">
					</colgroup>
					<thead>
						<tr>
							<th class="center">수탁업무</th>
							<th class="center">수탁사</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="center">정보 전산 처리 및 유지관리, 시스템 운영 및 데이터 관리 고객정보 DB 시스템 위탁 운영</td>
							<td class="center">현대BS&amp;C, ㈜디케이비엠시</td>
						</tr>
						<tr>
							<td class="center">HDC현대산업개발/아이파크 웹사이트 유지보수, 아이파크 웹사이트 고객정보 DB 시스템 위탁 운영</td>
							<td class="center">㈜플립커뮤니케이션즈</td>
						</tr>
						<tr>
							<td class="center">본인인증업무</td>
							<td class="center">SCI평가정보㈜</td>
						</tr>
						<tr>
							<td class="center">계약,수금,하자관리 업무,고객센터 운영, 임대관리</td>
							<td class="center">HDC아이서비스㈜</td>
						</tr>
						<tr>
							<td class="center">광고 대행</td>
							<td class="center">ADCK, 포애드원 ADHQ, 선광, 에딧, 스웨이브, 클리프, 인터크레존, 라파크, NNC, 갤럭시아에스엠, 소담</td>
						</tr>
						<tr>
							<td class="center">분양 대행</td>
							<td class="center">프런티어마루, 컬리넌홀딩스, 엠비앤홀딩스, 건물과사람들, 삼일산업, 상림디엠텍, 디엔씨민은, 미래인, 와이낫플래닝, CLK, 도시애, 도우씨앤, SNB,
								더감, 엔티파크, 솔렉스마케팅, 마켓리더, 태원피앤에이, 루트알앤씨, 랜드비전, 세원미, 유앤아이디벨롭먼트, 정원씨앤디, 태풍, 한아름기획, 인피니티, 니소스씨앤디, 팜파트너스,
								씨앤디플래닝, 터존, 굿모닝개발, 이지디앤씨, JK파트너스, 산하디엔씨, 신영엠앤디, 유성</td>
						</tr>
						<tr>
							<td class="center">SNS컨텐츠 제작 및 운영</td>
							<td class="center">㈜ 프리즘</td>
						</tr>
						<tr>
							<td class="center">웹진 및 뉴스레터 제작 및 운영</td>
							<td class="center">㈜ 엘루오 씨앤씨</td>
						</tr>
					</tbody>
				</table>
			</div>
			<p class="desc">또한 회사는 계약 이행, 이용자 및 정보주체의 편의 증진을 위해 다음과 같이 개인정보를 국외에 이전하여 처리를 위탁하고 있습니다.</p>
			<div class="box_table">
				<table>
					<caption>수탁업무 수탁사 정보 제공</caption>
					<colgroup>
						<col width="30%">
						<col width="*">
						<col width="*">
						<col width="*">
						<col width="*">
						<col width="*">
						<col width="*">
					</colgroup>
					<thead>
						<tr>
							<th class="center">이전받는자</th>
							<th class="center">이전하는 개인정보 항목</th>
							<th class="center">이전 국가</th>
							<th class="center">이전일시 및 이전방법</th>
							<th class="center">이용목적</th>
							<th class="center">보유 및 이용기간</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="center">Salesforce.com,Inc (deogjig.lee@salesforce.com, hyoon@salesforce.com)</td>
							<td class="center">수집된 개인정보 전체</td>
							<td class="center">일본</td>
							<td class="center">20.06.01 전용네트워크 이용 전송</td>
							<td class="center">계약,수금,하자관리와 관련한 서비스 제공</td>
							<td class="center">제공받은 목적달성시 또는 위탁계약종료시</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="box_content">
			<h2>제 7조 정보주체의 권리, 의무 및 그 행사 방법에 관한 사항</h2>
			<p class="desc">이용자, 정보주체 및 법정대리인의 개인정보를 최신의 상태로 정확하게 입력하여 불의의 사고를 예방해 주시기 바랍니다. 이용자, 정보주체 및 법정대리인이 입력한 부정확한 정보로
				인해 발생하는 사고의
				책임은 이용자, 정보주체 및 법정대리인 본인에게 있으며 타인 정보의 도용 등 허위 정보를 입력할 경우 서비스 이용이 제한 될 수 있습니다. 이용자, 정보주체 및 법정대리인은 개인정보를 보호받을
				권리와
				함께 스스로를 보호하고 타인의 정보를 침해하지 않을 의무도 가지고 있습니다. 이용자 정보주체 및 법정대리인의 개인 정보가 유출되지 않도록 조심하시고 게시물을 포함한 타인의 개인정보를 훼손하지 않도록
				유의해 주십시오. 만약 이 같은 책임을 다하지 못하고 타인의 정보 및 존엄성을 훼손할 시에는 『정보통신망 이용촉진 및 정보보호 등에 관한 법률』, 『개인정보보호법』 등에 의해 처벌 받을 수
				있습니다.
			</p>
			<ol class="list_number">
				<li>
					개인정보의 열람 및 정정
					<p class="small_desc">
						이용자 및 정보주체는 아이파크 홈페이지(www.i-park.com)를 통하여 언제든지 회원가입 등록되어 있는 귀하의 개인정보를 열람하거나 정정을 할 수 있습니다. 단, 분양계약서 등 본
						홈페이지에서 체결하지 않은 계약에 대한 이용자 및 정보주체의 정보는 고객센터, 담당 관리센터를 통하여 수정하셔야 합니다.
					</p>
				</li>
				<li>
					의견수렴 및 불만처리
					<p class="small_desc">
						이용자 및 정보주체는 개인정보보호와 관련하여 고객의 의견과 불만을 제기할 수 있습니다. 개인정보와 관련한 불만이 있으신 분은 홈페이지의 개인정보 보호책임자에게 의견을 주시면 접수 후 조치하여
						처리결과를 통보 드립니다.
					</p>
				</li>
			</ol>
		</div>

		<div class="box_content">
			<h2>제 8조 14세 미만의 아동의 개인정보보호에 관한 사항</h2>
			<p class="desc">회사는 만14세 미만의 회원가입은 허용하지 않고 있습니다. 다만, 계약과 관련된 정보의 경우엔 반드시 법정대리인의 동의를 통해 정보를 수집합니다.</p>

		</div>

		<div class="box_content">
			<h2>제 9조 개인정보 보호책임자에 관한 사항</h2>
			<p class="desc">회사는 이용자 및 정보주체의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 개인정보 보호책임자를 두고 있습니다. 개인정보와 관련한 문의사항이 있으시면 아래의
				개인정보 보호책임자 또는
				개인정보 관리실무자에게 연락 주시기 바랍니다. 귀하의 문의 사항에 신속하고 성실하게 답변해 드리겠습니다.</p>
			<div class="box_table type_row">
				<table>
					<caption>개인정보 보호책임자, 개인정보 관리실무자 정보 제공</caption>
					<colgroup>
						<col width="30%">
						<col width="70%">
					</colgroup>
					<tbody>
						<tr>
							<th>개인정보 보호책임자</th>
							<td>
								- 성명 : 정영도 <br>
								- 소속 : 고객서비스팀 <br>
								- 직책 : 팀장 <br>
								- 이메일 : 6446@hdc-dvp.com <br>
								- 전화번호 : 02-2008-9114
							</td>
						</tr>
						<tr>
							<th rowspan="2">개인정보 관리실무자</th>
							<td>
								- 성명 : 이철우 <br>
								- 소속 : 판매그룹(개발) <br>
								- 직책 : 판매그룹장 <br>
								- 이메일 : culee@hdc-dvp.com <br>
								- 전화번호 : 02-2008-9148
							</td>
						</tr>
						<tr>
							<td>
								- 성명 : 이진우<br>
								- 소속 : 판매그룹<br>
								- 직책 : 판매그룹장<br>
								- 이메일 : jinuri@hdc-dvp.com<br>
								- 전화번호 : 02-2008-9961
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="box_content">
			<h2>제 10조 이용자 및 정보주체의 권익침해에 대한 구제 방법</h2>
			<p class="desc">개인정보침해에 대한 신고 상담이 필요하신 경우에는 아이파크 홈페이지 고객센터 내 &lt;1:1문의&gt;코너와 webinfo@hdc-dvp.com 에 연락을 주시거나 아래
				기관에 문의하시기
				바랍니다.
			</p>
			<ul class="list_dot list">
				<li>개인정보 침해신고센터 : (국번없이) 118 (http://privacy.kisa.or.kr)</li>
				<li>개인정보 분쟁조정위원회 : 1833-6972 (www.kopico.go.kr)</li>
				<li>대검찰청 사이버수사과 : (국번없이)1301, cid@spo.go.kr (http://spo.go.kr)</li>
				<li>경찰청 사이버안전국 : (국번없이)182 (http://cyberbureau.police.go.kr)</li>
			</ul>
		</div>

		<div class="box_content">
			<h2>제 11조 정책 변경에 따른 고지 의무</h2>
			<p class="desc">현 개인정보처리방침은 2020년 6월 1일에 개정되었으며 정부의 정책 또는 보안기술의 변경에 따라 내용의 추가, 삭제 및 수정이 있을 시에는 개정 최소 7일 전에 홈페이지를
				통해 고지할 것입니다.
			</p>
			<ul class="list_dot list">
				<li>개인정보처리방침 공고 일자(7일전) : 2020. 5. 25 </li>
				<li>개인정보처리방침 시행 일자 : 2020. 6. 1 </li>
			</ul>
		</div>

	</div>
</body>

</html>