<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>개인정보수집이용 동의 : Iframe</title>
	<!-- Icon & Favicon -->
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
	<link rel="apple-touch-icon" href="../favicon-180x180.png">
	<!-- // Icon & Favicon -->
	<link rel="stylesheet" href="../css/terms.css">
</head>

<body>
	<div class="document">
		<p class="desc">HDC현대산업개발은 개인정보보호법 및 관련 법령을 준수하여 아래와 같이 고객님의 개인정보를 수집·이용하고자 합니다. 내용을 자세히 읽어 보신 후 동의 여부를 결정하여 주시길
			바랍니다.</p>
		<div class="box_table">
			<table>
				<caption>개인정보 수집·이용 목적, 수집 항목, 보유·이용기간</caption>
				<colgroup>
					<col width="33.33%">
					<col width="33.33%">
					<col width="33.33%">
				</colgroup>
				<thead>
					<tr>
						<th>수집·이용 목적</th>
						<th>수집 항목</th>
						<th>보유·이용기간</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<ol class="list_number">
								<li>
									회원관리
									<ul class="list_dot list_depth">
										<li>이용자 식별 및 본인 여부 확인, 사용자 통계 및 분석, 부정 이용 방지</li>
									</ul>
								</li>
								<li>
									홈페이지/앱 서비스 제공
									<ul class="list_dot list_depth">
										<li>관심 단지 등록, 전화 상담 예약, 1:1 문의, 뉴스레터 신청, 이벤트 참여</li>
									</ul>
								</li>
								<li>
									계약 및 입주관련 서비스 제공
									<ul class="list_dot list_depth">
										<li>계약 및 입주 단지 등록, 견본주택 방문 예약, 분양 및 옵션 계약 관리, 입주관리, A/S 신청, 고객만족도 조사</li>
									</ul>
								</li>
								<li>
									마케팅 및 광고 활용
									<ul class="list_dot list_depth">
										<li>분양/브랜드 홍보, 이벤트 및 광고성 정보 제공, 청구서/경품 배송 및 관련 민원 처리</li>
									</ul>
								</li>
							</ol>
						</td>
						<td>
							(필수) 이름, 성별, 생년월일, 휴대폰 번호, 아이디, 비밀번호, 이메일 주소, 주소, 본인확인 인증값(CI/CD)<br>
							(선택) 없음
						</td>
						<td>
							<ul class="list_dot type_bold type_underline">
								<li>회원 탈퇴 시 또는 회원에서 제명된 때 파기</li>
								<li>1년 동안 로그인 등 이용 기록이 없는 경우 회원에게 사전 통지 후 즉시 파기</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<p class="sub_desc">※ 고객님께서는 위와 같이 개인정보를 수집·이용하는 데 동의를 거부할 권리가 있습니다. 다만 동의를 거부하시는 경우 회원가입이 제한되어 각 이용 목적에 해당하는 IPARK
			서비스를 이용하실 수 없습니다.</p>
	</div>
</body>

</html>