<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>개인정보처리방침(190917) : Iframe</title>
	<!-- Icon & Favicon -->
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
	<link rel="apple-touch-icon" href="../favicon-180x180.png">
	<!-- // Icon & Favicon -->
	<link rel="stylesheet" href="../css/terms.css">
</head>

<body>
	<div class="document">
		<h1>개인정보처리방침 개정(안)</h1>
		<div class="box_content">
			<h2>제 1 조 처리하는 개인정보 항목</h2>
			<ol class="list_number">
				<li>필수 수집항목 : 이름, 성별, 생년월일, 휴대폰번호, 주소, 이메일, 주거종류, 주거구분</li>
				<li>선택 수집항목 : 관심지역, 관심단지, 마케팅수신</li>
				<li>개인정보 수집 방법 : 웹사이트(회원가입), 단말기(스마트폰, 태블릿PC 등)</li>
			</ol>
		</div>
		<div class="box_content">
			<h2>제 2 조 개인정보의 처리 목적</h2>
			<ol class="list_number">
				<li>서비스 제공에 관한 계약 이행</li>
				<li>회원 관리, 회원제 서비스 이용에 따른 본인확인, 개인 식별, 가입 의사 확인, 연령확인, 관심 지역 및 단지 확인, 불만처리 등 민원처리, 고지사항 전달
				</li>
				<li>마케팅 및 광고에 활용, 이벤트 등 광고성 정보 전달</li>
			</ol>
		</div>
		<div class="box_content">
			<h2>제 3 조 개인정보의 자동 수집 장치의 설치ㆍ운영 및 그 거부에 관한 사항</h2>
			<p class="desc">HDC현대산업개발(이하 “회사”)은 회원의 정보를 수시로 저장하고 찾아내는 ‘쿠키(cookie)’ 등을 운용합니다. <br>
				쿠키란 회사의 웹사이트를 운영하는데 이용되는 서버가 회원의 브라우저에 보내는 아주 작은 텍스트 파일로서 고객의 단말기(PC/스마트폰/태플릿 PC 등)의 하드디스크에 저장됩니다. <br>
				회사는 다음과 같은 목적을 위해 쿠키를 사용합니다.
			</p>
			<ol class="list_number">
				<li>쿠키 등 사용 목적
					<p class="small_desc">
						홈페이지 접속빈도 및 방문시간 분석, 고객의 관심분야 파악 및 분석, 각종 이벤트 참여 및 방문횟수 파악 등을 통한 타겟 마케팅 및 개인 맞춤 서비스 제공을 위해 쿠키 등을 사용합니다. <br>
						단, 쿠키의 저장을 거부할 경우에는 일부 서비스는 이용할 수 없습니다.
					</p>
				</li>
				<li>쿠키 수집항목
					<p class="small_desc">
						쿠키는 서비스 이용 목적으로 저장되며, 거부 시 삭제됩니다.</p>
				</li>
				<li>쿠키 설정 거부 방법
					<ol class="list_depth">
						<li>① 회원은 쿠키 활용에 대한 선택권을 가지고 있습니다. 따라서, 회원은 웹 브라우저의 옵션을 선택함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을
							거치도록 하거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다. </li>
						<li>② 설정방법 예(인터넷 익스플로러의 경우) : 웹 브라우저 상단의 도구 &gt; 인터넷옵션 &gt; 개인정보 &gt; 고급 &gt; “자동으로쿠키처리 안 함”
							체크
							&gt; 원하는 항목 선택 <br>
							(단, 쿠키의 저장을 거부할 경우 일부 서비스 이용에 어려움이 있을 수 있습니다.)
						</li>
					</ol>
				</li>
			</ol>
			<p class="sub_desc">※ 회사는 웹사이트에 광고를 게재하는 배너에서도 광고주나 마케팅회사에 의해 쿠키가 사용되는 경우도 있음을 알려드립니다. <br>
				이 경우 해당 쿠키는 시스템 관리와 광고주에게 제공할 통계 집계 등을 위하여 회원들의 IP주소를 모으기도 합니다. 해당 쿠키가 수집하는 개인정보에 관한 사항은 광고주나 마케팅회사의 개인정보처리방침에
				따릅니다.</p>
		</div>
		<div class="box_content">
			<h2>제 4조 개인정보 처리, 보유기간 및 파기에 관한 사항</h2>
			<p class=desc>회사가 개인정보를 수집하는 경우 개인정보의 처리목적이 달성되거나 고객의 동의를 받은 기간까지 보유하며, 관계법령(상법, 전자금융거래법, 신용정보의 이용 및 보호에 관한 법률,
				「정보통신망 이용촉진
				및 정보보호 등에 관한 법률」 등)에 의한 정보보호 사유 의무가 있는 경우에는 일정기간 동안 보유한 뒤 파기합니다.</p>
			<ol class="list_number">
				<li>회사가 개인정보를 수집하는 경우 그 보유기간은 원칙적으로 회원탈퇴 즉시 파기하며, 제3자에게 제공된 개인정보에 대해서도 지체 없이 파기하도록 조치합니다.
				</li>
				<li>회사는 회원이 1년간 서비스 이용 기록이 없는 경우 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 제29조에 따라 회원에게 사전 통지하고 개인정보를 즉시
					파기합니다. </li>
				<li>회사는 개인정보를 보호하여 개인정보 유출로 인한 피해가 발생하지 않도록 하기 위하여 다음과 같은 방법을 통하여 개인정보를 파기합니다. <br>
					<ol class="list_depth">
						<li>① 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.</li>
						<li>② 전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.</li>
					</ol>
				</li>
				<li>법령 및 내부방침에 의한 보유 및 이용기간은 다음과 같습니다. <br>
					<ol class="list_depth">
						<li>
							① 회원 가입 및 관리
							<ul class="list_depth list_dot">
								<li>보유기간 : 회원 탈퇴 시까지 (단, 다음 사유에 해당되는 경우 해당 사유 종료 시까지)</li>
								<li>관계 법령 위반에 따른 수사/조사 등이 진행 중인 경우에는 해당 수사/조사 종료 시까지</li>
								<li>서비스 이용에 따른 채권/채무관계 정산 시까지</li>
							</ul>
						</li>
						<li>② 재화/서비스 제공 : 재화/서비스 공급 완료 및 요금결제 / 정산완료 시까지 (단, 다음 사유에 해당되는 경우 해당 사유 종료 시까지)
							<ul class="list_depth list_dot">
								<li>계약 또는 청약철회 등에 관한 기록 : 5년</li>
								<li>표시 광고에 관한 기록 : 광고 게재 종료 후 6개월</li>
								<li>대금결제 및 재화 등의 공급에 관한 기록 : 5년</li>
								<li>소비자의 불만 또는 분쟁처리에 관한 기록 : 3년</li>
								<li>전자금융거래의 관한 기록 : 5년</li>
							</ul>
						</li>
						<li>③ 회사 내부방침
							<ul class="list_depth list_dot">
								<li>부정이용 등에 관한 기록 : 10년</li>
							</ul>
						</li>
					</ol>
				</li>
			</ol>
		</div>
		<div class="box_content">
			<h2>제 5조 개인정보 제3자 제공에 관한 사항</h2>
			<p class=desc>회사는 회원의 개인정보를 개인정보의 처리 목적에서 고지한 범위 내에서 사용하며, 회원의 사전 동의 없이 수집목적 범위를 초과하여 이용하거나 원칙적으로 제3자에게 제공하지 않습니다.
				다만, 다음과
				같은 양질의 서비스 제공을 위해 회원의 개인정보를 제휴사 또는 개인정보 수탁업체에 제공하는 경우에는 사전에 회원에게 업체명, 제공되는 개인정보 항목, 제공 목적, 보유기간 등에 대해서 고지하고
				개별적으로
				동의를 구하는 절차를 제공합니다. 동의가 없는 경우에는 제공되지 않으며, 제휴사 및 개인정보 수탁업체가 변경된 경우에도 고지를 합니다. <br><br>다음의 경우에는 예외로 합니다.</p>
			<ol class="list_number">
				<li>통계작성, 학술연구 또는 시장조사를 위하여 필요한 경우로서 특정 개인을 식별할 수 없는 형태로 제공하는 경우</li>
				<li>도용방지를 위하여 본인확인이 필요한 경우</li>
				<li>법률의 규정 또는 법률에 의하여 필요한 불가피한 사유가 있는 경우</li>
				<li>수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요청이 있는 경우</li>
				<li>회원의 동의가 있는 경우, 서비스 제공 및 상담 등의 원활한 이행을 위하여 관련된 회원의 개인정보를 필요한 범위 내에서 제3자에게 제공합니다.</li>
			</ol>
			<div class="box_table type_row">
				<table>
					<caption>개인정보 제공받는 자, 제공 정보, 제공 목적, 보유 및 이용기간 정보 제공</caption>
					<colgroup>
						<col width="20%">
						<col width="30%">
						<col width="50%">
					</colgroup>
					<tbody>
						<tr>
							<th>개인정보 제공받는 자</th>
							<td>HDC㈜ 계열사</td>
							<td>HDC아이서비스, 부동산114</td>
						</tr>
						<tr>
							<th>제공 정보</th>
							<td colspan="2">이름, 성별, 생년월일, 휴대폰번호, 주소, 이메일, 주거종류, 주거구분, 사이트 이용기록</td>
						</tr>
						<tr>
							<th>제공 목적</th>
							<td colspan="2">본인 확인을 통한 부정이용 방지, 이용자가 문의한 서비스 제공, 서비스 내 맞춤형 추천 정보 제공, 시장조사, 서비스 개발 및 분석, 빅데이터 연구</td>
						</tr>
						<tr>
							<th>보유 및 이용기간</th>
							<td colspan="2">서비스 목적 달성 시. <br>단, 전자상거래 등에서의 소비자 보호에 관한 법률 및 관계 법령에 따른 보관 의무가 있을 경우 해당 기간 동안 보관함 </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="box_content">
			<h2>제 6조 개인정보 처리 위탁 안내</h2>
			<p class="desc">회사는 보다 나은 서비스 제공과 고객편의 제공 등 업무 수행을 원활하게 하기 위하여 외부 전문업체에 고객의 개인정보에 대한 수집·보관·처리·이용·제공·관리·파기 등 (이하
				‘처리’)을 위탁할 수
				있습니다. 회사가 외부 전문 업체에 고객의 개인정보를 처리 위탁하는 경우 그 위탁업무의 내용, 수탁자는 다음과 같습니다.</p>
			<div class="box_table">
				<table>
					<caption>수탁업무 수탁사 정보 제공</caption>
					<colgroup>
						<col width="30%">
						<col width="70%">
					</colgroup>
					<thead>
						<tr>
							<th class="center">수탁업무</th>
							<th class="center">수탁사</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="center">정보 전산 처리 및 유지관리, <br>고객정보 DB 시스템 위탁 운영</td>
							<td class="center">DKBMC </td>
						</tr>
						<tr>
							<td class="center">웹사이트 유지보수, 고객정보 DB 시스템 위탁 운영</td>
							<td class="center">㈜하이브랩, 영전기업㈜)</td>
						</tr>
						<tr>
							<td class="center">본인인증업무</td>
							<td class="center">SCI평가정보㈜</td>
						</tr>
						<tr>
							<td class="center">분양 광고 대행</td>
							<td class="center">ADCK, 포애드원, 메이커스, ADHQ, 선광, 에딧, 스웨이브, 클리프, 인터크레존, 라파크, NNC, 갤럭시아에스엠, 소담, 대연, (주)라파크
							</td>
						</tr>
						<tr>
							<td class="center">분양 대행</td>
							<td class="center">프런티어마루, 컬리넌홀딩스, 엠비앤홀딩스, 건물과사람들, 삼일산업,상림디엠텍, 디엔씨민은, 미래인, 와이낫플래닝, CLK, 도시애, 도우씨앤, SNB,
								더감,
								엔티파크, 솔렉스마케팅, 마켓리더, 태원피앤에이, 루트알앤씨, 랜드비전, 세원미, 유앤아이디벨롭먼트, 정원씨앤디, 태풍, 한아름기획, 인피니티, 니소스씨앤디, 팜파트너스,
								씨앤디플래닝,
								터존, 굿모닝개발, 이지디앤씨, 씨아이앤디플러스</td>
						</tr>
					</tbody>
				</table>
			</div>
			<ul class="list">
				<li>* 개인정보의 보유 및 이용기간 : 위탁계약 종료 시까지</li>
				<li>* 수탁사는 회사 정책과 분양 사정에 따라 변경될 수 있습니다. </li>
			</ul>
		</div>
		<div class="box_content">
			<h2>제 7조 정보주체의 권리, 의무 및 그 행사방법에 관한 사항</h2>
			<p class="desc">회원 및 법정대리인의 개인정보를 최신의 상태로 정확하게 입력하여 불의의 사고를 예방해 주시기 바랍니다.
				회원 및 법정대리인이 입력한 부정확한 정보로 인해 발생하는 사고의 책임은 회원 및 법정대리인 자신에게 있으며 타인 정보의 도용 등 허위 정보를 입력할 경우 서비스 이용이 제한 될 수 있습니다. 회원
				및
				법정대리인은 개인정보를 보호받을 권리와 함께 스스로를 보호하고 타인의 정보를 침해하지 않을 의무도 가지고 있습니다. 회원 및 법정대리인의 개인 정보가 유출되지 않도록 조심하시고 게시물을 포함한
				타인의
				개인정보를 훼손하지 않도록 유의해 주십시오. 만약 이 같은 책임을 다하지 못하고 타인의 정보 및 존엄성을 훼손할 시에는 『정보통신망 이용촉진 및 정보보호 등에 관한 법률』, 『개인정보보호법』 등에
				의해
				처벌 받을 수 있습니다.
			</p>
			<ol class="list_number">
				<li>개인정보의 열람 및 정정
					<p class="small_desc">
						회원은 아이파크 홈페이지(www.i-park.com)를 통하여 언제든지 회원가입 등록되어 있는 귀하의 개인정보를 열람하거나 정정을 할 수 있습니다. 단, 분양계약서 등 본 홈페이지에서 체결하지
						않은 계약에 대한 회원님의 정보는 담당 센터를 통하여 수정하셔야 합니다.
					</p>
				</li>
				<li>의견수렴 및 불만처리
					<p class="small_desc">
						회원은 개인정보보호와 관련하여 고객의 의견과 불만을 제기할 수 있습니다. 개인정보와 관련한 불만이 있으신 분은 홈페이지의 개인정보 보호책임자에게 의견을 주시면 접수 후 조치하여 처리결과를 통보
						드립니다.
					</p>
				</li>
			</ol>
		</div>

		<div class="box_content">
			<h2>제 8조 14세 미만의 아동의 개인정보보호에 관한 사항</h2>
			<p class="desc">회사는 만14세 미만의 회원가입은 허용하지 않고 있습니다. 다만, 계약과 관련된 정보의 경우엔 반드시 법정대리인의 동의를 통해 정보를 수집합니다.</p>
		</div>
		<div class="box_content">
			<h2>제 9조 개인정보 보호책임자에 관한 사항</h2>
			<p class="desc">회사는 회원 및 정보주체의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 개인정보 보호책임자를 두고 있습니다. 개인정보와 관련한 문의사항이 있으시면 아래의
				개인정보
				보호책임자 또는
				개인정보 관리실무자에게 연락 주시기 바랍니다. 귀하의 문의 사항에 신속하고 성실하게 답변해 드리겠습니다.</p>
			<div class="box_table type_row">
				<table>
					<caption>개인정보 보호책임자, 개인정보 관리실무자 정보 제공</caption>
					<colgroup>
						<col width="30%">
						<col width="70%">
					</colgroup>
					<tbody>
						<tr>
							<th>개인정보 보호책임자</th>
							<td>
								- 성명 : 김건용 <br>
								- 소속 : 마케팅팀<br>
								- 직책 : 팀장<br>
								- 이메일 : k2620@hdc-dvp.com <br>
								- 전화번호 : 02-2008-9269
							</td>
						</tr>
						<tr>
							<th rowspan="2">개인정보 관리실무자</th>
							<td>
								- 성명 : 이철우<br>
								- 소속 : 개발1팀<br>
								- 직책 : 역량그룹장<br>
								- 이메일 : culee@hdc-dvp.com<br>
								- 전화번호 : 02-2008-9148
							</td>
						</tr>
						<tr>
							<td>
								- 성명 : 이진우<br>
								- 소속 : 도시재생1팀<br>
								- 직책 : 역량그룹장<br>
								- 이메일 : jinuri@hdc-dvp.com<br>
								- 전화번호 : 02-2008-9961
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="box_content">
			<h2>제 10조 이용자의 권익침해에 대한 구제 방법</h2>
			<p class="desc">개인 정보침해에 대한 신고 상담이 필요하신 경우에는 아이파크 홈페이지 고객센터 내 &lt;1:1문의&gt;코너와 webinfo@ hdc-dvp.com 에 연락을 주시거나 아래
				기관에 문의하시기
				바랍니다.</p>
			<ul class="list list_dot">
				<li>개인정보 침해신고센터 : (국번없이) 118 (http://privacy.kisa.or.kr)</li>
				<li>개인정보 분쟁조정위원회 : 1833-6972 (www.kopico.go.kr)</li>
				<li>대검찰청 사이버수사과 : (국번없이)1301, cid@spo.go.kr (http://spo.go.kr)</li>
				<li>경찰청 사이버안전국 : (국번없이)182 (http://cyberbureau.police.go.kr)</li>
			</ul>
		</div>
		<div class="box_content">
			<h2>제 11조 정책 변경에 따른 고지 의무</h2>
			<p class="desc">현 개인정보처리방침은 2019년 09월 17일에 개정되었으며 정부의 정책 또는 보안기술의 변경에 따라 내용의 추가, 삭제 및 수정이 있을 시에는 개정 최소 7일 전에 홈페이지를
				통해 고지할
				것입니다.</p>
			<ul class="list list_dot">
				<li>개인정보처리방침 공고 일자 : 2019. 09. 10.</li>
				<li>개인정보처리방침 시행 일자 : 2019. 09. 17.</li>
			</ul>
		</div>
	</div>
</body>

</html>