<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>개인정보처리방침(관심고객 등록) : Iframe</title>
	<!-- Icon & Favicon -->
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
	<link rel="apple-touch-icon" href="../favicon-180x180.png">
	<!-- // Icon & Favicon -->
	<link rel="stylesheet" href="../css/terms.css">
</head>

<body>
	<div class="document">
		<h1>개인정보처리방침 개정(안)</h1>

		<div class="box_content">
			<h2>1. 수집이용 목적 :</h2>
			<p class="desc">관심고객등록을 통하여 개인정보를 다음의 목적을 위해 사용합니다.</p>
			<ul class="list list_dot">
				<li>분양정보 및 분양상담 등 문의 처리</li>
				<li>마케팅 및 광고홍보에 활용</li>
			</ul>
		</div>
		<div class="box_content">
			<h2>2. 수집 항목(필수) :</h2>
			<p class="desc">이름, 관심평형, 휴대폰번호, 이메일주소, 주소, 청약현황, 설문조사</p>
		</div>
		<div class="box_content">
			<h2>3. 보유 및 이용기간 : </h2>
			<p class="desc">해당 단지 분양완료 후 3개월<br>고객께서는 개인정보 수집 및 이용에 따른 동의를 거부할 수 있으나 동의 거부 시 관심고객 등록이 제한되며 분양정보에 대한 상담 및 정보제공이
				불가능합니다.</p>
		</div>
		<div class="box_content">
			<h2>4. 개인정보 처리 위탁 안내 : </h2>
			<p class="desc">회사는 보다 나은 서비스 제공과 고객편의 제공 등 업무 수행을 원활하게 하기 위하여 외부 전문업체에 이용자 및 정보주체의 개인정보에 대한 수집·보관·처리·이용·제공·관리·파기
				등<br>(이하
				‘처리’)을 위탁할 수 있습니다. 회사가 외부 전문 업체에 이용자 및 정보주체의 개인정보를 처리 위탁하는 경우 그 위탁업무의 내용, 수탁자는 다음과 같습니다.</p>
			<div class="box_table">
				<table>
					<caption>수탁업무 수탁사 정보 제공</caption>
					<colgroup>
						<col width="30%">
						<col width="70%">
					</colgroup>
					<thead>
						<tr>
							<th class="center">수탁업무</th>
							<th class="center">수탁사</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="center">정보 전산 처리 및 유지관리, 시스템 운영 및 데이터 관리고객정보 DB 시스템 위탁 운영</td>
							<td class="center">HNIX(주)<br>㈜디케이비엠시</td>
						</tr>
						<tr>
							<td class="center">HDC현대산업개발/아이파크 웹사이트 유지보수, 아이파크 웹사이트 고객정보 DB 시스템 위탁 운영</td>
							<td class="center">㈜하이브랩, 영전기업㈜</td>
						</tr>
						<tr>
							<td class="center">본인인증업무</td>
							<td class="center">SCI평가정보㈜</td>
						</tr>
						<tr>
							<td class="center">계약, 명의변경, 수금, 입주, 하자관리 업무, 고객콜센터 운영, 임대관리</td>
							<td class="center">HDC랩스㈜</td>
						</tr>
						<tr>
							<td class="center">광고 대행</td>
							<td class="center">애드에이치큐, 메이트, KS IDEA, 애드파워, 클리프 커뮤니케이션, 대연, 위너케이, 선광커뮤니케이션, ㈜라파크, (주)리얼투데이미디어랩</td>
						</tr>
						<tr>
							<td class="center">분양 대행</td>
							<td class="center">유성, 프런티어마루, 컬리넌홀딩스, 엠비앤홀딩스, 태원씨아이앤디, 상림디엠텍, 엔티파크, 마켓리더, 루트이앤씨, 산하이앤씨, 씨아이앤디플러스,
								인피니티디앤씨, 해솔아이앤디플러스, 인스파트너스, CLK주식회사, ㈜삼원알디에이</td>
						</tr>
						<tr>
							<td class="center">입주 대행</td>
							<td class="center">주식회사 드림하우스, ㈜네스트컨설팅, 플라모 주식회사, 피앤씨컨설팅</td>
						</tr>
						<tr>
							<td class="center">안내문 발송 대행</td>
							<td class="center">대연인쇄사</td>
						</tr>
						<tr>
							<td class="center">SNS/웹진/뉴스레터 컨텐츠 제작 및 운영</td>
							<td class="center">㈜프리즘</td>
						</tr>
					</tbody>
				</table>
			</div>
			<p class="desc">또한 회사는 계약 이행, 이용자 및 정보주체의 편의 증진을 위해 다음과 같이 개인정보를 국외에 이전하여 처리를 위탁하고 있습니다.</p>
			<div class="box_table">
				<table>
					<caption>수탁업무 수탁사 정보 제공</caption>
					<colgroup>
						<col width="30%">
						<col width="*">
						<col width="*">
						<col width="*">
						<col width="*">
						<col width="*">
					</colgroup>
					<thead>
						<tr>
							<th class="center">이전받는자</th>
							<th class="center">이전하는 개인정보 항목</th>
							<th class="center">이전 국가</th>
							<th class="center">이전일시 및 이전방법</th>
							<th class="center">이용목적</th>
							<th class="center">보유 및 이용기간</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="center">Salesforce.com,Inc (deogjig.lee@salesforce.com, hyoon@salesforce.com)</td>
							<td class="center">수집된 개인정보 전체</td>
							<td class="center">일본</td>
							<td class="center">20.06.01 전용네트워크 이용 전송</td>
							<td class="center">계약, 명의변경, 수금, 입주, 하자관리와 관련한 서비스 제공</td>
							<td class="center">제공받은 목적달성시 또는 위탁계약종료시</td>
						</tr>
					</tbody>
				</table>
			</div>
			<p class="desc">위탁계약 시 개인정보보호의 안전을 기하기 위하여 개인정보보호 관련 지시 엄수, 개인정보에 관한 금지 및 사고시의 책임부담 등을 명확히 규정하고 있습니다. 동 업체가
				변경될 경우, 회사는 변경된 업체 명을 개인정보처리방침에 공지합니다.</p>
		</div>
	</div>
</body>

</html>