<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>개인정보처리방침(trust_content) : Iframe</title>
	<!-- Icon & Favicon -->
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
	<link rel="apple-touch-icon" href="../favicon-180x180.png">
	<!-- // Icon & Favicon -->
	<link rel="stylesheet" href="../css/terms.css">
</head>

<body>
	<div class="document">
		<h1>처리위탁동의</h1>
		<div class="box_content">
			<h2>1. 개인정보처리위탁 안내</h2>
			<p class="desc">회사는 보다 나은 서비스 제공과 고객편의 제공 등 업무 수행을 원활하게 하기 위하여 외부 전문업체에 고객의 개인정보에 대한 수집·보관·처리·이용·제공·관리·파기 등 (이하
				‘처리’)을 위탁할 수
				있습니다. 회사가 외부 전문 업체에 고객의 개인정보를 처리 위탁하는 경우 그 위탁업무의 내용, 수탁자는 다음과 같습니다.</p>
			<div class="box_table">
				<table summary="">
					<caption></caption>
					<colgroup>
						<col style="width: 20%;">
						<col style="width: 20%;">
						<col style="width: 20%;">
						<col style="width: 20%;">
						<col style="width: 20%;">
					</colgroup>
					<thead>
						<tr>
							<th>수탁업체</th>
							<th>업종</th>
							<th>수탁범위</th>
							<th>공유정보</th>
							<th>보유 및 이용기간</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>㈜마이다스아이티</td>
							<td>웹디자인, 소프트웨어개발, 광고디자인, 광고대행업</td>
							<td>컨텐츠 공급, 홈페이지 디자인 기획 및 개발</td>
							<td>-</td>
							<td>제공받은 목적 달성 시 혹은 위탁계약 종료시까지</td>
						</tr>
						<tr>
							<td>현대BS&amp;C</td>
							<td>IT 업체</td>
							<td>서비스제공을 위한 시스템 운영위탁</td>
							<td>수집된 개인정보 전체</td>
							<td>제공받은 목적 달성 시 혹은 위탁계약 종료시까지</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="box_content">
			<h2>2. 동의 거부권 및 미동의에 대한 불이익 안내</h2>
			<p class="desc">개인정보보호법 제 15조에 따라서 개인정보 수집 및 이용에 따른 동의를 거부할 수 있으나 회사의 회원가입, 상담, 서비스 신청 등의 서비스를 제공받을 수 없습니다.</p>
		</div>
	</div>
</body>

</html>