.box_banner_app{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid $light-gray;
  @include vw-convert-pc(padding, (50, 0, 100));
  @include vw-convert-pc(margin-top, 160);
  .inner{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
  }
  .box_cotact{
    .box_tel{
      display: flex;
      align-items: center;
      @include vw-convert-pc(gap, 30);
      .title{
        @include vw-font-style-pc(22, 600, 1.4);
      }
      .tel{
        @include vw-font-style-pc(40, 500, 1.46);
      }
    }
    .list_time{
      color: $dark-gray;
      display: flex;
      flex-wrap: wrap;
      letter-spacing: -0.02em;
      @include vw-convert-pc(margin-top, 14);
      @include vw-convert-pc(max-width, 362);
      @include vw-convert-pc(gap, (12, 14));
      @include vw-font-style-pc(18, 500, 1.4);
    }
  }
  .box_text{
    .title{
      text-transform: uppercase;
      letter-spacing: 0.2em;
      @include vw-font-style-pc(30, 600, 1.4);
    }
    .desc{
      letter-spacing: -0.033em;
      @include vw-convert-pc(margin-top, 26);
      @include vw-font-style-pc(18, 500, 1.5);
    }
    
  }
  .box_download{
    @include vw-convert-pc(padding-right, 83);
  }
  .sub_title{
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    @include vw-font-style-pc(23, 600, 1.4);
  }
  .box_link{
    display: flex;
    @include vw-convert-pc(margin-top, 20);
    @include vw-convert-pc(gap, 20);

    .btn_download{
      display: flex;
      align-items: center;
      color: $font-black;
      letter-spacing: -0.02em;
      @include vw-convert-pc(gap, 4);
      @include vw-font-style-pc(18, 500, 1.4);
      &:after{
        content:'';
        display: block;
        @include useSvg-icons('icon_my_download', 24px);
      }
    }
  }
}

@include breakpoint(mobile) {
  .box_banner_app{
    width: calc(100% + 40px);
    padding: 60px 20px 90px;
    margin: 130px -20px 0;
    .inner{
      flex-direction: column;
      align-items: flex-start;
      gap: 60px;
    }
    .box_cotact{
      .box_tel{
        align-items: flex-start;
        flex-direction: column;
        gap: 18px;
        .title{
          font-size: 18px;
        }
        .tel{
          font-size: 36px;
        }
      }
      .list_time{
        margin-top: 24px;
        gap: 6px;
        max-width: 265px;
        font-size: 14px;
        .time_title{
          min-width: 100px;
        }
      }
    }
    .box_text{
      .title{
        font-size: 24px;
      }
      .desc{
        margin-top: 24px;
        font-size: 16px;
      }
    }
    
    .box_download{
      padding-right: 0;
    }
    .sub_title{
      font-size: 20px;
    }
    .box_link{
      flex-direction: column;
      margin-top: 21px;
      gap: 13px;
      .btn_download{
        gap: 4px;
        font-size: 16px;
        &:after{
          @include useSvg-icons-mo('icon_my_download', 22px);
        }
      }
    }
    
  }
}