.flatpickr-calendar {
  transform: translateY(10px);
  box-shadow: none;
  border: 1px solid #cccccc;
  border-radius: 10px;
  @include vw-convert-pc(padding, (20, 0));
  @include vw-convert-pc(width, 505);

  &.open {
    z-index: 100;
    max-height: none;
  }

  &.inline {
    position: static;
    border: none;
    transform: none;

    .flatpickr-day {
      &.flatpickr-disabled,
      &.flatpickr-disabled:hover {
        background: transparent;
        color: rgba($dark-gray, 0.3);
        border-radius: 50%;
      }

      &.flatpickr-disabled:hover {
        background: transparent;
        font-weight: 400;
      }
    }
  }

  &:after,
  &:before {
    display: none;
  }

  .flatpickr-prev-month,
  .flatpickr-next-month {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    &:after {
      content: '';
      display: block;
      @include useSvg-icons('icon_calendar_arrow', 24px);
    }
    svg {
      display: none;
    }
  }
  .flatpickr-next-month {
    &:after {
      transform: rotate(180deg);
    }
  }
  .flatpickr-months {
    display: flex;
    align-items: center;
    justify-content: center;
    @include vw-convert-pc(gap, 20);
  }

  .flatpickr-month {
    display: flex;
    align-items: center;
    flex: none;
    width: auto;
    height: auto;
  }
  .flatpickr-current-month {
    position: static;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: auto;
    padding: 0;
    font-size: unset;
    height: auto;
    input.cur-year {
      padding-left: 0;
      color: $font-black;
      @include vw-convert-pc(width, 52);
      @include vw-font-style-pc(20, 600, 1.08);

      &:disabled {
        opacity: 1;
      }
    }
    .arrowUp,
    .arrowDown {
      display: none;
    }
  }
  .flatpickr-monthDropdown-months {
    text-align: center;
    padding: 0;
    pointer-events: none;
    background: transparent;
    appearance: none;
    margin: 0;
    @include vw-font-style-pc(20, 600, 1.08);
  }
  .numInputWrapper {
    display: flex;
    pointer-events: none;
    width: auto;
    &:after {
      content: '.';
      display: block;
      @include vw-font-style-pc(20, 600, 1.08);
    }
  }

  .flatpickr-rContainer {
    width: 100%;
  }
  .flatpickr-weekdays {
    box-sizing: border-box;
    @include vw-convert-pc(padding, (0, 20));
    @include vw-convert-pc(height, 65);
    .flatpickr-weekday {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $dark-gray;
      @include vw-font-style-pc(18, 400, 1.3);
    }
  }
  .flatpickr-days {
    width: 100%;
    box-sizing: border-box;
    @include vw-convert-pc(padding, (0, 20));
  }
  .dayContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    max-width: 100%;
    .flatpickr-day {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 100%;
      @include vw-convert-pc(height, 65);
      @include vw-font-style-pc(18, 400, 1.3);
      &.today {
        border: 1px solid #7a3420;
        border-radius: 50%;
        color: #7a3420;
      }
      &:hover,
      &.selected {
        background: #7a3420;
        border-radius: 50%;
        color: $white;
        font-weight: 600;
        border: 0;
      }
      &.nextMonthDay {
        display: none;
      }
      &.prevMonthDay {
        visibility: hidden;
      }
    }
  }
}

@include breakpoint(mobile) {
  .flatpickr-calendar {
    transform: translateY(8px);
    padding: 18px 0;
    width: calc(100% - 36px);

    &.inline {
      width: 100%;

      .dayContainer {
        min-width: 100%;
      }
    }

    .flatpickr-prev-month,
    .flatpickr-next-month {
      height: 24px;
      &:after {
        @include useSvg-icons-mo('icon_calendar_arrow', 24px);
      }
    }
    .flatpickr-months {
      gap: 20px;
      height: 44px;
    }

    .flatpickr-current-month {
      input.cur-year {
        width: 50px;
        font-size: 18px;
      }
    }
    .flatpickr-monthDropdown-months {
      font-size: 18px;
    }
    .numInputWrapper {
      &:after {
        font-size: 18px;
      }
    }

    .flatpickr-weekdays {
      padding: 0 5px;
      height: 44px;
      .flatpickr-weekday {
        font-size: 14px;
      }
    }
    .flatpickr-days {
      padding: 0 5px;
    }
    .dayContainer {
      .flatpickr-day {
        height: 44px;
        font-size: 14px;
      }
    }
  }
}
