.box_user_form {
  .label {
    display: flex;
    @include vw-convert-pc(gap, 3);
    @include vw-convert-pc(margin-bottom, 14);
    @include vw-font-style-pc(18, 600, 1.4);
    &.is_required {
      &:after {
        content: '';
        display: block;
        @include useSvg-icons('icon_required', 8px);
      }
    }
  }

  .box_row {
    display: flex;
    width: 100%;
    @include vw-convert-pc(gap, 30);
    @include vw-convert-pc(margin-top, 30);

    .box_input {
      @include vw-convert-pc(gap, 14);
      .label {
        margin-bottom: 0;
      }
    }

    &.type_column {
      flex-direction: column;
      gap: 0;
    }
    & + .box_row {
      @include vw-convert-pc(margin-top, 30);
    }
  }

  .box_input {
    @include vw-convert-pc(max-width, 552);
  }

  .notice_desc {
    letter-spacing: -0.02em;
    color: #858585;
    @include vw-font-style-pc(12, 400, 1.5);
  }

  .box_password {
    align-items: flex-end;
    @include vw-convert-pc(gap, 12);
    .notice_desc {
      @include vw-convert-pc(padding-bottom, 19);
    }
  }

  .box_address {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include vw-convert-pc(gap, 10);
    & > .box_input {
      &.type_address {
        grid-column: 2 / 1;
      }
      &:last-of-type {
        grid-column: 2 / 2;
      }
    }
    .box_postcode {
      display: flex;
      @include vw-convert-pc(gap, 10);
      .btn_rounded {
        flex: none;
      }
    }
  }

  .box_id {
    display: flex;
    align-items: center;
    @include vw-convert-pc(gap, 12);
  }

  .box_title {
    display: flex;
    align-items: center;
    @include vw-convert-pc(gap, 10);

    .required_desc {
      display: flex;
      align-items: flex-start;
      color: $dark-gray;
      @include vw-convert-pc(gap, 4);
      @include vw-font-style-pc(18, 400, 1.3);
      &:before {
        content: '';
        @include useSvg-icons('icon_required', 8px);
      }
    }

    .edit_title {
      @include vw-font-style-pc(26, 600, 1.3);
    }
  }

  .box_phone_input {
    display: flex;
    align-items: center;

    .box_input {
      & + .box_input {
        @include vw-convert-pc(padding-left, 28);
        &:before {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          content: '';
          display: block;
          @include useSvg-icons('icon_hyphen', 16px);
          @include vw-convert-pc(margin, (0, 6));
        }
      }
    }
    .btn_rounded {
      flex: none;
      @include vw-convert-pc(margin-left, 12);
    }
  }

  .box_email_input {
    display: flex;
    align-items: center;

    .box_input {
      @include vw-convert-pc(width, 264);
      & + .box_input {
        position: relative;
        @include vw-convert-pc(padding-left, 28);
        &:before {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          content: '@';
          display: block;
          color: #858585;
          @include vw-convert-pc(margin, (0, 8));
          @include vw-font-style-pc(14, 600, 1.2);
        }
      }
    }
    .box_select {
      flex: none;
      @include vw-convert-pc(width, 264);
      @include vw-convert-pc(margin-left, 12);
    }
  }
}

@include breakpoint(mobile) {
  .box_user_form {
    .label {
      font-size: 16px;
      margin-bottom: 12px;
    }

    .box_title {
      flex-direction: column;
      align-items: flex-start;
      gap: 14px;

      .required_desc {
        margin-top: 0;
        font-size: 16px;
      }
    }

    .notice_desc {
      font-size: 12px;
    }

    .box_row {
      flex-direction: column;
      gap: 40px;
      margin-top: 45px;
      & + .box_row {
        margin-top: 40px;
      }
    }

    .box_input {
      max-width: none;
    }

    .box_password {
      align-items: flex-start;
      gap: 6px;

      .notice_desc {
        padding-bottom: 0;
      }
    }

    .box_address {
      width: 100%;
      grid-template-columns: repeat(1, 1fr);
      gap: 8px 0;
      & > .box_input {
        &:last-of-type {
          grid-column: 3 / 1;
        }
      }
      .box_postcode {
        display: flex;
        gap: 8px;
        .box_input {
          flex: 1;
          .input {
            width: 100%;
            min-width: 0;
            box-sizing: border-box;
          }
        }
        .btn_rounded {
          flex: none;
          width: 120px;
          font-size: 14px;
        }
      }
    }

    .box_id {
      flex-direction: column;
      gap: 8px;
      .btn_rounded {
        width: 100%;
      }
    }

    .box_phone_input {
      flex-wrap: wrap;

      .box_input {
        width: calc((100% / 3) - 19px);
        & + .box_input {
          padding-left: 28px;
          &:before {
            margin: 0 6px;
            @include useSvg-icons-mo('icon_hyphen', 16px);
          }
        }
      }
      .btn_rounded {
        flex: 1;
        margin: 8px 0 0 0;
      }
    }
    .box_email_input {
      flex-wrap: wrap;
      .box_input {
        width: calc((100% / 2) - 14px);
        & + .box_input {
          padding-left: 28px;
          &:before {
            margin: 0 8px;
            font-size: 14px;
          }
        }
      }
      .box_select {
        flex: 1;
        margin: 8px 0 0 0;
      }
    }
  }
}
