.layer{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;

  
  &_inner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: $white;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    @include vw-convert-pc(max-width, 388);
    @include vw-convert-pc(padding, (60, 24, 24));
    & > .btn{
      width: 100%;
      @include vw-convert-pc(margin-top, 32);
    }
  }
  .title{
    letter-spacing: -0.02em;
    @include vw-font-style-pc(24, 600, 1.4);
  }
  .desc{
    color: $dark-gray;
    letter-spacing: -0.02em;
    @include vw-convert-pc(margin-top, 12);
    @include vw-font-style-pc(16, 400, 1.4);
    .highlight{
      font-weight: 500
    }
  }
  .box_btn{
    display: flex;
    @include vw-convert-pc(margin-top, 32);
    @include vw-convert-pc(gap, 10);
    .btn{
      min-width: auto;
      flex: 1;
      @include vw-convert-pc(min-width, 165);
      @include vw-convert-pc(height, 50);
    }
  }
  .btn_close{
    position: absolute;
    @include vw-convert-pc(top, 20);
    @include vw-convert-pc(right, 20);
    &:before{
      content: '';
      display: block;
      @include useSvg-icons('icon_layer_close', 30px);
    }
  }
  .box_input_id{
    justify-content: center;
    @include vw-convert-pc(margin-top, 24);
  }
}
@include breakpoint(mobile) {
  .layer{
    padding: 20px;
    box-sizing: border-box;
    &_inner{
      max-width: calc(100% - 40px);
      padding: 50px 24px 24px;
      box-sizing: border-box;
    }
    .title{
      font-size: 20px;
    }
    .desc{
      letter-spacing: -0.04em;
      margin-top: 12px;
      font-size: 14px;;
    }
    .box_btn{
      margin-top: 24px;
      gap: 10px;
      .btn{
        min-width: auto;
        height: 46px;
      }
    }
    .btn_close{
      top: 20px;
      right: 20px;
      &:before{
        content: '';
        display: block;
        @include useSvg-icons-mo('icon_layer_close', 24px);
      }
    }
    .box_input_id{
      margin-top: 20px;
      
    }
  }
}
