.layer{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;

  
  &_inner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: $white;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    @include vw-convert-pc(max-width, 388);
    @include vw-convert-pc(padding, (60, 24, 24));
    & > .btn{
      width: 100%;
      @include vw-convert-pc(margin-top, 32);
    }
  }
  .title{
    letter-spacing: -0.02em;
    @include vw-font-style-pc(24, 600, 1.4);
  }
  .desc{
    color: $dark-gray;
    letter-spacing: -0.02em;
    @include vw-convert-pc(margin-top, 12);
    @include vw-font-style-pc(16, 400, 1.4);
    .highlight{
      font-weight: 500
    }
  }
  .box_btn{
    display: flex;
    @include vw-convert-pc(margin-top, 32);
    @include vw-convert-pc(gap, 10);
    .btn{
      min-width: auto;
      flex: 1;
      @include vw-convert-pc(min-width, 165);
      @include vw-convert-pc(height, 50);
    }
  }
  .btn_close{
    position: absolute;
    @include vw-convert-pc(top, 20);
    @include vw-convert-pc(right, 20);
    &:before{
      content: '';
      display: block;
      @include useSvg-icons('icon_layer_close', 30px);
    }
  }
  .box_input_id{
    justify-content: center;
    @include vw-convert-pc(margin-top, 24);
  }
}
.layer_img{
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  box-sizing: border-box;

  &.is_show{
    display: flex;
  }
  
  .layer_img_inner{
    max-width: 100%;
    max-height: 100%;
    position: relative;
  }
  .box_img{
    max-width: 100%;
    @include vw-convert-pc(height, 800);
    img{
      height: 100%;
    }
  }
  .btn_close{
    position: absolute;
    transform: translateX(100%);
    @include vw-convert-pc(top, 0);
    @include vw-convert-pc(right, -16);

    &:before{
      content: '';
      display: block;
      @include useSvg-icons('icon_project_close', 75px);
    }
  }
}

.layer_master{
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  &.is_show{
    display: flex;
  }
  .layer_master_inner{
    position: relative;
    background: $white;
    
    @include  vw-convert-pc(width, 1338);
    @include  vw-convert-pc(max-height, 800);
  }
  .layer_master_content{
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
  .box_text{
    @include vw-convert-pc(padding, (58, 40));
    .title{
      display: flex;
      align-items: center;
      @include vw-convert-pc(gap, 14);
      @include vw-font-style-pc(30, 500, 1.3);
    }
    .link_news{
      &:before{
        content:'';
        display: block;
        @include useSvg-icons('icon_copy', 40px);
        
      }
    }
    .desc{
      color: $dark-gray;
      letter-spacing: -0.02em;
      @include vw-convert-pc(margin-top, 30);
      @include vw-convert-pc(width, 944);
      @include vw-font-style-pc(16, 400, 1.4);
    }
  }
  .box_img{
    width: 100%;
    @include vw-convert-pc(height, 516);
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .btn_close{
    position: absolute;
    transform: translateX(100%);
    @include vw-convert-pc(top, 0);
    @include vw-convert-pc(right, -16);

    &:before{
      content: '';
      display: block;
      @include useSvg-icons('icon_project_close', 75px);
    }
  }

}
@include breakpoint(mobile) {
  .layer{
    padding: 20px;
    box-sizing: border-box;
    &_inner{
      max-width: calc(100% - 40px);
      padding: 50px 24px 24px;
      box-sizing: border-box;
    }
    .title{
      font-size: 20px;
    }
    .desc{
      letter-spacing: -0.04em;
      margin-top: 12px;
      font-size: 14px;;
    }
    .box_btn{
      margin-top: 24px;
      gap: 10px;
      .btn{
        min-width: auto;
        height: 46px;
      }
    }
    .btn_close{
      top: 20px;
      right: 20px;
      &:before{
        content: '';
        display: block;
        @include useSvg-icons-mo('icon_layer_close', 24px);
      }
    }
    .box_input_id{
      margin-top: 20px;
      
    }
  }
  .layer_img{
    padding: 20px;
  
    
    .box_img{
      width: 100%;
      height: auto;
      img{
        width: 100%;
      }
    }
    .btn_close{
      transform: translateY(-100%);
      top: -10px;
      right: 0;
  
      &:before{
        @include useSvg-icons-mo('icon_project_close', 44px);
      }
    }
  }

  .layer_master{
    padding: 105px 20px 50px;
    margin: auto;
    box-sizing: border-box;
    
    &.is_show{
      display: flex;
    }
    .layer_master_inner{
      width: 100%;
      max-height: 100%;
      height: auto;
    }
    .layer_master_content{
      height: 100%;
      overflow-y: auto;
    }
    .box_text{
      padding: 30px 20px 36px;
      .title{
        align-items: flex-start;
        gap: 20px;
        font-size: 20px;
      }
      .link_news{
        &:before{
          @include useSvg-icons-mo('icon_copy', 30px);
        }
      }
      .desc{
        width: 100%;
        margin-top: 18px;
        font-size: 14px;
      }
    }
    .box_img{
      height: 152px;
    }
    .btn_close{
      transform: translateY(-100%);
      top: -10px;
      right: 0;
  
      &:before{
        @include useSvg-icons-mo('icon_project_close', 44px);
      }
    }
  
  }
}