

.list_product{
  display: grid;
  justify-content: space-between;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  @include vw-convert-pc(gap, (110, 24));
  
  .item_product,
  .link_product{
    position: relative;
    min-width: 0;
    .box_thumb{
      position: relative;
      overflow: hidden;
      width: 100%;
      aspect-ratio: 1/1;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .box_badge{
        position: absolute;
        z-index: 10;
        @include vw-convert-pc(top, 10);
        @include vw-convert-pc(right, 10);
      }
      &:has(.list_info){
        .list_info{
          transform: translateY(100%);
        }
      }
    }
    .box_badge{
      display: flex;
      @include vw-convert-pc(gap, 6);
      & + .name{
        @include vw-convert-pc(margin-top, 14);
      }
    }

    .badge_interest{
      position: absolute;
      @include vw-convert-pc(top, 10);
      @include vw-convert-pc(right, 10);
    }
    
    .box_text{
      @include vw-convert-pc(margin-top, 28);
    }
    .category{
      color: #7A3420;
      @include vw-font-style-pc(16, 400, 1.3);
    }
    .name{
      display: block;
      color: $font-black;
      @include ellipsis(1);
      @include vw-convert-pc(margin-top, 10);
      @include vw-font-style-pc(22, 600, 1.3);
    }
    .desc{
      color: $dark-gray;
      @include ellipsis(2);
      @include vw-font-style-pc(16, 400, 1.5);
      @include vw-convert-pc(margin-top, 10);
    }
    .list_info{
      @include vw-convert-pc(margin, (34, 0, 48));
    }
    .item_info{
      display: flex;
      color: $dark-gray;
      @include vw-convert-pc(gap, 20);
      & + .item_info{
        @include vw-convert-pc(margin-top, 10);
      }
    }
    .item_title{
      flex: none;
      @include vw-convert-pc(width, 56);
      @include vw-font-style-pc(16, 500, 1.5);
    }
    .item_desc{
      @include ellipsis(2);
      @include vw-font-style-pc(16, 400, 1.5);
    }
    .box_btn{
      display: flex;
      justify-content: space-between;
      @include vw-convert-pc(margin-top, 30);
      @include vw-convert-pc(gap, 16);
    }
    
  }
}
.list_news{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include vw-convert-pc(gap, (90, 24));

  .nexs_title_box {
    display: block;
    overflow: hidden;
    @include vw-convert-pc(max-height, 58);
    @include vw-convert-pc(margin-top, 12);
    .news_title {
      display: inline;
    }

    .icon_link_arrow {
      display: inline-block;
      vertical-align: middle;
      width: 22px;
      height: 22px;
      transform: translateY(calc(-3 * 100 / 1920 * 1vw));
      @include useSvg-icons('icon_link_arrow', 22px);
      @include vw-convert-pc(margin-left, 8);
    }
  }

  .box_thumb{
    width: 100%;
    aspect-ratio: 432 / 284;
    background: url(../img/common/img_default_thumb.jpg) no-repeat center center / cover;
    @include vw-convert-pc(max-width, 432);
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .date{
    display: block;
    color: $dark-gray;
    @include vw-convert-pc(margin-top, 34);
    @include vw-font-style-pc(16, 500, 1.5);
  }
  .nexs_title_box .news_title{
    flex: 1 1 0%;
    min-width: 0;
    max-width: calc(100% - 30px);
  }
  .news_title{
    display: block;
    min-width: 0;
    color: $font-black;
    @include ellipsis(2);
    @include vw-convert-pc(margin-top, 12);
    @include vw-font-style-pc(22, 600, 1.3);
    
  }
}
@include breakpoint(desktop) {
  .list_product{
    &.type_link{
      .item_product {
        container-type: inline-size; 
        &:hover,
        &:focus{
          .btn_interest {
            opacity: 1;
            transition: opacity 0.3s ease 0.1s;
          }
        }
        .btn_interest {
          position: absolute;
          right: 0;
          transform: translateY(-100%);
          top: 100cqw; 
          padding: calc(24 * 100 / 1920 * 1vw);
          opacity: 0;
          transition: none;
        }
        
      }
    }
    .item_product,
    .link_product{
      &:hover,
      &:focus{
        .box_thumb:has(.list_info){
          .list_info{
            transform: translateY(0);
          }
        }
      }
    
      .box_thumb:has(.list_info){
        .list_info{
          position: absolute;
          bottom: 0;
          width: 100%;
          background: $beige-bg;
          margin: 0;
          box-sizing: border-box;
          transition: transform 0.3s ease;
          
          @include vw-convert-pc(padding,27);
        }
        .item_info{
          @include vw-convert-pc(gap, 16);
        }
        .item_title{
          flex: none;
          @include vw-convert-pc(width, 70);
          &:before{
            content:'·';
            display: inline-block;
            margin-right: 4px;
          }
        }
      }
    }
  }
}


@include breakpoint(mobile) {
  .list_product{    
    grid-template-columns: repeat(1, 1fr);
    gap: 34px;
    &.type_link{
      .item_product{
        .btn_interest {
          margin-top: 20px;
        }
      }
    }
    .item_product,
    .link_product{
      display: flex;
      flex-direction: column;
      .box_thumb{
        .box_badge{
          top: 10px;
          right: 10px;
          .badge{
            font-size: 16px;
            padding: 6px 10px;
          }
        }
        
      }
      .badge_interest{
        padding: 6px 12px;
        font-size: 14px;   
        right: 10px;
        top: 10px;
      }
      .box_badge{
        gap: 4px;
      }     
      .box_text{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        flex: 1;
      }
      .category{
        font-size: 12px;
      }
      .name{
        flex: 1;
        font-size: 16px;
        line-height: 1.52;
      }
      .list_info{
        margin: 14px 0 0;
      }
      .item_info{
        gap: 4px;
        & + .item_info{
          margin-top: 10px;
        }
      }
      .item_title{
        font-size: 12px;
        min-width: 56px;
      }
      .item_desc{
        font-size: 12px;
      }
      .box_btn{
        margin-top: 20px;
        gap: 8px;
      }
      
    }
  }
  .list_news{
    grid-template-columns: repeat(1, 1fr);
    gap: 34px;

    .date{
      font-size: 12px;
      margin-top: 20px;
    }
    

    .box_thumb{
      aspect-ratio: 320 / 208;
      max-width: none;
    }
    .news_title{
      margin-top: 8px;
      font-size: 16px;
    }
  }
  
}