.popup{
  position: fixed;
  box-sizing: border-box;
  top: 50%;
  transform: translateY(-50%);
  background: $beige-bg;
  z-index: 100;
  @include vw-convert-pc(right, 60);
  @include vw-convert-pc(width, 432);
  .box_popup_checkbox{
    input:checked + .label{
      &:before{
        @include useSvg-icons('icon_popup_checkbox_on', 24px);
      }
    }
    .label{
      display: flex;
      align-items: center;
      color: $font-gray;
      cursor: pointer;
      @include vw-convert-pc(gap, 4);
      @include vw-font-style-pc(14, 500, 1.5);
      &:before{
        content: '';
        display: block;
        @include useSvg-icons('icon_popup_checkbox_off', 24px);
      }
    }
  }
  .btn_close{
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 16px;
    right: 16px;
    width: 36px;
    height: 36px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    &:before{
      content: '';
      display: block;
      @include useSvg-icons('icon_popup_close', 24px);
    }
  }

  .box_popup_swiper{
    overflow: hidden;
    .box_popup_img{
      aspect-ratio: 640 / 920;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .swiper-wrapper{
      position: relative;
    }
  }
  .box_btn{
    position: absolute;
    left: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    transform: translateX(-50%);
    box-sizing: border-box;
    @include vw-convert-pc(gap, 12);
    @include vw-convert-pc(bottom, 26);
    @include vw-convert-pc(padding, (0 26));
    @include vw-convert-pc(height, 55);
    &:has(.btn_popup:nth-child(2)) {
      @include vw-convert-pc(height, 122); // 55 + 12 + 55
    }
    .btn_popup{
      flex: 1;
      display: flex;
      align-items: center;
      border: none;
      @include vw-convert-pc(height, 55);
      @include vw-convert-pc(gap, 4);
    }
  }
  .box_popup_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dddddd;
    @include vw-convert-pc(margin, (0 16 12));
    @include vw-convert-pc(padding-top, 12);
  }
  .box_swiper_control{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include vw-convert-pc(gap, 8);
    .btn_prev,
    .btn_next{
      &:before{
        content: '';
        display: block;
        @include useSvg-icons('icon_popup_arrow', 24px);
      }
      &.swiper-button-disabled{
        &:before{
          @include useSvg-icons('icon_popup_arrow_disabled', 24px);
        }
      }
    }

    .btn_prev{
      &:before{
        transform: rotate(180deg);
      }
    }
    .swiper-pagination{
      position: static;
      display: flex;
      align-items: center;
      justify-content: center;
      @include vw-font-style-pc(16, 500, 1.5);
      @include vw-convert-pc(gap, 6);
    }
  }

}

@include breakpoint(mobile) {
  .popup{
    left: 20px;
    right: 20px;
    transform: translateY(-50%);
    width: auto;
    .box_popup_checkbox{
      input:checked + .label{
        &:before{
          @include useSvg-icons-mo('icon_popup_checkbox_on', 20px);
        }
      }
      .label{
        gap: 4px;
        font-size: 12px;
        &:before{
          @include useSvg-icons-mo('icon_popup_checkbox_off', 20px);
        }
      }
    }
    .btn_close{
      top: 10px;
      right: 10px;
      width: 32px;
      height: 32px;
      &:before{
        @include useSvg-icons-mo('icon_popup_close', 28px);
      }
    }
    .box_btn{
      gap: 8px;
      height: 38px;
      &:has(.btn_popup:nth-child(2)) {
        height: 86px; // 38 + 8 + 38
      }
      .btn_popup{
        height: 38px;
        gap: 2px;
      }
    }
    .box_swiper_control{
      .btn_prev,
      .btn_next{
        &:before{
          @include useSvg-icons-mo('icon_popup_arrow', 20px);
        }
        &.swiper-button-disabled{
          &:before{
            @include useSvg-icons-mo('icon_popup_arrow_disabled', 20px);
          }
        }
      }

      .swiper-pagination{
        font-size: 14px;
        gap: 4px;
      }
    }

  }
}
