.wrap_my_select{
  display: flex;
  align-items: center;
  @include vw-convert-pc(gap, 36);

  .select_label{
    color: $font-black;
    @include vw-font-style-pc(24, 500, 1.3);
  }

  .box_my_select{
    position: relative;
  }
  .btn_my_select{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $font-black;
    color: #8D8D8D;
    min-width: 0;
    overflow: hidden;
    transition: color 0.2s ease;
    @include vw-convert-pc(width, 477);
    @include vw-convert-pc(padding-bottom, 7);
    @include vw-font-style-pc(16, 400, 1.3);
    .text{
      @include ellipsis(1);
    }
    &:after{
      content:"";
      display: block;
      flex-shrink: 0;
      @include useSvg-icons('icon_my_select_arrow', 24px);
      @include vw-convert-pc(margin-bottom, -2);
      @include vw-convert-pc(margin-left, 12);
    }
    &:hover{
      color: $font-black;
    }
    &.is_show{
      &:after{
        transform: rotate(180deg);
      }
      & + .list_select_box{
        display: block;
      }
    }
  }
}

.box_select{
  position: relative;
  @include vw-convert-pc(max-width, 264);
  
  .btn_select{
    position: relative;
    text-align: left;
    color: $font-black;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%;
    @include ellipsis(1);
    @include vw-font-style-pc(16, 400, 1.4);    
    @include vw-convert-pc(min-height, 56);
    @include vw-convert-pc(padding, (10, 50, 10, 20));
    &:after{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      content:'';
      display: block;
      @include useSvg-icons('icon_my_select_arrow', 24px);
      @include vw-convert-pc(right, 20);
    }
    &.is_show{
      &:after{
        transform: rotate(180deg) translateY(50%);
      }
      & + .list_select_box{
        display: block;
      }
    }
  }

}

.list_select_box{
  display: none;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  background: $white;
  border-radius: 10px;
  border: 1px solid $dark-gray;
  z-index: 10;
  transform: translateY(100%);
  overflow-y: auto;
  @include vw-convert-pc(max-height, 250);
  .btn_select_item{
    color: #8d8d8d;
    transition: color 0.2s ease;
    width: 100%;
    text-align: left;
    @include vw-convert-pc(min-height , 56);
    @include vw-convert-pc(padding, (10, 20));
    @include vw-font-style-pc(16, 400, 1.4);
    &:hover{
      font-weight: 600;
      color: $dark-gray;
    }
  }
}

.box_filter{
  position: relative;
  .btn_filter{
    position: relative;
    text-align: left;
    background: $beige-bg;
    border-radius: 100px;
    @include ellipsis(1);
    @include vw-font-style-pc(18, 500, 1.5);
    @include vw-convert-pc(padding, (10, 40, 10, 20));
    @include vw-convert-pc(width, 203 );
    @include vw-convert-pc(min-height, 51 );
    &:after{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      content:'';
      display: block;
      @include useSvg-icons('icon_project_arrow', 18px);
      @include vw-convert-pc(right, 20);
    }
    &.is_show{
      &:after{
        transform: rotate(180deg) translateY(50%);
      }
      & + .list_filter{
        display: block;
      }
    }
  }
  .list_filter{
    display: none;
    position: absolute;
    transform: translateY(100%);
    overflow-y: auto;
    background: $beige-bg;
    width: 100%;
    border-radius: 14px;
    z-index: 10;
    @include vw-convert-pc(bottom, -8);
    @include vw-convert-pc(max-height, 280);
    &::-webkit-scrollbar-thumb{
      border-color: $beige-bg;
    }
    .btn_filter_item{
      width: 100%;
      color: #8D8D8D;
      text-align: left;
      transition: font-size 0.3s ease, color 0.3s ease, font-weight 0.3s ease;
      word-break: break-all;
      @include vw-font-style-pc(16, 400, 1.4);
      @include vw-convert-pc(padding, (10, 20));
      @include vw-convert-pc(min-height, 56);
      
      @include breakpoint(desktop) {
        &:hover{
          color: $font-black;
          font-weight: 500;
          @include vw-convert-pc(font-size, 18);
        }
      }
    }
  }
}

.list_select_box,.list_filter{
  &::-webkit-scrollbar{
    width: 20px;
  }
  &::-webkit-scrollbar-thumb{
    background: #C9C9C9;
    border-radius: 99px;
    border: 7px solid $white;
  }
  &::-webkit-scrollbar-track{
    background: transparent;
  }
}


@include breakpoint(mobile) {
  .wrap_my_select{
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    .label{
      font-size: 18px;
    }
    .box_my_select{
      width: 100%;
    }
    .btn_my_select{
      width: 100%;
      font-size: 14px;
      padding-bottom: 6px;
      &:after{
        @include useSvg-icons-mo('icon_my_select_arrow', 16px);
      }
    }
  }
  .box_select{
    position: relative;
    max-width: 100%;
    
    .btn_select{
      font-size: 14px;
      height: 50px;
      padding: 0 50px 0 18px;
      &:after{
        @include useSvg-icons-mo('icon_my_select_arrow', 22px);
      }
    }
    
    
  }

  .list_select_box{
    bottom: -6px;
    border-radius: 6px;
    .btn_select_item{
      min-height: 50px;
      height: auto;
      padding: 15px 20px;
      font-size: 14px;
    }
  }
  
  .box_filter{
    .btn_filter{
      width: 100%;
      height: 48px;
      font-size: 14px;
      padding: 0 30px 0 18px;
      &:after{
        @include useSvg-icons-mo('icon_project_arrow', 16px);
      }
      &.is_show{
        &:after{
          transform: rotate(180deg) translateY(50%);
        }
      }
    }
    .list_filter{
      border-radius: 12px;
      bottom: -8px;
      max-height: 280px;
      .btn_filter_item{
        min-height: 48px;
        padding: 10px 18px;
        font-size: 14px;
      }
    }
  }
  
}