.box_sub_tab{
  display: flex;
  flex-direction: column;
  flex: none;
  @include vw-convert-pc(gap, 10);
  @include vw-convert-pc(width, 280);
  .btn_sub_tab{
    text-align: left;
    color: #CBCBCB;
    letter-spacing: -0.02em;
    @include vw-font-style-pc(30, 500, 1.4);
    &.is_active{
      color: $font-black;
      &:before{
        content:'-';
        display: inline-block;
        @include vw-convert-pc(margin-right, 4);
      }
    }
  }
}


@include breakpoint(desktop) {
  .box_sub_tab{
    &.type_large{
      @include vw-convert-pc(gap, 46);
      @include vw-convert-pc(width, 370);
      .btn_sub_tab{
        @include vw-font-style-pc(54, 400, 1.1);
      }
    }
  }
}


@include breakpoint(mobile) {
  .box_sub_tab{
    width: 100%;
    gap: 12px;
    .btn_sub_tab{
      font-size: 24px;
      line-height: 1.4;
      letter-spacing: 0;
      &.is_active{
        &:before{
          margin-right: 4px;
        }
      }
    }
  }
}
