@use 'sass:math';

$icons-svg-origin: (
  total-width: 396px,
  total-height: 355px,
  padding: 4px,
  imageSrc: '../img/icons-svg.svg'
);

$icons-svg-vars: (
  'icon_arrow': (
    offset-x: 0px,
    offset-y: -295px,
    width: 24px,
    height: 24px
  ),
  'icon_arrow_disabled': (
    offset-x: -32px,
    offset-y: -295px,
    width: 24px,
    height: 24px
  ),
  'icon_arrow_down': (
    offset-x: -64px,
    offset-y: -295px,
    width: 24px,
    height: 24px
  ),
  'icon_arrow_left': (
    offset-x: -372px,
    offset-y: -160px,
    width: 6px,
    height: 10px
  ),
  'icon_arrow_left_white': (
    offset-x: -372px,
    offset-y: -178px,
    width: 6px,
    height: 10px
  ),
  'icon_breadcrumb_arrow': (
    offset-x: -372px,
    offset-y: -104px,
    width: 12px,
    height: 12px
  ),
  'icon_call': (
    offset-x: -340px,
    offset-y: -222px,
    width: 20px,
    height: 20px
  ),
  'icon_call_black': (
    offset-x: -340px,
    offset-y: -250px,
    width: 20px,
    height: 20px
  ),
  'icon_call_white': (
    offset-x: -96px,
    offset-y: -295px,
    width: 24px,
    height: 24px
  ),
  'icon_checkbox': (
    offset-x: -220px,
    offset-y: -327px,
    width: 16px,
    height: 16px
  ),
  'icon_checkbox_on': (
    offset-x: -244px,
    offset-y: -327px,
    width: 16px,
    height: 16px
  ),
  'icon_circle_minus': (
    offset-x: -302px,
    offset-y: -76px,
    width: 26px,
    height: 26px
  ),
  'icon_circle_minus_on': (
    offset-x: -302px,
    offset-y: -110px,
    width: 26px,
    height: 26px
  ),
  'icon_circle_plus': (
    offset-x: -302px,
    offset-y: -144px,
    width: 26px,
    height: 26px
  ),
  'icon_circle_plus_on': (
    offset-x: -302px,
    offset-y: -178px,
    width: 26px,
    height: 26px
  ),
  'icon_close': (
    offset-x: -256px,
    offset-y: -98px,
    width: 36px,
    height: 36px
  ),
  'icon_copy': (
    offset-x: -106px,
    offset-y: -98px,
    width: 40px,
    height: 40px
  ),
  'icon_customer': (
    offset-x: -340px,
    offset-y: -278px,
    width: 20px,
    height: 20px
  ),
  'icon_customer_black': (
    offset-x: -274px,
    offset-y: -237px,
    width: 20px,
    height: 20px
  ),
  'icon_customer_white': (
    offset-x: -128px,
    offset-y: -295px,
    width: 24px,
    height: 24px
  ),
  'icon_double_arrow_left': (
    offset-x: -372px,
    offset-y: -124px,
    width: 11px,
    height: 10px
  ),
  'icon_double_arrow_left_white': (
    offset-x: -372px,
    offset-y: -142px,
    width: 11px,
    height: 10px
  ),
  'icon_download': (
    offset-x: -160px,
    offset-y: -295px,
    width: 24px,
    height: 24px
  ),
  'icon_empty': (
    offset-x: 0px,
    offset-y: -56px,
    width: 90px,
    height: 90px
  ),
  'icon_file_clear': (
    offset-x: -192px,
    offset-y: -295px,
    width: 24px,
    height: 24px
  ),
  'icon_header_close': (
    offset-x: -204px,
    offset-y: -98px,
    width: 44px,
    height: 44px
  ),
  'icon_header_close_mo': (
    offset-x: -224px,
    offset-y: -295px,
    width: 24px,
    height: 24px
  ),
  'icon_home': (
    offset-x: -259px,
    offset-y: -154px,
    width: 32px,
    height: 32px
  ),
  'icon_hyphen': (
    offset-x: -268px,
    offset-y: -327px,
    width: 16px,
    height: 16px
  ),
  'icon_input_search': (
    offset-x: -256px,
    offset-y: -295px,
    width: 24px,
    height: 24px
  ),
  'icon_layer_close': (
    offset-x: -302px,
    offset-y: 0px,
    width: 30px,
    height: 30px
  ),
  'icon_link_arrow': (
    offset-x: 0px,
    offset-y: -327px,
    width: 20px,
    height: 20px
  ),
  'icon_link_arrow_gray': (
    offset-x: -340px,
    offset-y: -192px,
    width: 22px,
    height: 22px
  ),
  'icon_list': (
    offset-x: -292px,
    offset-y: -327px,
    width: 16px,
    height: 16px
  ),
  'icon_list_white': (
    offset-x: -316px,
    offset-y: -327px,
    width: 16px,
    height: 16px
  ),
  'icon_location': (
    offset-x: -194px,
    offset-y: -237px,
    width: 32px,
    height: 32px
  ),
  'icon_logout': (
    offset-x: -28px,
    offset-y: -327px,
    width: 20px,
    height: 20px
  ),
  'icon_logout_white': (
    offset-x: -56px,
    offset-y: -327px,
    width: 20px,
    height: 20px
  ),
  'icon_menu_black': (
    offset-x: -288px,
    offset-y: -295px,
    width: 24px,
    height: 24px
  ),
  'icon_menu_white': (
    offset-x: -340px,
    offset-y: 0px,
    width: 24px,
    height: 24px
  ),
  'icon_minus': (
    offset-x: -340px,
    offset-y: -327px,
    width: 16px,
    height: 16px
  ),
  'icon_minus_mo': (
    offset-x: -302px,
    offset-y: -212px,
    width: 26px,
    height: 26px
  ),
  'icon_more_minus': (
    offset-x: -372px,
    offset-y: -72px,
    width: 14px,
    height: 2px
  ),
  'icon_more_plus': (
    offset-x: -372px,
    offset-y: -82px,
    width: 14px,
    height: 14px
  ),
  'icon_notice': (
    offset-x: -84px,
    offset-y: -327px,
    width: 20px,
    height: 20px
  ),
  'icon_notice_triangle': (
    offset-x: -106px,
    offset-y: 0px,
    width: 90px,
    height: 90px
  ),
  'icon_phone': (
    offset-x: -234px,
    offset-y: -237px,
    width: 32px,
    height: 32px
  ),
  'icon_plus': (
    offset-x: -372px,
    offset-y: 0px,
    width: 16px,
    height: 16px
  ),
  'icon_plus_mo': (
    offset-x: -302px,
    offset-y: -246px,
    width: 26px,
    height: 26px
  ),
  'icon_popup_arrow': (
    offset-x: -340px,
    offset-y: -32px,
    width: 24px,
    height: 24px
  ),
  'icon_popup_arrow_disabled': (
    offset-x: -340px,
    offset-y: -64px,
    width: 24px,
    height: 24px
  ),
  'icon_popup_checkbox_off': (
    offset-x: -340px,
    offset-y: -96px,
    width: 24px,
    height: 24px
  ),
  'icon_popup_checkbox_on': (
    offset-x: -340px,
    offset-y: -128px,
    width: 24px,
    height: 24px
  ),
  'icon_popup_close': (
    offset-x: -340px,
    offset-y: -160px,
    width: 24px,
    height: 24px
  ),
  'icon_popup_download': (
    offset-x: -168px,
    offset-y: -327px,
    width: 18px,
    height: 18px
  ),
  'icon_project_arrow': (
    offset-x: -194px,
    offset-y: -327px,
    width: 18px,
    height: 18px
  ),
  'icon_project_arrow_large': (
    offset-x: -143px,
    offset-y: -154px,
    width: 50px,
    height: 50px
  ),
  'icon_project_circle_arrow': (
    offset-x: -201px,
    offset-y: -154px,
    width: 50px,
    height: 50px
  ),
  'icon_project_close': (
    offset-x: 0px,
    offset-y: -154px,
    width: 75px,
    height: 75px
  ),
  'icon_radio': (
    offset-x: -372px,
    offset-y: -24px,
    width: 16px,
    height: 16px
  ),
  'icon_radio_on': (
    offset-x: -372px,
    offset-y: -48px,
    width: 16px,
    height: 16px
  ),
  'icon_required': (
    offset-x: -372px,
    offset-y: -196px,
    width: 8px,
    height: 8px
  ),
  'icon_search': (
    offset-x: -112px,
    offset-y: -327px,
    width: 20px,
    height: 20px
  ),
  'icon_search_empty': (
    offset-x: -204px,
    offset-y: 0px,
    width: 90px,
    height: 90px
  ),
  'icon_search_mo': (
    offset-x: -106px,
    offset-y: -237px,
    width: 36px,
    height: 36px
  ),
  'icon_search_small_mo': (
    offset-x: -302px,
    offset-y: -38px,
    width: 30px,
    height: 30px
  ),
  'icon_search_white': (
    offset-x: -140px,
    offset-y: -327px,
    width: 20px,
    height: 20px
  ),
  'icon_search_white_mo': (
    offset-x: -150px,
    offset-y: -237px,
    width: 36px,
    height: 36px
  ),
  'icon_swiper_arrow': (
    offset-x: -154px,
    offset-y: -98px,
    width: 40px,
    height: 40px
  ),
  'icon_swiper_arrow_off': (
    offset-x: -58px,
    offset-y: -237px,
    width: 40px,
    height: 40px
  ),
  'icon_swiper_search': (
    offset-x: 0px,
    offset-y: -237px,
    width: 50px,
    height: 50px
  ),
  'icon_top': (
    offset-x: -83px,
    offset-y: -154px,
    width: 52px,
    height: 52px
  ),
  'logo': (
    offset-x: 0px,
    offset-y: 0px,
    width: 98px,
    height: 20px
  ),
  'logo_white': (
    offset-x: 0px,
    offset-y: -28px,
    width: 98px,
    height: 20px
  ),
);
@function get-ratio($width, $height) {
    @return parse-int($width / $height);
}

@function get-scale($width, $new-width) {
    @return parse-int($new-width / $width);
}

@mixin useSvg-icons($image, $size: false) {
  $image-origin: $icons-svg-origin;
  $image-var: map-get($icons-svg-vars, $image);
  $image-path: map-get($image-origin, 'imageSrc');
  $padding: map-get($icons-svg-origin, 'padding');

  background-image: url($image-path);
  background-repeat: no-repeat;

  @if($size){
    @if(unitless($size)){
      @warn '"#{$size}" of "#{$image}" is unitless value. Please insert value with unit(px)';
    }
    @else {
      @media (max-width: 1439px) {
        $adjusted-size: calc($size * 1440 / 1920);
        $aspectRatio: calc(map-get($image-var, 'height') / map-get($image-var, 'width'));
        $sizeRatio: calc($adjusted-size / map-get($image-var, 'width'));
        
        width: $adjusted-size;
        height: calc($adjusted-size * #{$aspectRatio});
        background-size: calc(#{map-get($image-origin, 'total-width')} * #{$sizeRatio}) calc(#{map-get($image-origin, 'total-height')} * #{$sizeRatio});
        background-position: calc((#{map-get($image-var, 'offset-x')} - #{$padding}) * #{$sizeRatio}) calc((#{map-get($image-var, 'offset-y')} - #{$padding}) * #{$sizeRatio});
      }

      @media (min-width: 1440px) and (max-width: 2560px) {
        width: calc(math.div($size, 1px) / 1920 * 100vw);
        height: calc(math.div($size, 1px) / 1920 * 100vw * math.div(map-get($image-var, "height"), 1px) / math.div(map-get($image-var, "width"), 1px));
        background-size: calc( math.div(map-get($image-origin, "total-width"), 1px) / math.div(map-get($image-var, "width"), 1px) * math.div($size, 1px) / 1920 * 100vw) calc( math.div(map-get($image-origin, "total-height"), 1px) / math.div(map-get($image-var, "width"), 1px) * math.div($size, 1px) / 1920 * 100vw);
        background-position: calc((math.div(map-get($image-var, "offset-x"), 1px) - math.div($padding, 1px)) /  math.div(map-get($image-var, "width"), 1px) * math.div($size, 1px) / 1920 * 100vw) calc(( math.div(map-get($image-var, "offset-y"), 1px) - math.div($padding, 1px)) / math.div(map-get($image-var, "width"), 1px) * math.div($size, 1px) / 1920 * 100vw);
      }

      @media (min-width: 2561px) {
        $adjusted-size: calc($size * 2560 / 1920);
        $aspectRatio: calc(map-get($image-var, 'height') / map-get($image-var, 'width'));
        $sizeRatio: calc($adjusted-size / map-get($image-var, 'width'));
        
        width: $adjusted-size;
        height: calc($adjusted-size * #{$aspectRatio});
        background-size: calc(#{map-get($image-origin, 'total-width')} * #{$sizeRatio}) calc(#{map-get($image-origin, 'total-height')} * #{$sizeRatio});
        background-position: calc((#{map-get($image-var, 'offset-x')} - #{$padding}) * #{$sizeRatio}) calc((#{map-get($image-var, 'offset-y')} - #{$padding}) * #{$sizeRatio});
      }
    }
  }
  @else {
    width: map-get($image-var, 'width');
    height: map-get($image-var, 'height');
    background-size: map-get($image-origin, 'total-width') map-get($image-origin, 'total-height');
    background-position: (map-get($image-var, 'offset-x') - $padding) (map-get($image-var, 'offset-y') - $padding);
  }
}

@mixin useSvg-icons-mo($image, $size: false) {
  $image-origin: $icons-svg-origin;
  $image-var: map-get($icons-svg-vars, $image);
  $image-path: map-get($image-origin, 'imageSrc');
  $padding: map-get($icons-svg-origin, 'padding');

  background-image: url($image-path);
  background-repeat: no-repeat;

  @if($size){
    @if(unitless($size)){
      @warn '"#{$size}" of "#{$image}" is unitless value. Please insert value with unit(px)';
    }
    @else {
      width: calc(math.div($size, 1px) / 360 * 100vw);
      height: calc(math.div($size, 1px) / 360 * 100vw * math.div(map-get($image-var, "height"), 1px) / math.div(map-get($image-var, "width"), 1px));
      background-size: calc(math.div(map-get($image-origin, "total-width"), 1px) / math.div(map-get($image-var, "width"), 1px) * math.div($size, 1px) / 360 * 100vw) calc(math.div(map-get($image-origin, "total-height"), 1px) / math.div(map-get($image-var, "width"), 1px) * math.div($size, 1px) / 360 * 100vw);
      background-position: calc((math.div(map-get($image-var, "offset-x"), 1px) - math.div($padding, 1px)) / math.div(map-get($image-var, "width"), 1px) * math.div($size, 1px) / 360 * 100vw) calc((math.div(map-get($image-var, "offset-y"), 1px) - math.div($padding, 1px)) / math.div(map-get($image-var, "width"), 1px) * math.div($size, 1px) / 360 * 100vw);
    }
  }
  @else {
    width: map-get($image-var, 'width');
    height: map-get($image-var, 'height');
    background-size: map-get($image-origin, 'total-width') map-get($image-origin, 'total-height');
    background-position: (map-get($image-var, 'offset-x') - $padding) (map-get($image-var, 'offset-y') - $padding);
  }
}
@mixin useSvg-icons-mo($image, $size: false) {
  $image-origin: $icons-svg-origin;
  $image-var: map-get($icons-svg-vars, $image);
  $image-path: map-get($image-origin, 'imageSrc');
  $padding: map-get($icons-svg-origin, 'padding');

  background-image: url($image-path);
  background-repeat: no-repeat;

  @if($size){
    @if(unitless($size)){
      @warn '"#{$size}" of "#{$image}" is unitless value. Please insert value with unit(px)';
    }
    @else {
      $aspectRatio: calc(map-get($image-var, 'height') / map-get($image-var, 'width'));
      $sizeRatio: calc($size / map-get($image-var, 'width'));
      
      width: $size;
      height: calc($size * #{$aspectRatio});
      background-size: calc(#{map-get($image-origin, 'total-width')} * #{$sizeRatio}) calc(#{map-get($image-origin, 'total-height')} * #{$sizeRatio});
      background-position: calc((#{map-get($image-var, 'offset-x')} - #{$padding}) * #{$sizeRatio}) calc((#{map-get($image-var, 'offset-y')} - #{$padding}) * #{$sizeRatio});
    }
  }
  @else {
    width: map-get($image-var, 'width');
    height: map-get($image-var, 'height');
    background-size: map-get($image-origin, 'total-width') map-get($image-origin, 'total-height');
    background-position: (map-get($image-var, 'offset-x') - $padding) (map-get($image-var, 'offset-y') - $padding);
  }
}