


.sec_brand {
  color: $font-black;
  .eyebrow {
    @include vw-font-style-pc(24, 500, 1.46);
  }
  .title {
    @include vw-convert-pc(margin-top, 24);
    @include vw-font-style-pc(48, 500, 1.2);
  }
  
}

.sec_brand_life {
  overflow: hidden;
  // margin-left: auto;
  box-sizing: border-box;
  @include vw-convert-pc(padding, (122, 60, 152));
  
  .box_text{
    @include vw-convert-pc(margin, (130, 0, 0, auto));
    @include vw-convert-pc(max-width, 584);
    .sub_title{
      @include vw-font-style-pc(26, 500, 1.4);
    }
    .desc{
      color: $dark-gray;
      @include vw-convert-pc(margin-top, 26);
      @include vw-font-style-pc(18, 400, 1.5);
    }
  }
}

.sec_brand_core {
  background: $beige-bg;
  height: 150dvh;
  &.is_show {
    .box_panel {
      .box_main_img{
        transform: translateX(0);
      }
    }
  }
  .inner{
    height: 100dvh;
    position: sticky;
    top:0;
    margin-left: auto;
    box-sizing: border-box;
    @include vw-convert-pc(padding-left, 60);
    @include vw-convert-pc(max-width, 1768);
    .box_content{
      height: 100%;;
    }
  }
  .box_title{
    position: absolute;
    @include vw-convert-pc(left, 60);
    @include vw-convert-pc(top, 150);
  }
  .box_brand_tab {
    display: flex;
    @include vw-convert-pc(gap, 14);
    @include vw-convert-pc(margin-top, 36);
  }
  .btn_brand_tab {
    color: #858585;
    @include vw-font-style-pc(20, 500, 1.4);
    &:hover,
    &:focus,
    &.is_active {
      color: $font-black;
      font-weight: 600;
      text-underline-offset: 5px;
      text-decoration: underline;
    }
  }
  .box_panel{
    display: none;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
    &.is_show {
      display: flex;
    }
    .box_left{
      @include vw-convert-pc(padding-top, 438);
    }
    .list_hash{
      display: flex;
      @include vw-convert-pc(gap, 12);
      @include vw-font-style-pc(16, 500, 1.5);
    }
    .box_sub_img{
      aspect-ratio: 432 / 234;
      @include vw-convert-pc(width, 432);
      @include vw-convert-pc(margin-top, 26);
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .item_title{
      display: block;
      letter-spacing: -0.02em;
      @include vw-convert-pc(margin-top, 50);
      @include vw-font-style-pc(22, 500, 1.4);
    }
    .box_main_img{
      height: 100%;
      transform: translateX(100%);
      transition: transform 0.8s cubic-bezier(0.33, 1, 0.68, 1);
      @include vw-convert-pc(width, 668);
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.sec_brand_essense{
  @include vw-convert-pc(padding, (170, 0, 0, 60));
  &.is_show {
    .box_img{
      .img_inner{
        height: 100%;
      }
    }
  }
  .inner{
    display: flex;
    box-sizing: border-box;
    margin-left: auto;
    width: 100%;
    @include vw-convert-pc(max-width, 1708);
    @include vw-convert-pc(max-width, 1708);
  }
  .box_text{
    flex: none;
    width: 100%;
    @include vw-convert-pc(max-width, 456);
  }
  .box_img{
    position: relative;
    aspect-ratio: 1252/816;
    @include vw-convert-pc(width, 1252);
    @include vw-convert-pc(margin-top, 59);
    .img_inner{
      position: absolute;
      overflow: hidden;
      left: 0;
      top: 0;
      width: 100%;
      height: 0;
      transition: height 1.2s cubic-bezier(0.33, 1, 0.68, 1);
    }
    img{
      width: 100%;
    }
  }
  .sub_title{
    @include vw-convert-pc(margin-top, 12);
    @include vw-font-style-pc(24, 600, 1.4) ;
  }
  .desc{
    width: 80%;
    @include vw-convert-pc(margin-top, 50);
    @include vw-font-style-pc(18, 400, 1.5);
  }
  .slogan{
    align-self: flex-end;
    @include vw-convert-pc(margin, (0,5,96, auto));
    @include vw-font-style-pc(26, 500, 1.4)
  }
}
.sec_brand_story{
  @include vw-convert-pc(padding, (210, 60, 170));
  .box_text, .box_title{
    width: 100%;
    margin: 0 auto;
    @include vw-convert-pc(max-width, 1496);
  }
  .box_img{
    aspect-ratio: 1920 / 480;
    @include vw-convert-pc(margin, (120, -60, 0));
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .list_principle{
    display: flex;
    justify-content: flex-end;
    @include vw-convert-pc(margin-top, 140);
    @include vw-convert-pc(gap, 24);
    .item_principle{
      display: flex;
      flex-direction: column;
      background: $beige-bg;
      box-sizing: border-box;
      @include vw-convert-pc(width, 432);
      @include vw-convert-pc(height, 622);
      @include vw-convert-pc(padding, 30);
    }
    .item_keyword{
      display: block;
      flex: 1;
      @include vw-font-style-pc(30, 500, 1.4);
    }
    .item_title{
      display: block;
      @include vw-font-style-pc(30, 500, 1.4);
    }
    .item_desc{
      @include vw-convert-pc(margin-top, 20);
      @include vw-font-style-pc(18, 400, 1.46);
    }
  }
  .list_color{
    display: flex;
    @include vw-convert-pc(margin, (160, 0, 0 ,auto));
    @include vw-convert-pc(max-width , 1344);
    @include vw-convert-pc(gap, 24);
  }
  .item_color{
    flex: 1;
    display: grid;
    &:not(:first-child){
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 186px  186px repeat(2, calc(150 * 100 / 1920 * 1vw ));
    }
  }
  .box_color{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include vw-convert-pc(padding, 30);
    .color_name{  
      @include vw-font-style-pc(22, 500, 1.4);
    }
    .color_desc{
      color: $dark-gray;
      @include vw-font-style-pc(16, 400, 1.4);
    }
    &.type_small, &.type_x_small{
      @include vw-convert-pc(padding, (20, 30));
    }
    &.type_white{
      .color_name, .color_desc{
        color: $white;
      }
      .color_desc{
        opacity: 0.7  ;
      }
    }
    &.type_medium{
      grid-column: span 2;
      grid-row: span 2;
    }

    &.type_small{
      grid-column: span 2;
    }

    &.type_bg{
      background: url(../img/brand/bg_brand_color_chip.jpg) no-repeat center center / cover;
    }
    
  }
  .list_typo{
    display: flex;
    justify-content: flex-end;
    @include vw-convert-pc(margin-top, 140);
    @include vw-convert-pc(gap, 24);
    .item_typo{
      @include vw-convert-pc(width, 432);
    }
    .box_thumb{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      background: $beige-bg;
      box-sizing: border-box;
      @include vw-convert-pc(height, 612);
      @include vw-convert-pc(padding, 40);
    }
    .typo_name{
      color: $dark-gray;
      @include vw-font-style-pc(32, 400, 1.4);
    }
    .typo{
      
      @include vw-font-style-pc(48, 400, 1.3);
    }
    .typo_lang{
      @include vw-convert-pc(margin-top, 20);
      @include vw-font-style-pc(22, 500, 1.5);
    }
    .type_use{
      color: $dark-gray;
      @include vw-convert-pc(margin-top, 2);
      @include vw-font-style-pc(16, 400, 1.5);
    }
  }
}
.sec_brand_value{
  @include vw-convert-pc(padding, (20, 60, 270));
  .inner{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-left: auto;
    width: 100%;
    @include vw-convert-pc(max-width, 1648);
    @include vw-convert-pc(gap, 60);
  }
  .list_value{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include vw-convert-pc(margin-top, 52);
    @include vw-convert-pc(gap, (110, 24));
    .item_value{
      @include vw-convert-pc(width, 432);
    }
    .box_img{
      display: block;
      aspect-ratio: 120 / 120 ;
      @include vw-convert-pc(width, 120);
      img{
        width: 100%;  
        height: 100%;
        object-fit: cover;
      }
    }
    .item_title{
      display: block;
      @include vw-convert-pc(margin-top, 20);
      @include vw-font-style-pc(26, 500, 1.4);
    }
    .item_desc{
      @include vw-convert-pc(margin-top, 20);
      @include vw-font-style-pc(16, 400, 1.5);
    }
  }
}
.sec_brand_identity{
  @include vw-convert-pc(padding, (132, 60, 170));
  .btn_download{
    display: inline-flex;
    align-items: center;
    color: $font-black;
    @include vw-convert-pc(gap, 4);
    @include vw-convert-pc(margin-top, 40);
    @include vw-font-style-pc(18, 500, 1.4);
    &:after{
      content:'';
      display: block;
      @include useSvg-icons('icon_download', 24px);
    }
  }
  .box_img{
    display: flex;
    align-items: center;
    justify-content: center;
    background: $beige-bg;
    @include vw-convert-pc(margin, (110, -60,0));
    @include vw-convert-pc(height, 840);
    img{
      @include vw-convert-pc(width, 760);
    }
  } 
}

.sec_brand_product{
  display: flex;
  flex-direction: column;
  @include vw-convert-pc(gap, 24);
  img{
    width: 100%;
  }
}

@include breakpoint(mobile) {
  
  
  .sec_brand {
    .eyebrow {
      font-size: 16px;
    }
    .title {
      margin-top: 14px;
      font-size: 30px;
      line-height: 1.3;
    }
   
  }
  
  .sec_brand_life {
    padding: 60px 20px 72px;
    width: 100%;
    .box_text{
      margin-top: 124px;
      width: 100%;
      .sub_title{
        font-size: 18px;
      }
      .desc{
        margin-top: 20px;
        font-size: 14px;
      }
    }
  }
  
  .sec_brand_core {
    height: auto;
    .inner{
      position: relative;
      height: auto;
      padding: 80px 20px 110px;
      .box_content{
        height: auto;
      }
    }
    .box_title{
      position: static;
    }
    .box_brand_tab {
      margin-top: 32px;
      gap: 16px;
    }
    .btn_brand_tab {
      font-size: 14px;
    }
    
    .box_panel{
      display: none;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      &.is_show {
        display: flex;
      }
      .box_left{
        width: 100%;
        padding: 70px 0 0;
      }
      .list_hash{
        flex-direction:column;
        gap: 4px;
        font-size: 16px;
      }
      .box_sub_img{
        display: none;
      }
      .item_title{
        width: 100%;
        margin: 34px 0 0 auto;
        font-size: 18px;
        line-height: 1.4;
      }
      .box_main_img{
        width: 100%;
        margin: 24px 0 0 auto;
        transform: translateX(0);
      }
    }
  }
  .sec_brand_essense{
    padding: 80px 20px;
    .inner{
      flex-direction: column;
    }
    .box_text{
      max-width: 100%;
    }
    .box_img{
      margin-top: 48px;
      aspect-ratio: 320/365;
      width: 100%;
    }
    .sub_title{
      margin-top: 20px;
      font-size: 16px;
    }
    .desc{
      width: 100%;
      margin-top: 30px;
      font-size: 14px;
    }
    .slogan{
      margin: 34px 9px 0 auto;
      padding-bottom: 0;
      font-size: 14px;
    }
  }
  .sec_brand_story{
    padding: 80px 20px;
    .box_text, .box_title{
      flex-direction: column;
    }
    .box_img{
      aspect-ratio: 360 / 288;
      margin: 56px -20px 0;
    }
    .list_color{
      flex-direction: column;
      margin-top: 80px;
      gap: 8px;
    }
    .item_color{
      flex: none;
      height: auto;
      &:first-child{
        height: 240px;
      }
      &:not(:first-child){
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 80px);
      }
      &:nth-child(2){
        grid-template-rows: repeat(2, 120px);
      } 
    }
    .box_color{
      padding: 12px;
      .color_name{  
        font-size: 16px;
      }
      .color_desc{
        font-size: 10px;
      }
      &.type_small, &.type_x_small{
        padding: 12px;
      }
      &.type_medium{
        grid-column: 1 / 1;
        grid-row: 1 / 4;
      }
      &.type_small{
        grid-column: 2;
      }
     
    }

    .list_typo{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 70px;
      gap: 34px 8px;
      .item_typo{
        width: 100%;
        &:first-child{
          grid-column: 2 / 2;
        }
        &:nth-child(2){
          grid-column: 1 / 2;
        }
        &:nth-child(3){
          grid-column: 2 / 2;
        }
      }
      .box_thumb{
        height: 220px;
        padding: 14px;
      }
      .typo{
        font-size: 18px;
      }
      .typo_name{
        font-size: 12px;
      }
      .typo_lang{
        margin-top: 14px;
        font-size: 16px;
      }
      .typo_use{
        margin-top: 2px;
        font-size: 12px;
      }
    }
    .list_principle{
      margin-top: 80px;
      flex-direction: column;
      gap: 16px;
      .item_principle{
        padding: 20px;
        height: 440px;
      }
      .item_keyword{
        font-size: 22px;
      }
      .item_title{
        font-size: 22px;
        line-height: 1.4;
      }
      .item_desc{
        margin-top: 18px;
        font-size: 14px;
        line-height: 1.52;
      }
    }
  }
  .sec_brand_value{
    padding: 80px 20px 178px;
    .inner{
      flex-direction: column;
      gap: 90px;
    }
    .list_value{
      grid-template-columns: repeat(1, 1fr);
      gap: 50px;
      margin-top: 0;
      .item_value{
        width: 100%;;
      }
      .box_img{
        width: 90px;
      }
      .item_title{
        margin-top: 26px;
        font-size: 18px;
        line-height: 1.5;
      }
      .item_desc{
        margin-top: 14px;
        font-size: 16px;
      }
    }
  }
  .sec_brand_identity{
    padding: 63px 20px 0;
    .box_img{
      margin: 70px -20px 0;
      height: 288px;
      img{
        width: 266px;
      }
    }
    .btn_download{
      margin-top: 32px;
      gap: 4px;
      font-size: 16px;
      &:after{
        @include useSvg-icons-mo('icon_download', 22px);
      }
    }
   
  }
  .sec_brand_product{
    margin-top: 20px;
    gap: 8px;
  }
}