.interest_content,
.reservation_content {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  @include vw-convert-pc(padding, 0 60 180);
  @include vw-convert-pc(max-width, 1616);

  .box_layout_right {
    @include vw-convert-pc(margin, 50 0 0 auto);
    @include vw-convert-pc(max-width, 1040);
  }

  .box_btn_area {
    @include vw-convert-pc(margin-top, 60);

    &.type_grid {
      border-top: 1px solid #ccc;
      margin-left: auto;
      @include vw-convert-pc(padding-top, 50);

      .box_btn {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        @include vw-convert-pc(max-width, 370);
        @include vw-convert-pc(row-gap, 14);
      }

      .btn {
        &:first-child {
          grid-column: 1 / -1;
        }
      }
    }
  }
  .box_btn {
    display: flex;
    justify-content: center;
    @include vw-convert-pc(gap, 10);
  }
}

.sec_interest {
  @include vw-convert-pc(padding-top, 148);

  .title {
    letter-spacing: -0.02em;
    @include vw-font-style-pc(48, 500, 1.3);
  }

  .box_user_form {
    @include vw-convert-pc(margin-top, 50);
  }

  .info_desc {
    letter-spacing: -0.02em;
    @include vw-font-style-pc(16, 400, 1.4);
  }

  .box_select {
    width: 100%;
    box-sizing: border-box;
    @include vw-convert-pc(max-width, 552);
  }

  .box_phone_input {
    .box_select {
      @include vw-convert-pc(width, 264);
    }
    .box_input {
      @include vw-convert-pc(width, 264);
      @include vw-convert-pc(padding-left, 28);
      &:before {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        content: '';
        display: block;
        @include useSvg-icons('icon_hyphen', 16px);
        @include vw-convert-pc(margin, 0 6);
      }
    }
  }

  .box_account {
    .radio_group,
    .box_select {
      flex: 1;
    }

    .box_radio {
      display: inline-flex;
      @include vw-convert-pc(margin-top, 17);

      & + .box_radio {
        @include vw-convert-pc(margin-left, 30);
      }
    }
  }

  .box_account_info {
    .box_date,
    .box_input {
      flex: 1;
    }

    .box_date {
      .select_group {
        display: flex;
        @include vw-convert-pc(gap, 15);
      }
    }
  }

  .box_sub_title {
    box-sizing: border-box;
    background: #e1dbcd;
    @include vw-convert-pc(min-height, 118);
    @include vw-convert-pc(padding, 40);

    .sub_title {
      letter-spacing: -0.02em;
      @include vw-font-style-pc(28, 500, 1.3);
    }
  }
  .term_info{
    color: $dark-gray;
    @include vw-convert-pc(margin-top, 24);
    @include vw-font-style-pc(16, 500, 1.4);
  }

  .terms_content {
    overflow: hidden;
    border: 1px solid #ccc;
    @include vw-convert-pc(height, 355);
    @include vw-convert-pc(margin-top, 8);
    @include vw-convert-pc(border-radius, 10);
    iframe{
      width: 100%;
      height: 100%;
    }
  }

  .terms_checkbox {
    @include vw-convert-pc(margin-top, 14);

    .box_checkbox {
      justify-content: flex-end;
    }
  }

  .box_guide {
    background: #f8f8f8;
    letter-spacing: -0.02em;
    @include vw-convert-pc(margin-top, 30);
    @include vw-convert-pc(padding, 24 30);
    @include vw-font-style-pc(14, 400, 1.4);

    .item_guide {
      display: flex;
      @include vw-convert-pc(gap, 30);

      & + .item_guide {
        @include vw-convert-pc(margin-top, 8);
      }
    }

    .item_title {
      font-weight: 500;
    }
  }

  .box_option {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include vw-convert-pc(row-gap, 13);

    .box_checkbox {
      letter-spacing: -0.02em;
    }

    .label_checkbox {
      font-weight: 400;
    }
  }

  .box_complete {
    background: $primary-light;
    text-align: center;
    letter-spacing: -0.02em;
    @include vw-convert-pc(padding, 106 60);

    .sub_title {
      @include vw-font-style-pc(22, 500, 1.4);
    }

    .desc {
      @include vw-convert-pc(margin-top, 8);
      @include vw-font-style-pc(16, 400, 1.4);
    }
  }
}

.sec_reservation {
  @include vw-convert-pc(padding-top, 148);

  .title {
    letter-spacing: -0.02em;
    color: $dark-gray;
    @include vw-font-style-pc(30, 600, 1.3);
  }

  .sub_title {
    display: block;
    letter-spacing: -0.02em;
    @include vw-convert-pc(margin-top, 16);
    @include vw-font-style-pc(40, 600, 1.3);
  }

  .box_content {
    display: flex;
    @include vw-convert-pc(gap, 176);
    @include vw-convert-pc(margin-top, 90);
  }

  .box_sub_content {
    flex: 1;
  }

  .list_guide {
    display: flex;
    @include vw-convert-pc(gap, 40);
  }

  .item_guide {
    position: relative;
    flex: 1;
    background: $primary-light;
    letter-spacing: -0.02em;
    @include vw-convert-pc(padding, 32 30 32 100);

    &:before {
      content: '';
      position: absolute;
      right: 100%;
      top: 50%;
      transform: rotate(-90deg) translateX(50%);
      @include useSvg-icons('icon_my_select_arrow', 24px);
      @include vw-convert-pc(margin, 0 8);
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      @include vw-convert-pc(left, 30);
    }

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        &:after {
          @include useSvg-icons('icon_guide_step#{$i}', 50px);
        }
      }
    }

    &:first-child {
      &:before {
        display: none;
      }
    }

    .step {
      display: block;
      @include vw-font-style-pc(14, 400, 1.4);
    }

    .guide_title {
      display: block;
      @include vw-convert-pc(margin-top, 6);
      @include vw-font-style-pc(20, 600, 1.4);
    }
  }

  .list_notice {
    color: #585858;
    letter-spacing: -0.01em;
    @include vw-convert-pc(margin-top, 14);
    @include vw-font-style-pc(12, 400, 1.5);
  }

  .item_notice {
    &.type_warning {
      color: #ff1a2f;
    }
  }

  .box_user_form {
    display: flex;
    flex-direction: column;
    @include vw-convert-pc(gap, 80);
    .box_phone_input{
      @include vw-convert-pc(max-width, 848);
    }
  }

  .box_form_group {
    &:first-child {
      @include vw-convert-pc(margin-top, 80);
    }
    .form_title {
      display: block;
      letter-spacing: -0.02em;
      @include vw-font-style-pc(26, 600, 1.3);
    }
  }

  .box_row {
    [class^='box_'] {
      flex: 1;
    }
  }

  .box_calendar_row {
    margin-top: 0;

    .form_title {
      border-bottom: 1px solid #ccc;
      @include vw-convert-pc(padding-bottom, 20);
    }
  }

  .box_calendar {
    .flatpickr-wrapper {
      @include vw-convert-pc(margin-top, 10);
    }
  }

  .box_time {
    .time {
      @include vw-convert-pc(margin-top, 30);
    }

    .time_title {
      display: block;
      letter-spacing: -0.02em;
      @include vw-font-style-pc(20, 500, 1.3);

      &:not(:first-child) {
        @include vw-convert-pc(margin-top, 32);
      }
    }

    .list_time {
      display: flex;
      flex-wrap: wrap;
      @include vw-convert-pc(gap, 10);
      @include vw-convert-pc(margin-top, 14);
    }

    .btn_time {
      background: $primary-light;
      letter-spacing: -0.02em;
      @include vw-convert-pc(border-radius, 22);
      @include vw-convert-pc(padding, 10 20);
      @include vw-font-style-pc(16, 400, 1.3);

      &.is_selected {
        background: $primary-color;
        color: $white;
        font-weight: 600;
      }

      &:disabled {
        background: #ececec;
        cursor: not-allowed;
        pointer-events: none;
        color: rgba($font-black, 0.3);
      }
    }
  }

  .calendar_guide {
    display: flex;
    justify-content: flex-end;
    @include vw-convert-pc(margin-top, 14);
    @include vw-convert-pc(gap, 20);

    .text {
      display: flex;
      letter-spacing: -0.02em;
      color: #858585;
      @include vw-convert-pc(gap, 6);
      @include vw-font-style-pc(14, 400, 1.3);

      &:before {
        content: '';
        border: 1px solid #ccc;
        background: $white;
        @include vw-convert-pc(width, 16);
        @include vw-convert-pc(height, 16);
        @include vw-convert-pc(border-radius, 2);
      }

      &.type_light {
        &:before {
          background: $primary-light;
        }
      }

      &.type_disabled {
        &:before {
          background: #ececec;
        }
      }
    }
  }

  .terms_content {
    overflow: hidden;
    border: 1px solid #ccc;
    @include vw-convert-pc(height, 181);
    @include vw-convert-pc(margin-top, 16);
    @include vw-convert-pc(border-radius, 10);
    iframe{
      width: 100%;
      height: 100%;
    }
  }

  .terms_checkbox {
    @include vw-convert-pc(margin-top, 14);

    .box_checkbox {
      justify-content: flex-end;
    }
  }

  .info_desc {
    letter-spacing: -0.02em;
    @include vw-font-style-pc(16, 400, 1.4);
  }

  .box_birth {
    display: flex;
    @include vw-convert-pc(gap, 6);
    .box_select{
      @include vw-convert-pc(max-width, 115);
      &:first-child{
        @include vw-convert-pc(max-width, 158);
      }
    }
  }

  .list_user_info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include vw-convert-pc(gap, 30);

    .item_user_info {
      position: relative;
      display: flex;
      flex-direction: column;
      letter-spacing: -0.02em;
      @include vw-convert-pc(gap, 14);

      &.type_address {
        @include vw-convert-pc(padding-right, 242);

        .btn {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          @include vw-convert-pc(right, 140);
          @include vw-convert-pc(min-width, 82);
          @include vw-convert-pc(height, 45);
          @include vw-font-style-pc(14, 500, 1.5);
        }
      }
    }

    .item_title {
      display: flex;
      @include vw-font-style-pc(20, 600, 1.4);
      @include vw-convert-pc(gap, 3);
    }

    .item_desc {
      @include vw-font-style-pc(16, 400, 1.4);
    }
  }
}

.sec_reservation_confirm {
  .box_user_form {
    .box_row {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

@include breakpoint(mobile) {
  .interest_content,
  .reservation_content {
    .box_layout_right {
      margin-top: 24px;
      max-width: none;
    }

    .box_btn_area {
      margin-top: 40px;

      &.type_grid {
        .box_btn {
          max-width: 100%;
        }
      }
    }

    .box_btn {
      gap: 8px;
      .btn {
        width: 100%;
      }
    }
  }

  .interest_content {
    padding: 0 20px 140px;
  }

  .sec_interest {
    padding-top: 80px;
    .title {
      font-size: 30px;
    }

    .box_user_form {
      margin-top: 20px;
    }

    .info_desc {
      font-size: 14px;
    }

    .box_select {
      max-width: 100%;
    }

    .box_phone_input {
      row-gap: 8px;

      .box_select,
      .box_input {
        flex: 1;
        box-sizing: border-box;
      }

      .box_input {
        width: calc((100% / 3) - 16px);
        padding-left: 28px;
        &:before {
          margin: 0 6px;
          @include useSvg-icons-mo('icon_hyphen', 16px);
        }
      }
    }

    .box_sub_title {
      min-height: auto;
      padding: 28px 24px 45px;
    }
    .term_info{
      margin-top: 14px;
      font-size: 14px;
    }

    .terms_content {
      margin-top: 10px;
      overflow-y: auto;
      height: 364px;
      border-radius: 10px;
    }

    .terms_checkbox {
      margin-top: 14px;
    }

    .box_account {
      .box_radio {
        margin-top: 0;
        & + .box_radio {
          margin-left: 20px;
        }
      }
    }

    .box_account_info{
      .box_date {
        .select_group{
          gap: 10px;
        }
      }
    }

    .box_guide {
      margin-top: 40px;
      padding: 24px;
      font-size: 14px;

      .item_guide {
        flex-direction: column;
        gap: 8px;

        & + .item_guide {
          margin-top: 20px;
        }
      }
    }

    .box_option {
      grid-template-columns: none;
      gap: 8px;
    }

    .box_complete {
      padding: 50px 20px;

      .sub_title {
        font-size: 20px;
      }

      .desc {
        font-size: 14px;
      }
    }
  }

  .reservation_content {
    padding: 0 20px 140px;
  }

  .sec_reservation {
    padding-top: 80px;

    .title {
      font-size: 24px;
    }

    .sub_title {
      margin-top: 16px;
    }

    .box_content {
      flex-direction: column;
      gap: 40px;
      margin-top: 48px;
    }

    .list_guide {
      flex-direction: column;
      gap: 38px;
    }

    .item_guide {
      padding: 25px 25px 25px 94px;

      &:before {
        top: initial;
        right: initial;
        left: 50%;
        bottom: calc(100% + 8px);
        transform: rotate(0deg) translateX(-50%);
        margin: 0;
        @include useSvg-icons-mo('icon_my_select_arrow', 22px);
      }

      &:after {
        left: 24px;
      }

      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          &:after {
            @include useSvg-icons-mo('icon_guide_step#{$i}', 48px);
          }
        }
      }

      .step {
        font-size: 12px;
      }

      .guide_title {
        margin-top: 4px;
        font-size: 18px;
      }
    }

    .list_notice {
      margin-top: 16px;
      font-size: 12px;
    }

    .box_user_form {
      gap: 50px;
    }

    .box_row {
      [class^='box_'] {
        flex: none;
      }
    }

    .box_form_group {
      &:first-child {
        margin-top: 50px;
      }

      .form_title {
        font-size: 22px;
      }
    }

    .box_calendar_row {
      .form_title {
        padding-bottom: 20px;
      }

      .flatpickr-wrapper {
        width: 100%;
      }
    }

    .box_time {
      .time {
        margin-top: 14px;
      }

      .time_title {
        font-size: 16px;
      }

      .list_time {
        gap: 10px;
        margin-top: 10px;
      }

      .btn_time {
        padding: 10px 20px;
        font-size: 14px;
      }
    }

    .calendar_guide {
      margin-top: 12px;
      gap: 16px;

      .text {
        gap: 6px;
        font-size: 13px;

        &:before {
          width: 14px;
          height: 14px;
        }
      }
    }

    .terms_content {
      height: 187px;
      margin-top: 14px;
      border-radius: 10px;
    }

    .terms_checkbox {
      margin-top: 14px;
    }

    .box_birth {
      gap: 6px;

      .box_select {
        flex: 1;
        max-width: none;
      }
    }

    .info_desc {
      font-size: 14px;
    }

    .list_user_info {
      grid-template-columns: none;
      gap: 40px;

      .item_user_info {
        gap: 12px;

        &.type_address {
          padding-right: 100px;
          .btn {
            right: 0;
            min-width: 82px;
            height: 45px;
            font-size: 14px;
          }
        }
      }

      .item_title {
        font-size: 18px;
      }

      .item_desc {
        font-size: 16px;
      }
    }
  }
}
