body,
input,
select,
textarea,
button {
  font-family: 'Pretendard', 'Malgun Gothic', '맑은고딕', 'Apple SD Gothic Neo',
    Dotum, '돋움', sans-serif;
  color: $font-black;
  word-break: keep-all;
}

.document {
  padding: 40px;
  background: $white;
  color: $font-black;
}

.document .type_bold {
  font-weight: 700;
}
.document .type_underline {
  text-decoration: underline;
}

.document h1 {
  display: none;
}
.document h2 {
  text-align: left;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 600;
}
.document .box_content {
  margin-bottom: 60px;
  &:last-child {
    margin-bottom: 0;
  }
}
.document .desc,
.document .list_number,
.document .list {
  margin-top: 12px;
  &:first-child {
    margin-top: 0;
  }
}

.document .list,
.document .list_number {
  font-size: 16px;
  line-height: 1.4;
  color: $font-black;
  & > li {
    & + li {
      margin-top: 12px;
    }
  }
  .list_dot {
    margin-top: 8px;
  }
}

.document .list {
  .small_desc {
    padding-left: 20px;
  }
}

.document .list_number {
  list-style: decimal;
  padding-left: 26px;
}

.document .list_dot {
  list-style: disc;
  padding-left: 16px;
  margin-left: 4px;
}

.document .list_depth,
.document .small_desc {
  margin: 8px 0 12px;
  font-size: 14px;
  line-height: 1.5;
  color: $dark-gray;
  .list_depth {
    padding-left: 40px;
  }

  li {
    & + li {
      margin-top: 8px;
    }
  }
}

.document .sub_desc {
  margin-top: 4px;
  font-size: 14px;
  color: #858585;
}

.document .box_table {
  margin: 20px 0 40px;
  border-top: 1px solid $font-black;
  border-bottom: 1px solid #b9b9b9;
  table {
    width: 100%;
  }

  caption {
    display: none;
  }
  tr {
    & + tr {
      border-top: 1px solid #b9b9b9;
    }
  }

  &:not(.type_row) {
    th {
      border-bottom: 1px solid #b9b9b9;
      border-right: none;
      text-align: center;
    }
  }
  th {
    border-right: 1px solid #b9b9b9;
  }

  th,
  td {
    height: 90px;
    padding: 20px;
    vertical-align: middle;
    font-size: 20px;
    line-height: 1.3;
    text-align: left;
    box-sizing: border-box;

    & + th,
    & + td {
      border-left: 1px solid #b9b9b9;
    }
    &.center {
      text-align: center;
    }
  }
  th {
    color: $font-black;
    font-weight: 500;
    background: #faf9f7;
  }
  td {
    color: $dark-gray;
  }

  .list_number {
    padding-left: 20px;
    font-size: 20px;
    .list_depth {
      padding-left: 20px;
    }
  }
  .list_depth {
    padding-left: 40px;
    font-size: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .small_desc {
    font-size: 18px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.document h3 {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
  @include vw-convert-pc(padding, (10, 0));
}
.document .text_container {
  padding: 12px 0 40px;
  font-size: 16px;
  line-height: 1.4;
}

@include breakpoint(mobile) {
  .document{
    padding: 20px;
  }
  .document h2 {
    font-size: 18px;
  }

  .document .box_content {
    margin-bottom: 40px;
  }

  .document .box_table {
    overflow-x: auto;
  }
  .document .sub_desc {
    font-size: 12px;
    line-height: 1.4;
  }
  .document .list,
  .document .list_number {
    font-size: 14px;
    line-height: 1.4;
    .box_table {
      margin-left: -26px;
    }
  }
  .document .desc {
    font-size: 14px;
    line-height: 1.4;
  }

  .document .list_depth,
  .document .small_desc {
    font-size: 12px;
  }
  .document .list_dot {
    font-size: 14px;
    line-height: 1.4;
  }

  .document .box_table {
    white-space: nowrap;
    th,
    td {
      height: 52px;
      padding: 16px 20px;
      font-size: 14px;
      line-height: 1.5;
    }

    .list_number {
      font-size: 14px;
    }
    .list_depth {
      font-size: 12px;
    }
    .small_desc {
      font-size: 12px;
    }
  }
}
